.ajax_profile,.ajax_prescript{
    cursor: pointer;
}
.layui-table-body{
    overflow: hidden !important;
}
.padd_prescript{
    padding-left: 35px;
}
.profile_color{
    /*background: #009688;*/
}
.prescript_color{
    /*background: #1E9FFF;*/
}
.center_class{
    text-align: center;
    margin: 10px auto;
}
.layui-table-view{
    width: 98%;
    margin:20px;
}
.layui-table tbody tr:hover, .layui-table thead tr:hover, .layui-table-header:hover, .layui-table-total tr:hover,thead:hover{
    background: #fff !important;
}
thead{
    /*background: #000 !important;*/
    /*color: #fff !important;*/
}
th{
    background: #000 !important;
    color:#fff;
}
.layui-table-view .layui-table td, .layui-table-view .layui-table th{
    text-align: center;
}
.profile_color,.prescript_color,.order_cart_color{
    height: auto !important;
    display: block;
    /*width: 1820px;*/
    margin:auto;
    padding: 0px !important;
}
#displayImg{
    width: 100px;
    height: 100px;
    cursor: crosshair;
}
.parents_cart{
    padding: 20px;
}
.rx_parents_class_s{
    padding: 20px;
    box-shadow: 0 0 6px #a9a6a6;
    background: #fff;
    border-radius: 4px;
}
.Subtotal_cart>span{
    font-size: 18px;
    margin-right: 5px;
    color: #000;
}

.Subtotal_cart_num{
    width: 50%;
    float: right;
}
.Subtotal_cart_num .Subtotal_gy{
    margin-top: 10px;
}
.Subtotal_cart_num .Subtotal_gy>span{
    font-size: 14px;
    color: #444;
}
.Subtotal_cart_num .Subtotal_gy>span:nth-of-type(2){
    float: right;
}
.Subtotal_cart_pad{
    overflow: hidden;
    padding: 20px;
    position: relative;
}
.Subtotal_cart_img{
    float: left;
    width: 50%;
}
.Subtotal_cart_img img{
    width: 100%;
}
.shopping-cart-profile-name{
    margin-bottom: 15px;
    margin: 30px 0px;
}
.shopping-cart-profile-name span{
    border-bottom: 4px solid #f90;
    padding: 5px;
    text-transform:uppercase;
    font-size: 17px;
    padding-bottom: 0px;
    font-weight: bold;
}
.sendEmail_p{
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    color: #bd862f;
}
.order_class{
    width: 50%;
    float: left;
}
.order_class>div{
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    border:1px solid #ccc;
}
.order_class>div>p{
    color: #6d6c6c;
    margin-bottom: 5px;
}
.order_class>div span{
    color: #6d6c6c;
}
.order_class>li{
    font-size: 16px;
    color: #000;
    margin-bottom: 5px;
}
.order_parent{
    overflow: hidden;
    padding: 20px;
}
.order_ul_add>li:nth-of-type(1){
    margin-top: 20px;
}
.order_ul_add>li{
    padding: 7px;
    border-top: 1px solid #ccc;

}
.order_ul_add>li span:nth-of-type(2){
    float: right;
    margin-right: 40px;
}
.rx_parents_class{
    padding: 20px;
    box-shadow: 0 0 6px #a9a6a6;
    background: #fff;
    border-radius: 4px;
    width: 96%;
    margin: 10px auto;
}
.parent_pad{
    padding: 20px;
}
.Prescription_view_click{
    background:#5d504d!important;
    color:#fff !important;
}
#layerDemo tr:hover td{
    background:#eae9e9;
}
#layerDemo{
    display: none;
}
.Filter_class_parent{
    padding: 10px 0px !important;
}
.Filter_class{
    font-weight: bold !important;
    color: #000;
}
.email_filter{
    width: 300px !important;
}
.email_orderId{
    width: 240px !important;
}
#Search_filter{
    margin-left: 20px;
}
.parents_ys{
    width: 450px;
    float: right;
    height: 38px;
    line-height: 38px;
    background: #eee;
    text-align: center;
    border-radius: 2px;
    display: none;
}
.ys_text{
    color: #f90;
    margin-left: 5px;
    margin-right: 20px;
    font-weight: bold;
}
.chlid_order_list{
    box-shadow: 0 0 6px #130909;
    padding: 10px;
}
.product_name_sku{
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 400;
}
.product_name_sku_li{
    margin-bottom: 15px;
}

.quantity_li{
    position: absolute;
    right: 15px;
    bottom: 15px;
}
.padd_border_Prescription{
    width: 100%;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}
.Order_types{
    float: left;
}
.Order_types li{
    margin-bottom: 15px;
}
.Order_types li p{
    margin-bottom: 4px;
    font-weight: 500;
}
.Order_title{
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 16px;
}
.Order_sum_xj{
    overflow: hidden;
    padding: 20px 40px;
}
.xj_types li>span:nth-of-type(1){
    font-weight: 500;
}
.xj_types li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}
.xj_types{
    float: right;
    width: 23%;
}
.Grand_Total{
    color: #f90;
    font-size: 20px;
}