
.page_h1{
    font-weight: 600 !important;
    font-size: 24px !important;
    color: #101010 !important;
    line-height: 50px;
    text-align: center;
    margin-bottom: 25px;
}
#maincontent_s{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    max-width: 100%;
    box-sizing: border-box;
    font-size: 16px;
}



.sidebar-main{
    width: 22.3%;
    float: left;
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1;
}
.page-main .block {
    margin-bottom: 45px;
}

.account-nav>.title {
    padding: 15px 20px 5px;
    margin-bottom: 0;
    background: #f90;
    text-align: center;
    font-family: JosefinSansBold;
}
.account-nav>.content {
    padding: 10px 0 10px 15px;
    border: 1px solid #ccc;
    border-top: 0;
}
.block .title strong {
    font-size: 18px;
    color: #313131;
    padding: 10px 0;
    margin: 0;
    line-height: 1;
    float: none !important;
}

.account-nav>.title strong {
    color: #fff;
}

article, aside, details, figcaption, figure, main, footer, header, nav, section, summary {
    display: block;
}
.items {
    margin: 0;
    padding: 0;
    list-style: none none;
}
.account .account-nav>.content .item {
    padding: 5px 0;
}
.account .account-nav>.content .item>* {
    display: block;
    padding: 5px 10px;
    color: #101010;
}
.columns .sidebar-main {
    -webkit-flex-grow: 1;
    flex-grow: 1;
    -webkit-flex-basis: 100%;
    flex-basis: 100%;
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1;
    /*max-width: 100%;*/
}
.columns{
    overflow: hidden;
}
#select_A{
    color: #f90;
    border-left: 3px solid #f90;
    margin-left: -3px;
}
.orders-recent{
    width: 75%;
    float: right;
    margin-bottom: 25px;
}
.page-title-wrapper{
    margin-top: 20px;
}
.account-First{
    margin-bottom: 30px;
}
.Fenye{
    margin: 0 auto;
    text-align: center;
}




.Payne_Rewards{
    font-weight: 600;
    font-size: 24px;
    color:#252525;
    margin-bottom: 12px;
}

.bt_siez{
    font-family: Lato;
    color:#252525;
    font-weight: bold;
    font-size: 16px;
}
#faq{
    font-weight: 600;
    /*margin-left: 10px;*/
}
#intod{
    font-weight: normal;
}
.More_glasses{
    font-weight: bold !important;
}
.conent_size{
    font-size: 16px;
    color:#252525;
    font-weight: normal;
    margin: 20px 0px;
}
.xt_siez{
    font-style: italic;
    font-weight: bold;
}

.btn_join{
    display: block;
    background-color: #FFB454;
    width:120px;
    height:38px;
    border-radius: 3px;
    font-weight: bold;
    font-family: Lato;
    text-align: center;
    font-size: 16px;
    color: #fff;
    line-height: 38px;
    outline: none;
    border:none;
}

.btn_join:hover{
    background-color: #FF9900;
}

#btn_join_two{
    margin-bottom: 15px;
}
.box_color{
    width: 590px;
    height: 130px;
    background-color: #FFF7EB;
    border-radius: 4px;
    color: #FF9900;
    font-size: 16px;
}
#box2_color{
    height: 110px;
    font-size: 16px;
    font-weight: 600;
    display: flex;
    padding-top: 28px;
    justify-content: space-between;
    margin-bottom: 15px;
}
#box2_color li{
    width: 33%;
    display: block;
    text-align: center;
}
#box2_color li img{
    display: block;
    margin: 0 auto;
}
#box1_color{
    padding-left: 35px;
    padding-top: 35px;
}
@media(max-width:600px) {
    .box_color{
        width: 99%;
        height: auto;
    }
    #box1_color{
        padding:20px 15px;
    }
}
.block_span{
    display: inline-block;
}
.conent_morgin li,.bt_mar{
    margin-bottom: 10px;
}
#box1_color img{
    margin-bottom: 10px;
}
#box1_color p{
    position: relative;
    padding-left: 12px;
}
.dian{
    display: block;
    width: 8px;
    height: 1px;
    /*border-radius: 50%;*/
    background-color: #fff;
    position: absolute;
    left: -1px;
    top: 8px;
}

.tck_payne{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin:auto;
    background-color: rgba(0,0,0,0.5);
    z-index: 5555555;
}
.tck_payne_one{
    width:800px;
    height: 422px;
    background-color: #fff;
    padding: 30px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
}
.tck_payne_one h1{
    font-size: 24px;
    font-weight: 600;
    font-family:Lato;
    border-bottom: 1px solid #D8D8D8;
    text-align: center;
    padding:15px 0px;
    color: #303030;
}
.tck_payne_one p{
    font-size: 16px;
    color: #303030;
    font-family:Lato;
    margin:20px 0px;
}
.tck_payne_one input{
    display: block;
    width: 70%;
    height: 40px;
    outline: none;
    padding-left: 20px;
    font-size: 16px;
    border: 1px solid #D8D8D8;
    border-radius: 3px;
    box-shadow: 0px 6px 8px -4px #999;
    font-weight: 600;
}
.tck_payne_one button{
    width: 100px;
    height: 38px;
    background-color: #FFB454;
    color: #fff;
    font-family:Lato;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    line-height: 38px;
    margin-right: 10px;
    border-radius: 3px;
    outline: none;
    border:1px solid #FFB454;
}
.tck_payne_one div:nth-of-type(2){
    margin: 50px auto;
    width: 30%;
    display: flex;
    justify-content: space-between;
}
#Cancel{
    background-color: #fff;
    border:1px solid #FFB454;
    color: #ffb454;
}
.tck_payne_ch{
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 17px;
    font-weight: bold;
    color: #f90;
    cursor: pointer;
}
.hide{
    display: none;
}
@media(max-width:860px) {
    .tck_payne_one{
        width:90%;
        height: 470px;
    }
}

.tck_payne_one button:hover{
    background-color: #FF9900 !important;
    color: #fff !important;
}

.We_have{
    width:707px;
    /*height:140px;*/
    font-size: 16px;
    color:#006400;
    font-weight: 500;
    border-radius: 4px;
    background-color: #e5efe5;
    margin:15px 0px;
    padding: 20px;
    position: relative;
}
.We_have_close{
    display: none;
}
.We_have p{
    margin-bottom: 20px;
}
.We_have a{
    color:#FF9900;
    text-decoration: underline;
}

.We_have_ch{
    position: absolute;
    top: 5px;
    right: 10px;
    color:#6F6F6F;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}
.We_have_ch:hover{
    color: #f90;
}


.Ava{
    width: 100%;
    height:185px;
    background-image: url("../img/sovew.png");
    padding-top: 50px;

}
.Ava h1{
    font-size: 25px;
    font-weight: 600;
    width: 50%;
    text-align: left;
    margin:10px auto;
}
.Ava p{
    font-size: 20px;
    font-weight: 600;
    width: 50%;
    text-align: left;
    display: block;
    margin:5px auto;
}
.Rewards{
    font-size: 20px;
    font-weight: 600;
    margin: 20px auto;
}
#my-orders-table{
    border:1px solid #ccc;
}
#my-orders-table th,#my-orders-table td{
    text-align: center;
    font-size: 16px;
    line-height: 40px;
}
#rewards{
    font-weight: bold;
}
#privacy_lj{
    text-decoration: underline;
    color: #ffb454;
}
.January{
    color: #666666;
    font-size: 16px;
    line-height: 17px;
}
@media(min-width:769px) {
    #my-orders-table{
        display: inline-table;
    }
    .jf_lb,.mobel_h1{
        display: none;
    }
    .pc_h1{
        display: block;
    }
}
@media(max-width:768px) {
    .tck_payne_one button{
        width: 150px;
    }
    .tck_payne_one div:nth-of-type(2) {
        width: 100%;
    }
    .We_have{
        width: 95%;
        /*height: 220px;*/
    }
    .We_have_ch{
        display: none;
    }
    .close{
        display: block;
    }
    .We_have_close{
        display: block;
        margin: 0 auto;
        width: 120px;
        height: 38px;
        border: 1px solid #FFD28F;
        color: #252525 !important;
        text-align: center;
        line-height: 38px;
        text-decoration: none !important;
        font-size: 16px;
        border-radius: 4px;
    }
    .Rewards{
        text-align: center;
    }

    .jf_lb li{
        width: 100%;
        border-top: 1px solid #ccc;
        padding: 20px;
    }
    .jf_lb li p:nth-of-type(1){
        font-weight: 600;
        font-size: 18px;
        color: #000000;
    }
    .jf_lb li div{
        float: right;
        margin-top: -40px;
        font-size: 28px;
        color: #FF9900;
        line-height: 38px;
        font-weight: 600;
    }
    .jf_lb li p:nth-of-type(2){
        color: #666666;
        font-size: 18px;
        font-weight: 600;
        margin-top: 7px;
    }
    #my-orders-table{
        display: none;
    }
    .jf_lb{
        display: block;
    }
    .Ava{
        padding-top: 25px;
        padding-left: 20px;
    }
    .Ava h1{
        text-align: left;
        width: 75%;
    }
    .Ava p{
        text-align: left;
    }

}
@media(max-width:450px) {
    .tck_payne_one{
        height: 570px;
    }
    .tck_payne_one div:nth-of-type(2){
        margin: 20px auto;
    }
    .tck_payne_one input{
        width: 100%;
    }
    .We_have{
        /*height: 313px;*/
    }
}
@media(max-width:350px) {
    .Ava h1{
        text-align: left;
        width:95%;
    }
    .tck_payne_one{
        height: 560px;
        padding: 20px;
    }
}


#err_cw{
    margin-top: 10px;
    display: inline-block;
    margin-left: 10px;
    color: red;
}

#ts_cg{
    display:none;
    color:green;
}

.success{
    margin: 0 0 9px;
    padding: 12px 18px 12px 22.5px;
    display: block;
    font-size: 16px;
    background: #e5efe5;
    color: #006400;
    padding-left: 45px;
    position: relative;
}

.success:before{
    -webkit-font-smoothing: antialiased;
    font-size: 24px;
    line-height: 24px;
    color: #006400;
    content: '\f846';
    font-family: 'porto-icons';
    margin: -12px 0 0;
    vertical-align: middle;
    display: inline-block;
    font-weight: normal;
    overflow: hidden;
    speak: none;
    left: 0;
    top: 22px;
    width: 45px;
    position: absolute;
    text-align: center;
}

.error{
    margin: 0 0 9px;
    padding: 12px 18px 12px 22.5px;
    display: block;
    font-size: 16px;
    padding-left: 45px;
    position: relative;
    background: #fae5e5;
    color: #e02b27;
}
.error:before{
    -webkit-font-smoothing: antialiased;
    font-size: 24px;
    line-height: 24px;
    color: #b30000;
    content: '\f847';
    font-family: 'porto-icons';
    margin: -12px 0 0;
    vertical-align: middle;
    display: inline-block;
    font-weight: normal;
    overflow: hidden;
    speak: none;
    left: 0;
    top: 22px;
    width: 45px;
    position: absolute;
    text-align: center;
}
.pagination>li>a,
.pagination>li>span{
    color: #f90 !important;
}
.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover{
    background-color: #f90 !important;
    border-color: #f90 !important;
    color: #fff !important;
}
.user_ipt{
    font-weight: bold;
    color: #f90;
}
@media(max-width:1200px) {
    .sidebar-main,.orders-recent{
        width: 100%;
    }
}



