
*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}
.swiper-container{
    width: 100%;
}
.swiper-wrapper .swiper-slide{
    height: 40% !important;
}
.swiper-wrapper img{
    width: 100%;
    height: 40%;
}
.swiper-container  .swiper-slide{
    padding: 20px 0px 70px 0px;
}
.box2{
    /*height: 500px;*/
    padding-right:100px;
}
.box2>h3{
    margin-bottom: 20px;
}
.swiper-pagination-bullet {
    width: 140px;
    height: 70px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 0% !important;
    background: #fff !important;
    opacity: 0.7;
    /* border-radius: 50%; */
    /* box-shadow: 0 0 2px #000; */
    margin: 0 5px;
    outline: 0;
}
/*自定义分页器激活时的样式表现*/
.swiper-pagination-bullet-active {
    opacity: 1;
    border-color: #f90;
}
.swiper-button-prev,.swiper-button-next{
    color:#f90;
}
.swiper-button-prev:after, .swiper-container-rtl .swiper-button-next:after,
.swiper-button-next:after, .swiper-container-rtl .swiper-button-prev:after{
    font-size: 30px
}
.swiper-pagination-bullet img{
    width: 100%;
    height: 100%;
}
.FrameColor{
    overflow: hidden;
    padding-left: 116px;
}
.FrameColor ul{
    width: 120px;
    float: left;
    margin-right: 10px;
}
.FrameColor div{
    width:100%;
    border:1px solid #ccc;
    float: left;
    box-sizing: border-box;
    cursor: pointer;
    position: relative;
}
.FrameColor_select{
    border-color: #f90!important;
}

.FrameColor_select:before{
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    display: table;
    border: 8px solid #f90;
    border-top-color: transparent;
    border-left-color: transparent;
}

.FrameColor_select:after{
    content: '\f82b';
    position: absolute;
    right: 0px;
    bottom: -3px;
    display: table;
    color: #fff;
    font-size: 10px;
    font-family: 'porto-icons';
}



.FrameColor ul p{
    text-align: center;
}
.FrameColor div img{
    width:100%;
}
.Frame_pc{
    margin-right: 10px;
    font-weight: 600;
    font-size: 15px;
    padding-top: 18px;
    left: 10px;
    position: absolute;
}
.stock_s{
    width: 100%;
    margin-bottom: 40px;
}
.stock_s li{
    margin-bottom: 10px;
}
.stock_price{
    margin-right:10px;
}
.stock_price span:nth-of-type(1){
    color: #f90;
    font-size: 36px;
    font-weight: 600;
}
.stock_price s{
    color: #ccc;
    font-size: 20px;
}
.sm{
    margin-top: 10px;

}
.save_addTo{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    position: relative;
    margin-bottom: 40px;
}
.save_addTo div{
    width: 45%;
    font-size:15px;
    text-align: center;
    line-height: 36px;
    border:1px solid #ffb454;
    border-radius: 4px;
    font-weight: normal;
    cursor: pointer;
}
.save_addTo div:nth-of-type(1){
    color: #ffb454;
}
.save_addTo div:nth-of-type(2){
    color: #fff;
    background:#ffb454;
}
.add_to_cart:hover{
    background:#f90 !important;
    color: #fff !important;
    border-color:#f90 !important;
}
.share_parent span{
    margin-top: 20px;
    border-radius: 16%;
    font-size: 19px;
    color: #fff;
    display: inline-block;
    cursor: pointer;
    width: 20px;
    margin-right: 10px;
    min-width: 30px;
    text-align: center;
    line-height: 30px;
}
.share_parent span:nth-of-type(1){
    color: #000;
    font-size: 17px;
    margin-right: 20px;
}
.fb-share_class{
    background-color: #4267b2;
}
.tw-share_class{
    background-color: #1ca8e3;
}
.pint-share_class{
    background-color: #e40404;
}
.fb-share_class:before,.tw-share_class:before,.pint-share_class:before{
    color: #fff !important;
}
.row_details{
    padding:10px 50px;
}
.selector_color{
    color:#f90 !important;
}
.specif{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
}
.specif_li{
    font-weight: bold;
    color: #877874;
    font-size: 17px;
}
.dimen{
    font-size: 16px;
}
.specif_li a{
    color: #877874; !important;
    text-decoration: none;
}
#save_x{
    position: relative;
    padding-right: 19px;
}
#save_x::after{
    content: "\e143";
    color: #f90;
}
.js-order-ws{
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    /* width: 100%; */
    font-size: 1.4rem;
    border: 1px solid #f90;
    color: #f90;
    line-height: 32px;
    height: 38px;
    background-color: #fff;
    border-radius: 4px;
    outline: 0;
    display: block;
}
.js-order-ws::after {
    content: "\e143";
    color: #f90;
    margin-left: 4px;
    position: absolute;
    top: 2px;
    font-size: 15px;
    font-weight: lighter;
}
.box2{
    padding-top:40px;
}
.save_after_one::after{
    content:"\e005" !important;
    color:red !important;
}
.save_after_two::after{
    content:"\e143"!important;
    color:#f90 !important;
}
.save_after_one{
    background:#f90;
    color:#fff !important;
}
.save_after_two{
    background:#fff;
    color:#f90 !important;
}
.save_addTo_fiex{
    position: fixed;
    bottom: 0;
    z-index: 22222;
    right: 0;
    background: #fff;
    padding: 10px 20px;
    box-shadow: 1px 2px 9px #555;
    height: 60px !important;
    margin-bottom: 0px !important;
}
#tip_save{
    position: absolute;
    top: 50px;
    left: 2px;
    border: 1px solid #0cc485;
    border-radius: 5px;
    padding: 5px;
    background: #e5efe5;
    color: #006400;
    display: none;
}
.new_tip_save{
    top: -29px !important;
    left: 19px !important;
}
.out_of_stock{
    background-color: #ccc !important;
    border-color: #ccc !important;
}

.loading-mask{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    background: rgba(0,0,0,.4);
    z-index:99999999999;
}
.loading-mask img{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}
/*推荐 Start*/
.recommend>h2{
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
    color: #000;
}
#recommend_3{
    width: 98%;
}
#recommend_2{
    width: 70%;
}
#recommend_1{
    width:600px;
}
/*recommend_2*/
@media (max-width: 1200px) {
    #recommend_2{
        width: 98%;
    }
}
/*recommend_1*/
@media (max-width: 700px) {
    #recommend_1{
        width: 98%;
    }
}
.recommend_swiperSlide{
    padding: 0px 20px;
    cursor: pointer;
    position: relative;
    padding-bottom: 0px !important;
}
.recommend_swiperSlide p{
    text-align: center;
    color: #000;
    font-size: 20px;
}
.recommend_swiperSlide li{
    text-align: center;
    font-weight: bold;
}
.recommend_swiperSlide li del{
    color: #ccc;
    margin-right: 10px;
}
.recommend_swiperSlide li span{
    color: #ffb454;
}
.recommend_swiperSlide img{
    transform: scale(.9);
    transition: all ease .5s;
}
.recommend_swiperSlide:hover img{
    transform: scale(1);
}
.recommend_swiperSlide button:hover{
    background: #f90;
    color: #fff;
}
.xyuandian{
    width: 100%;
    height: 30px;
    text-align: center;
    margin-top: -10px;
}
.xyuandian>span{
    width: 23px;
    height: 23px;
    border: 1px solid transparent;
    border-radius: 50%;
    position: relative;
    display: inline-block;
    margin-right: 10px;
    /* padding-top: 3px; */
    padding-right: 0px;
    transition: all .3s ease;
    cursor: pointer;
}
.xyuandian>span:nth-of-type(1){
    border-color: #000;
}
.xyuandian>span:hover{
    border-color: #000;
}
.xyuandian>span>span{
    display: inline-block;
    width: 15px;
    height: 15px;
    background: blue;
    border-radius: 50%;
    box-shadow: 0 1px 2px #888;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
}
@media (max-width: 1300px) {
    .xyuandian{
        margin-top: 10px;
    }
}
@media (min-width: 1500px) {
    #recommend_3,#recommend_2,#recommend_1{
        margin-top: 40px;
    }
}

#recommend_3,#recommend_2,#recommend_1{
    margin-bottom: 20px;
}
@media (max-width: 800px) {
    .xyuandian{
        margin-top: -2px;
    }
    .recommend>h2{
        font-size: 18px;
    }
}
/*推荐 End*/
