@media (max-width: 1780px){
    .box2{
        padding-right:50px;
    }
}
@media (min-width: 1631px){
   .Frame_mobel{
       display: none;
   }
    .Frame_pc{
        display: block;
    }

}
@media (max-width: 1630px){
    .box2{
        padding-right:30px;
    }
    .Frame_pc{
        display: none;
    }
    .Frame_mobel{
        display: block;
        margin-bottom: 20px;
        font-size: 17px;
        font-weight: bold;
    }
    .FrameColor{
        padding: 0;
    }
}


@media (max-width: 1600px) and (min-width: 992px){
    /*.FrameColor ul{*/
        /*width: 110px;*/
    /*}*/
}
@media (max-width: 1480px) and (min-width: 992px){
    /*.FrameColor ul{*/
        /*width: 100px;*/
    /*}*/
    .box2{
        padding-right: 40px;
    }
    /*.swiper-pagination-bullet{*/
        /*width: 100px;*/
        /*height: 50px;*/
    /*}*/
}po_box
@media (max-width: 1111px) and (min-width: 992px){
    /*.FrameColor ul{*/
        /*width: 80px;*/
    /*}*/
}
@media screen and (min-width: 993px) {
    /*.details_mobel{*/
        /*display: none;*/
    /*}*/
    /*.details_pc{*/
        /*display: block;*/
        /*margin-top: 40px;*/
    /*}*/
}


@media screen and (max-width: 1024px) {
    .swiper-container .swiper-slide{
        padding-bottom: 100px;
    }
}



@media screen and (max-width: 992px) {
    .box2{
        padding-left: 60px;
    }
    .box2 h3:nth-of-type(1){
        text-align: center;
        margin-bottom: 30px;
    }
    /*.details_mobel{*/
        /*display: block;*/
        /*margin-top: 40px;*/
        /*padding-right: 20px;*/
    /*}*/
    /*.details_pc{*/
        /*display: none;*/
    /*}*/
    .swiper-pagination-bullet{
        width: 120px;
        height: 60px;
    }

}
@media screen and (max-width:500px) {
    .FrameColor ul {
        width: 100px;
    }
    .box2{
        padding-left: 30px;
    }
    .row_details{
        padding:10px;
    }
    .swiper-pagination-bullet{
        width: 90px;
        height:45px;
    }
    #additional{
        padding: 20px;
    }
    .specif_li{
        font-size: 15px;
        margin-bottom: 18px;
    }

}
@media screen and (max-width:380px) {
    .swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{
        bottom: -7px;
    }
    .swiper-pagination-bullet{
        margin-bottom:7px !important;
    }
}
