@font-face {
    font-family: 'porto-icons';
    src: url('../font/porto-icons.eot?11723173');
    src: url('../font/porto-icons.eot?11723173#iefix') format('embedded-opentype'),
    url('../font/porto-icons.woff2?11723173') format('woff2'),
    url('../font/porto-icons.woff?11723173') format('woff'),
    url('../font/porto-icons.ttf?11723173') format('truetype'),
    url('../font/porto-icons.svg?11723173#porto-icons') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family:JosefinSansBold;
    src:url('../font/JosefinSans-Bold.ttf') format('truetype')
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'porto-icons';
    src: url('../font/porto-icons.svg?11723173#porto-icons') format('svg');
  }
}
*/

[class^="porto-icon-"]:before, [class*=" porto-icon-"]:before {
    font-family: "porto-icons";
    font-style: normal;
    font-weight: normal;
    speak: none;

    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    /* opacity: .8; */

    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;

    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;

    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: .2em;

    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */

    /* Font smoothing. That was taken from TWBS */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.porto-icon-up-open:before { content: '\f800'; } /* '' */
.porto-icon-right-open:before { content: '\f801'; } /* '' */
.porto-icon-left-open:before { content: '\f802'; } /* '' */
.porto-icon-down-open:before { content: '\f803'; } /* '' */
.porto-icon-up-open-mini:before { content: '\f804'; } /* '' */
.porto-icon-right-open-mini:before { content: '\f805'; } /* '' */
.porto-icon-left-open-mini:before { content: '\f806'; } /* '' */
.porto-icon-down-open-mini:before { content: '\f807'; } /* '' */
.porto-icon-up-open-big:before { content: '\f808'; } /* '' */
.porto-icon-right-open-big:before { content: '\f809'; } /* '' */
.porto-icon-left-open-big:before { content: '\f80a'; } /* '' */
.porto-icon-down-open-big:before { content: '\f80b'; } /* '' */
.porto-icon-up-open-huge:before { content: '\f80c'; } /* '' */
.porto-icon-right-open-huge:before { content: '\f80d'; } /* '' */
.porto-icon-left-open-huge:before { content: '\f80e'; } /* '' */
.porto-icon-down-open-huge:before { content: '\f80f'; } /* '' */
.porto-icon-angle-up:before { content: '\f810'; } /* '' */
.porto-icon-angle-right:before { content: '\f811'; } /* '' */
.porto-icon-angle-left:before { content: '\f812'; } /* '' */
.porto-icon-angle-down:before { content: '\f813'; } /* '' */
.porto-icon-basket:before { content: '\f814'; } /* '' */
.porto-icon-mini-cart:before { content: '\f815'; } /* '' */
.porto-icon-heart:before { content: '\f816'; } /* '' */
.porto-icon-search:before { content: '\f818'; } /* '' */
.porto-icon-cancel:before { content: '\f819'; } /* '' */
.porto-icon-cancel-mini:before { content: '\f81a'; } /* '' */
.porto-icon-up-dir:before { content: '\f820'; } /* '' */
.porto-icon-right-dir:before { content: '\f821'; } /* '' */
.porto-icon-left-dir:before { content: '\f822'; } /* '' */
.porto-icon-down-dir:before { content: '\f823'; } /* '' */
.porto-icon-phone:before { content: '\f824'; } /* '' */
.porto-icon-pencil:before { content: '\f825'; } /* '' */
.porto-icon-pencil-mini:before { content: '\f826'; } /* '' */
.porto-icon-menu:before { content: '\f827'; } /* '' */
.porto-icon-location:before { content: '\f828'; } /* '' */
.porto-icon-mail:before { content: '\f829'; } /* '' */
.porto-icon-clock:before { content: '\f82a'; } /* '' */
.porto-icon-ok:before { content: '\f82b'; } /* '' */
.porto-icon-plus-squared-alt:before { content: '\f82c'; } /* '' */
.porto-icon-minus-squared-alt:before { content: '\f82d'; } /* '' */
.porto-icon-plus-squared:before { content: '\f82e'; } /* '' */
.porto-icon-minus-squared:before { content: '\f82f'; } /* '' */
.porto-icon-truck:before { content: '\f830'; } /* '' */
.porto-icon-dollar:before { content: '\f831'; } /* '' */
.porto-icon-lifebuoy:before { content: '\f832'; } /* '' */
.porto-icon-facebook:before { content: '\f833'; } /* '' */
.porto-icon-twitter:before { content: '\f834'; } /* '' */
.porto-icon-linkedin-squared:before { content: '\f835'; } /* '' */
.porto-icon-pinterest:before { content: '\f836'; } /* '' */
.porto-icon-gplus:before { content: '\f837'; } /* '' */
.porto-icon-youtube:before { content: '\f838'; } /* '' */
.porto-icon-th:before { content: '\f839'; } /* '' */
.porto-icon-th-list:before { content: '\f83a'; } /* '' */
.porto-icon-chart-bar:before { content: '\f83b'; } /* '' */
.porto-icon-heart-empty:before { content: '\f83c'; } /* '' */
.porto-icon-instagram:before { content: '\f83d'; } /* '' */
.porto-icon-up:before { content: '\f840'; } /* '' */
.porto-icon-right:before { content: '\f841'; } /* '' */
.porto-icon-down:before { content: '\f842'; } /* '' */
.porto-icon-left:before { content: '\f843'; } /* '' */
.porto-icon-star:before { content: '\f844'; } /* '' */
.porto-icon-star-empty:before { content: '\f845'; } /* '' */
.porto-icon-ok-circled:before { content: '\f846'; } /* '' */
.porto-icon-cancel-circled:before { content: '\f847'; } /* '' */
.porto-icon-help-circled:before { content: '\f848'; } /* '' */
.porto-icon-info-circled:before { content: '\f849'; } /* '' */
.porto-icon-attention:before { content: '\f84a'; } /* '' */
.porto-icon-mobile:before { content: '\f84b'; } /* '' */
.porto-icon-mail-alt:before { content: '\f84c'; } /* '' */
.porto-icon-skype:before { content: '\f84d'; } /* '' */
.porto-icon-doc:before { content: '\f84e'; } /* '' */
.porto-icon-user:before { content: '\f850'; } /* '' */
.porto-icon-help:before { content: '\f851'; } /* '' */
.porto-icon-info:before { content: '\f852'; } /* '' */
.porto-icon-help-circled-alt:before { content: '\f853'; } /* '' */
.porto-icon-info-circled-alt:before { content: '\f854'; } /* '' */
.porto-icon-chevron-left:before { content: '\f855'; } /* '' */
.porto-icon-chevron-right:before { content: '\f856'; } /* '' */
.porto-icon-reply:before { content: '\f857'; } /* '' */
.porto-icon-paper-plane:before { content: '\f858'; } /* '' */
.porto-icon-magnify:before { content: '\f859'; } /* '' */
.porto-icon-zoom-in:before { content: '\f85a'; } /* '' */
.porto-icon-zoom-out:before { content: '\f85b'; } /* '' */
.porto-icon-chat:before { content: '\f860'; } /* '' */
.porto-icon-folder:before { content: '\f861'; } /* '' */
.porto-icon-folder-open:before { content: '\f862'; } /* '' */
.porto-icon-tag:before { content: '\f863'; } /* '' */
.porto-icon-tags:before { content: '\f864'; } /* '' */
.porto-icon-calendar:before { content: '\f865'; } /* '' */
.porto-icon-circle-empty:before { content: '\f870'; } /* '' */
.porto-icon-shirt:before { content: '\f871'; } /* '' */
.porto-icon-computer:before { content: '\f872'; } /* '' */
.porto-icon-toys:before { content: '\f873'; } /* '' */
.porto-icon-garden:before { content: '\f874'; } /* '' */
.porto-icon-couch:before { content: '\f875'; } /* '' */
.porto-icon-sports:before { content: '\f876'; } /* '' */
.porto-icon-gift:before { content: '\f877'; } /* '' */