/*添加reviews样式[sdd-2019-10-15]*/
body{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: "LatoRegular";
    padding-bottom: 30px;
}
ul li{
    list-style: none;
}
.fa-star {
    position: relative;
    color: #d8d1ca;
}
.fa {
    display: inline-block;
    font-family: LatoRegular;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}
.fa-star:before {
    content: "\f005";
}
#check:after{
    content: "\f005";
    color: #ffb454;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 0%;
}
.reviews-fa-star:after{
    overflow: hidden;
}
#reviews_share{
    margin-top: 10px;
}
.reviews_title{
    color: #ffb454;
}
.reviews_span{
    color: #d8d1ca;
}
.reviews_a{
    color: #ffb454;
    margin-left: 10px;
   font-size: 17px;
    text-decoration: underline;
}

.reviews_a:hover{
    color: #f90;
    text-decoration: none;
}
#fix-fluid{
    width:100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgba(0,0,0,.5);
    z-index: 99999999;
    padding: 20px;
    display: none;
}
.reveiws-container{
    padding: 40px;
    width: 100%;
    height: 100%;
    background: #fff;
    border-radius: 5px;
    overflow-y: scroll;
    position: relative;
    /* padding: 0 50px; */
}
.close-fluid{
    color: #877874;
    font-size: 36px;
    position: fixed;
    right: 47px;
    top: 19px;
    cursor: pointer;
}
.close-fluid:hover{
    color: #ffb454;
}
.reveiws-container a:hover{
    text-decoration: none;
}
.imgs{
    width: 100%;
}
.reviews-conent{
    width: 100%;
    border: 1px solid #d8d1ca;
    background-color: #f7f6f4;
    padding: 20px;
}
.reveiws-container .reveiws-h3 h3{
    font-weight: 400;
    font-size: 24px;
    font-weight: normal;
}
.reveiws-container .reveiws-h3{
    margin-bottom: 10px;
}
.reveiws-container .reveiws-price p{
    color: #453635;
    /* padding-bottom: 5px; */
    font-size: 20px;
}
.reveiws-container .reveiws-price div{
    width: 65px;
    height: 3px;
    background: #ffb454;
}
.reveiws-container .reveiws-frame{
    padding-top: 10px;
}
.reveiws-container .reveiws-frame h6{
    font-size: 25px;
    font-weight: 700;
    padding: 20px 0 10px;
    margin-bottom: 5px;
}
.reveiws-container .reveiws-frame p{
    color: #877874;
    font-size:18px;
}
.reveiws-container .reveiws-galsses{
    font-size: 18px;
    font-weight: 700;
    text-transform: inherit;
}
.reveiws-galsses1{
    margin-bottom: 30px;
}
.reveiws-container .reveiws-galsses2{
    margin-bottom: 10px;
}
.reveiws-container .reveiws-galsses3{
    margin-bottom: 10px;
}
.reveiws-container .reveiws-galsses4{
    margin-bottom: 10px;
    margin-top: 20px;
}
.reveiws-container .reveiws-galsses span,.reveiws-container .zx-xh{
    color: #d00;
}
.reveiws-container .reveiws-wjx ul{
    padding-left: 30px;
    width: 200px;
    display: inline-block;
    margin-bottom: 0;
}
.reveiws-container .reveiws-wjx ul li{
    box-sizing: border-box;
    border: none;
    float: left;
    text-align: left;
    cursor: pointer;
    background: 0 0;
    height: inherit;
    color: #ffb454;
    font: normal normal normal 14px/1 'Font Awesome 5 Pro';
    width: 28px;
}
.reveiws-container .reveiws-wjx ul li .fa{
    color:  #ffb454;
    font-size: 23px;
    font-weight: 400;
    text-align: left;
    cursor: pointer;
    position: relative;
}

.reveiws-container .reveiws-wjx ul li .fa:before {
    content: "\f005";
}
.reveiws-container .fas:after{
    content: "\f005";
    position: absolute;
    right: 4px;
    top: 4px;
    color: #fff;
    font-size: 14px;
}
.reveiws-container .fas:hover:after{
    color: #ffb454;
}
.reveiws-container .selFa:after{
    content: "\f005";
    position: absolute;
    right: 4px;
    top: 4px;
    font-size: 14px;
    color:  #ffb454;
}
.reveiws-container .reviews-product{
    color: #877874;
    font-size: 14px;
    font-style: italic;
    display: inline-block;
    vertical-align: super;
}
.reveiws-container .reveiws-productInput input{
    display: block;
    max-width: 785px;
    border: 1px solid #ccc;
    outline: none;
    padding: 13px;
    color: #877874;
    box-shadow: none !important;
    width: 100%;
    box-sizing: border-box;
    background: #fff;
    background-clip: padding-box;
    vertical-align: baseline;


}
.reveiws-container .reveiws-show{
    font-size: 14px;
    cursor: pointer;
    color: #ffb454;
    margin-top: 30px;
    margin-bottom: 20px;
}
.reveiws-container .reveiws-show i::before{
    /* content: "\f164"; */
}
.reveiws-container .acs-headline-examples{
    font-style: italic;
    color: #877874;
    font-size: 15px;
    display: none
}
.reveiws-container .acs-headline-examples p{
    margin-top: 10px;
}
.reveiws-container .reveiws-textarea textarea,#YourReview,#Email_S,#Nickname{
    width:100%;
    outline: none;
    padding: 13px;
    height: 100px;
    border:1px solid #ccc;
    background-clip: padding-box;
    vertical-align: baseline;
}
#YourReview,#Email_S,#Nickname{
    height: 40px;
    overflow: hidden;
    line-height:40px;
    padding: 0 0 0 15px;
}
.reveiws-container .reveiws-words{
    font-size: 12px;
}
.reveiws-container .reveiws-words a{
    color: #453635;
    font-weight: bold;
}
.reveiws-container .reveiws-yN .acs_fieldset{
    display: inline;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
}
.reveiws-container .reveiws-yN{
    margin-top: 20px;
    text-align: left;
}
.reveiws-container .reveiws-yN .rec{
    margin-right: 20px;
}
.reveiws-container .acs_fieldset>span>a:hover{
    color: #ffb454;
}
.reveiws-container .reveiws-yN  .fa{
    color: #ffb454;
    font-size: 23px;
}
.reveiws-container .rioIpt{
    /* display: none; */
}
.reveiws-container .reveiws-nickname{
    margin-bottom: 10px;
    margin-top: 20px;
}

.reveiws-container .reveiws-nickname p{
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
    text-transform: inherit;

}
.reveiws-container .reveiws-nickname span{
    display: block;
    color: #bababa;
    font-size: 10px;
}
.reveiws-nickname div{
    width: 100%;
}
.reveiws-container .reveiws-nickname input{
    display: inline-block;
    width: 100% !important;
    padding: 13px;
    outline: none;
    color: #877874;
    border:1px solid #ccc;
    background: #fff;
    background-clip: padding-box;
    vertical-align: baseline;
}
.reveiws-container .reveiws-submit{
    text-align: center;
    overflow: hidden;
    margin-top: 20px;
}
.reveiws-container .reveiws-submit button{
    padding: 10px;
    margin-right: 15px;
    border: 1px solid  #f90;
    margin-right: 30px;
    font-size: 16px;
    line-height: 30px;
    border-radius: 5px;
    cursor: pointer;
    background: #fff;
}

.reveiws-container .reveiws-submit button:nth-of-type(1){
    color: #f90;
}
.reveiws-container .reveiws-submit button:nth-of-type(2){
    background:  #f90;
    color: #fff;
}
.reveiws-container .reveiws-submit button:nth-of-type(2):hover{
    background:  #ffb454;
    border: 1px solid  #ffb454;
}
.bus-active{
    display: inline-block;
    position: relative;
}
.bus-active a:hover{
    text-decoration: none;
}
.bus-downB{
    position: absolute;
    bottom: -1px;
    right: 0;
    width: 100%;
    height: 1px;
    background: #ccc;

}
.bus-down-active{
    background: #fff;
}
#additional>.reveiews-additional{
    display: none;
}
#additional>.reveiews-additional:nth-of-type(1){
    display: block;
}
.zx-container .zx-container{
    margin-top: 80px;
    /* width: 90%; */
    /* padding: 0 50px; */
}
.zx-container a:hover{
    text-decoration: none;
}
.zx-container .zx-score{
    color: #453635;
    margin-right: 20px;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 1.375;
    font-weight: bold;

}
.zx-container .zx-sort{
    font-size: 17px;
    display: inline-block;
    color: #fff;
    background: #ffb454;
    padding: 4px 6px 2px;
    border-radius: 3px;
    line-height: 1;
    margin-right: 7px;
    position: relative;
}
.zx-container .zx-rating span{
    font-size: 20px;
}
.zx-container .zx-sort:after{
    height: 0;
    width: 0;
    content: "";
    border: 5px solid #ffb454;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    display: block;
    position: absolute;
    right: -10px;
    top: 7px;
}
.zx-container .font-italic{
    font-weight: 400;
    font-size: 16px;
    color: #877874;
    vertical-align: middle;
    font-family: 'LatoRegular' !important;
    margin-left: 18px;
}
.zx-container .con {
    position:relative;
    display:inline-block;
    height:100px;
    width:100px;
}

.zx-container .percent-circle {
    position:absolute;
    height:100%;
    background:#ffb454;
    overflow: hidden;
}

.zx-container .percent-circle-right {
    right:0;
    width:50px;
    border-radius: 0 50px 50px 0/0 50px 50px 0;
}

.zx-container .percent-circle-right .right-content{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    transform-origin:left center;
    transform: rotate(0deg);
    border-radius: 0 50px 50px 0/0 50px 50px 0;
    background:#bbb;
}

.zx-container .percent-circle-left {
    width:50px;
    border-radius: 50px 0 0 50px/50px 0 0 50px;
}

.zx-container .percent-circle-left .left-content {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    transform-origin:right center;
    transform: rotate(0deg);
    border-radius: 50px 0 0 50px/50px 0 0 50px;
    background:#bbb;
}

.zx-container .text-circle {
    position: absolute;
    display:flex;
    align-items: center;
    justify-content: center;
    height:80%;
    width:80%;
    left:10%;
    top:10%;
    border-radius:100%;
    background:#fff;
    font-size: 37px;
}
.zx-container .zx-box_tt{
    height: 100px;
    /*margin-top:30px;*/
}
.zx-container .z_box{
    display:block;
    height: 100%;
    float: left;
    margin-right: 40px;
}
.zx-container .zx-bfb{
    line-height: 100px;
    margin:0;
    font-size: 30px;
}
.zx-container .zx-would{
    display: inline;
    line-height: 100px;
    font-size: 16px;
    font-weight: 700;
}
.zx-container .zx-box_title{
    width: 100%;
    height: 45px;
    background: #ece9e5;
    border-top: 1px solid #d8d1ca;
    margin-top: 30px;
    padding:0px;

}
.zx-container .zx-box_le{
    float: left;
    width: 272px;
    height: 100%;
    background: #fff;
    border:1px solid #ccc;
    position: relative;
}
.zx-container .zx-box_ri{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.zx-container .zx-box-right{
    width: 50px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    border-left: 1px solid #ccc;
}
.zx-container .zx-box_le_text{
    line-height: 50px;
    margin-left: 20px;
}
.zx-container .zx-box-right .caret{
    position: absolute;
    top: 50%;
    margin-top: -2px;
    vertical-align: middle;
    right: 17px!important;
    border-width: 7px;
    margin-top: -3px;
    color: #877874;
}
.zx-container .zx-div{
    margin-top: 30px;
}
.zx-container .zx-div ul{
    padding: 0;
    border-bottom: 1px solid #ccc;
    margin-bottom: 40px;
}
.zx-container .zx-div ul li{
    margin-bottom: 28px;
    height: auto !important;

}
.zx-container .zx-div ul li:last-child{
    margin-bottom: 0px;
}
.zx-container .zx-color{
    font-style: italic;
    font-size: 16px;
    margin-left: 13px;
}
.zx-container .zx-color a{
    color: #877874;
}
.zx-container .zc-h4{
    font-size: 25px;
}
.zx-container .zc-by,.zx-p{
    font-size: 17px;
    color: #877874;
    margin-bottom: 15px;
}
.zx-container .zx-was{
    margin-right: 18px;
}
.zx-container .acs_fieldset{
    display: inline-block;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    color: #ffb454;
}
.zx-container .acs_fieldset>span{
    margin-right: 15px;
}
.zx-container .acs_fieldset p{
    display: inline-block;
}
.zx-container .acs_fieldset .fa{
    font-size: 23px;
}
.rsr-span i{
    color:rgb(51, 51, 51);
}
.zx-container .zx-box_ri a,.rsr-span{
    color: #ffb454;
    /* line-height: 45px; */
    color: #ffb454;
    width: 50px;
    height: 44px;
    /*background: red;*/
    text-align: center;
    /* padding: 30px; */
    box-sizing: border-box;
}
.zx-container .zx-box_ri i{
    height: 20px;
    width: 20px;
    margin-top: 12px;
    border: 4px solid;
    box-sizing: border-box;
    display: inline-block;
    border-radius: 2px;
    border-right-width: 0;
    border-bottom-width: 0;
    cursor: pointer;
}
.zx-container .arrow-left___1BoUt{
    transform: rotate(-45deg);
}
.zx-container .arrow-right___10RxA{
    transform: rotate(135deg);
}
.zx-container .page-count{
    color: #877874;
    font-weight: bold;
    font-size: 16px;
}
#tab-label-additional-title{
    cursor: pointer;
}
.zx-container .zx_bodU{
    font-size: 20px;
    line-height: 44px;
    color: #877874;
}
.zx-container .rsr-pagination__inner___28Ue3{
    position: relative;
}
.zx-container .rsr-pagination__inner___28Ue3>span{
    margin-right: 60px;
}
.reviews-Tz{
    cursor: pointer;
}
.circle {
    width: 100px;
    height: 100px;
    position: absolute;
    border-radius: 50%;
    background: #ffb454;
}
.pie_left, .pie_right {
    width:100px;
    height:100px;
    position: absolute;
    top: 0;left: 0;
}
.right_circle, .left_circle {
    width:100px;
    height:100px;
    background:#ccc;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
}
.pie_right, .right_circle{
    clip:rect(0,auto,auto,50px);
}
.pie_left, .left_circle{
    clip:rect(0,50px,auto,0);
}
.mask {
    width: 85px;
    height: 85px;
    border-radius: 50%;
    position: relative;
    left: 8px;
    top: 8px;
    background: #FFF;
    text-align: center;
    line-height: 150px;
    font-size: 20px;
    font-weight: bold;
    color: #ffb454;
}
.fa_circle{
    position: absolute;
    top: 31%;
    right: 0px;
    left: 0px;
    bottom: 0px;
    font-size: 31px !important;
    font-weight: bold;
    margin: auto;
    display: block;
}


.cleanfloat::after{display: block; clear: both; content:""; visibility: hidden; height: 0;}
*{margin:0; padding:0;}

/*字体路径按照你的路径去修改*/
/*@font-face {*/
    /*font-family: 'AlluraRegular';*/
    /*src: url('fonts/fontawesome-webfont.eot'),*/
    /*url('http://www.fontsaddict.com/fontface/websymbols-regular.otf') format('embedded-opentype');*/
/*}*/
.starFive span {display: block;float: left;font-size: 25px; font-family: 'AlluraRegular';
    text-align: center;color: #888;width: 27px;height: 33px;line-height: 33px;
    margin-right: 5px;position: relative;overflow: hidden;white-space: pre;
}
.starFive span:before {position: absolute;
    left: 0;top: 0;display: block;width: 50%;
    content: attr(data-content);overflow: hidden;color: #F63;
}
.sF1 span:before{width:39%;}
.starFive .org_star {color: #F63;}
.starFive b {font-weight: normal; line-height: 40px;
    font-size: 25px;color: #888;margin-left: 10px;
}

/*end*/


.font-black{
    margin-bottom: 10px;
    color: #453635;
    font-family: 'LatoRegular';
    font-weight: 700 !important;
    box-shadow: 0 0 black;
    font-size: 18px;
}
.no-reviews___31TJc p{
    font-size: 16px;
    margin-bottom: 10px;
    color: #877874;
}
.btn-secondary{
    padding: 13px 18px;
    font-size: 16px;
    line-height: 22px;
    border-radius: 0;
    color: #ffb454;
    background-color: transparent;
    border:2px solid #f90;
    text-transform: Uppercase;
    transition: all .3s;
}
.btn-Write{
    margin: 13px 0px;
}

.btn-secondary:hover{
    background-color:  #ffb454;
    border-color: #ffb454;
    color: #fff;
}
.ok_reviews{
    width: 100%;
    color: #fff;
    font-size: 17px;
    background: #f90;
    padding: 5px 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    display: none;
}
@media screen and (min-width:1240px) {
    .Write_a_Review{
        float: right;
    }
}

@media screen and (max-width:1239px) {
    .Write_a_Review{
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 1200px) {
    .ok_reviews span{
        display: block;
    }
}

@media screen and (max-width:1045px) and (min-width:992px){
    .zx-container .zx-would{
        line-height: 0px;
    }
}

@media screen and (min-width: 768px) {
    .reveiws-container .reveiws-submit button{
        width: 220px;
    }
}

@media screen and (max-width:550px) {
    .product_to{
        display: block;
    }
}
@media screen and (max-width:1000px) {
    .close-fluid{
        right: 36px !important;
    }
}
@media screen and (max-width:992px) {
    .reveiws-wjx{
        margin-bottom: 20px;
    }
    .reviews-conent{
        margin-top: 30px;
    }
}
@media screen and (max-width: 768px) {
    .reveiws-container .reveiws-galsses1{
        margin-bottom: 10px;
    }
    .reveiws-container .reviews-product{
        margin-bottom: 20px;
    }
    .reveiws-container .reveiws-submit button{
        width: 100%;
        margin-bottom: 30px;
    }
    .close-fluid {
        right: 27px !important;
        top: 10px !important;
    }
}
@media screen and (max-width:640px) {
    .reveiws-container .reveiws-frame h6,
    .reveiws-container .reveiws-h3 h3{
        font-size: 20px !important;
    }
    .reveiws-container .reveiws-frame p{
        font-size: 16px !important;
    }
    .zx-container .zx-would{
        line-height: 58px !important;
    }
}

@media screen and (max-width:565px) {
    .zx-container .font-italic{
        display: block !important;
        margin-top: 20px;
    }
    .zx-container .acs_fieldset{
        margin-top: 20px;
    }
    .zx-container .zx-box_le {
        width: 240px !important;
    }

    .zx-container .zx-box_le_text{
        margin-left: 8px !important;
        font-size: 13px !important;
    }
    .zx-container .zx-box_le {
        width: 225px !important;
    }
}


@media screen and (min-width: 501px) {
    .mobel_Write {
        display: none;
    }
    .pc_review{
        display: block;
    }

}
@media screen and (max-width: 500px) {
    .mobel_Write {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
    .pc_review{
        display: none;
    }
    .zx-container .zx-box_tt{
        margin-top: 20px;
    }
    .zx-container .zx-box_title{
        margin-top: 57px;
    }


    .zc-h4{
        font-size: 20px !important;
    }
    .zc-by,.zx-color,.zx-container .zx-rating span{
        font-size: 15px !important;
    }
    .zx-container .zx-div ul li{
        margin-bottom: 13px !important;
    }
    .zx-container .zx-div{
        margin-top: 22px !important;
    }
    .zx-container .zx-div ul{
        margin-bottom: 17px !important;
    }
    .zx-container .zc-by, .zx-p{
        margin-bottom: 0px !important;
    }
    .zx-container .acs_fieldset .fa{
        font-size: 20px !important;
    }
    .rec0{
        font-size: 15px !important;
    }
    .zx-container .acs_fieldset{
        margin-bottom: 0px !important;
    }
    .reveiws-container .reveiws-frame h6, .reveiws-container .reveiws-h3 h3{
        font-size: 16px !important;
    }
    .reveiws-container .reveiws-frame p{
        font-size: 15px !important;
    }
    .reveiws-container .reveiws-frame h6{
        padding-top: 4px !important;
    }
    .reviews-conent{
        margin-top: 19px !important;
    }
    .reveiws-container .reveiws-galsses,.reveiws-container .reveiws-nickname p{
        font-size: 16px !important;
    }
    .reveiws-container .reveiws-show{
        margin-top: 13px !important;
    }
    .reveiws-container .reveiws-yN{
        margin-top: 8px !important;
    }
    .reviews-conent{
        padding-bottom: 0px !important;
    }
    .reveiws-nickname{
        margin-top: 3px !important;
    }


    .circle {
        width:70px!important;
        height: 70px!important;
    }
    .pie_left, .pie_right {
        width: 70px !important;
        height: 70px !important;
    }
    .right_circle, .left_circle {
        width:70px!important;
        height: 70px !important;
    }
    .pie_right, .right_circle{
        clip:rect(0,auto,auto,35px)!important;
    }
    .pie_left, .left_circle{
        clip:rect(0,35px,auto,0) !important;
    }
    .mask {
        width: 55px!important;
        height: 55px!important;
        left: 8px!important;
        top: 7px!important;
    }
    .fa_circle {
        top: 27% !important;
    }
    .btn-Write{
        margin: 0px !important;
        margin-bottom: 20px !important;
    }
    .reveiws-container{
        padding: 27px !important;
        padding-top: 45px !important;
    }
    .close-fluid{
        right: 21px !important;
        top: 1px !important;
        font-size: 42px !important;
    }
    .zx-box_tt{
        height: 70px !important;
    }
    .zx-container .z_box{
        margin-right: 0 !important;
    }
    .zx-container .zx-bfb{
        line-height: 70px !important;
    }
}

@media screen and (max-width:480px) {
    .zx-container .zx-box_ri a {
        margin-left: 26px !important;
    }
    .zx-container .rsr-pagination__inner___28Ue3>span {
        margin-right: 0px !important;
    }
    .zx-container .rsr-pagination__inner___28Ue3{
        width: 87px !important;
    }
}

@media screen and (max-width:400px) {
    .zx-container .zx-box_le {
        width: 205px !important;
    }
    .zx-container .zx-box_le_text{
        margin-left: 5px !important;
        font-size: 12px;
    }
    .zx-container .zx-box_le{
        width: 198px !important;
    }
    .zx-container .zx-5sE{
        display: block;
        margin-top: 10px;
    }
}

@media screen and (max-width:350px) {
    .zx-container .zx-5sE{
        display: block;
        margin-top:20px;
    }
    .zx-container .zx-box_ri a {
        margin-left: 26px !important;
    }
    .zx-container .rsr-pagination__inner___28Ue3>span {
        margin-right: 0px !important;
    }
    .zx-container .rsr-pagination__inner___28Ue3{
        width: 87px !important;
    }
    .zx-container .zc-h4/*添加reviews样式[sdd-2019-10-15]*/
    body{
        margin: 0;
        padding: 0;
        list-style: none;
        box-sizing: border-box;
        font-family: "LatoRegular";
        padding-bottom: 30px;
    }
    ul li{
        list-style: none;
    }
    .fa-star {
        position: relative;
        color: #d8d1ca;
    }
    .fa {
        display: inline-block;
        font-family: LatoRegular;
        font-style: normal;
        font-weight: normal;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
    }
    .fa-star:before {
        content: "\f005";
    }
    #check:after{
        content: "\f005";
        color: #ffb454;
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        width: 0%;
    }
    .reviews-fa-star:after{
        overflow: hidden;
    }
    #reviews_share{
        margin-top: 10px;
    }
    .reviews_title{
        color: #ffb454;
    }
    .reviews_span{
        color: #d8d1ca;
    }
    .reviews_a{
        color: #ffb454;
        margin-left: 10px;
        font-size: 17px;
        text-decoration: underline;
    }

    .reviews_a:hover{
        color: #f90;
        text-decoration: none;
    }
    #fix-fluid{
        width:100%;
        height: 100%;
        position: fixed;
        top: 0;
        right: 0;
        background-color: rgba(0,0,0,.5);
        z-index: 99999999;
        padding: 20px;
        display: none;
    }
    .reveiws-container{
        padding: 40px;
        width: 100%;
        height: 100%;
        background: #fff;
        border-radius: 5px;
        overflow-y: scroll;
        position: relative;
        /* padding: 0 50px; */
    }
    .close-fluid{
        color: #877874;
        font-size: 36px;
        position: fixed;
        right: 47px;
        top: 19px;
        cursor: pointer;
    }
    .close-fluid:hover{
        color: #ffb454;
    }
    .reveiws-container a:hover{
        text-decoration: none;
    }
    .imgs{
        width: 100%;
    }
    .reviews-conent{
        width: 100%;
        border: 1px solid #d8d1ca;
        background-color: #f7f6f4;
        padding: 20px;
    }
    .reveiws-container .reveiws-h3 h3{
        font-weight: 400;
        font-size: 24px;
        font-weight: normal;
    }
    .reveiws-container .reveiws-h3{
        margin-bottom: 10px;
    }
    .reveiws-container .reveiws-price p{
        color: #453635;
        /* padding-bottom: 5px; */
        font-size: 20px;
    }
    .reveiws-container .reveiws-price div{
        width: 65px;
        height: 3px;
        background: #ffb454;
    }
    .reveiws-container .reveiws-frame{
        padding-top: 10px;
    }
    .reveiws-container .reveiws-frame h6{
        font-size: 25px;
        font-weight: 700;
        padding: 20px 0 10px;
        margin-bottom: 5px;
    }
    .reveiws-container .reveiws-frame p{
        color: #877874;
        font-size:18px;
    }
    .reveiws-container .reveiws-galsses{
        font-size: 18px;
        font-weight: 700;
        text-transform: inherit;
    }
    .reveiws-galsses1{
        margin-bottom: 30px;
    }
    .reveiws-container .reveiws-galsses2{
        margin-bottom: 10px;
    }
    .reveiws-container .reveiws-galsses3{
        margin-bottom: 10px;
    }
    .reveiws-container .reveiws-galsses4{
        margin-bottom: 10px;
        margin-top: 20px;
    }
    .reveiws-container .reveiws-galsses span,.reveiws-container .zx-xh{
        color: #d00;
    }
    .reveiws-container .reveiws-wjx ul{
        padding-left: 30px;
        width: 200px;
        display: inline-block;
        margin-bottom: 0;
    }
    .reveiws-container .reveiws-wjx ul li{
        box-sizing: border-box;
        border: none;
        float: left;
        text-align: left;
        cursor: pointer;
        background: 0 0;
        height: inherit;
        color: #ffb454;
        font: normal normal normal 14px/1 'Font Awesome 5 Pro';
        width: 28px;
    }
    .reveiws-container .reveiws-wjx ul li .fa{
        color:  #ffb454;
        font-size: 23px;
        font-weight: 400;
        text-align: left;
        cursor: pointer;
        position: relative;
    }

    .reveiws-container .reveiws-wjx ul li .fa:before {
        content: "\f005";
    }
    .reveiws-container .fas:after{
        content: "\f005";
        position: absolute;
        right: 4px;
        top: 4px;
        color: #fff;
        font-size: 14px;
    }
    .reveiws-container .fas:hover:after{
        color: #ffb454;
    }
    .reveiws-container .selFa:after{
        content: "\f005";
        position: absolute;
        right: 4px;
        top: 4px;
        font-size: 14px;
        color:  #ffb454;
    }
    .reveiws-container .reviews-product{
        color: #877874;
        font-size: 14px;
        font-style: italic;
        display: inline-block;
        vertical-align: super;
    }
    .reveiws-container .reveiws-productInput input{
        display: block;
        max-width: 785px;
        border: 1px solid #ccc;
        outline: none;
        padding: 13px;
        color: #877874;
        box-shadow: none !important;
        width: 100%;
        box-sizing: border-box;
        background: #fff;
        background-clip: padding-box;
        vertical-align: baseline;


    }
    .reveiws-container .reveiws-show{
        font-size: 14px;
        cursor: pointer;
        color: #ffb454;
        margin-top: 30px;
        margin-bottom: 20px;
    }
    .reveiws-container .reveiws-show i::before{
        /* content: "\f164"; */
    }
    .reveiws-container .acs-headline-examples{
        font-style: italic;
        color: #877874;
        font-size: 15px;
        display: none
    }
    .reveiws-container .acs-headline-examples p{
        margin-top: 10px;
    }
    .reveiws-container .reveiws-textarea textarea,#YourReview,#Email_S,#Nickname{
        width:100%;
        outline: none;
        padding: 13px;
        height: 100px;
        border:1px solid #ccc;
        background-clip: padding-box;
        vertical-align: baseline;
    }
    #YourReview,#Email_S,#Nickname{
        height: 40px;
        overflow: hidden;
        line-height: 14px;
    }
    .reveiws-container .reveiws-words{
        font-size: 12px;
    }
    .reveiws-container .reveiws-words a{
        color: #453635;
        font-weight: bold;
    }
    .reveiws-container .reveiws-yN .acs_fieldset{
        display: inline;
        margin-bottom: 20px;
        font-size: 18px;
        font-weight: 700;
        cursor: pointer;
    }
    .reveiws-container .reveiws-yN{
        margin-top: 20px;
        text-align: left;
    }
    .reveiws-container .reveiws-yN .rec{
        margin-right: 20px;
    }
    .reveiws-container .acs_fieldset>span>a:hover{
        color: #ffb454;
    }
    .reveiws-container .reveiws-yN  .fa{
        color: #ffb454;
        font-size: 23px;
    }
    .reveiws-container .rioIpt{
        /* display: none; */
    }
    .reveiws-container .reveiws-nickname{
        margin-bottom: 10px;
        margin-top: 20px;
    }

    .reveiws-container .reveiws-nickname p{
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 10px;
        text-transform: inherit;

    }
    .reveiws-container .reveiws-nickname span{
        display: block;
        color: #bababa;
        font-size: 10px;
    }
    .reveiws-nickname div{
        width: 100%;
    }
    .reveiws-container .reveiws-nickname input{
        display: inline-block;
        width: 100% !important;
        padding: 13px;
        outline: none;
        color: #877874;
        border:1px solid #ccc;
        background: #fff;
        background-clip: padding-box;
        vertical-align: baseline;
    }
    .reveiws-container .reveiws-submit{
        text-align: center;
        overflow: hidden;
        margin-top: 20px;
    }
    .reveiws-container .reveiws-submit button{
        padding: 10px;
        margin-right: 15px;
        border: 1px solid  #f90;
        margin-right: 30px;
        font-size: 16px;
        line-height: 30px;
        border-radius: 5px;
        cursor: pointer;
        background: #fff;
    }

    .reveiws-container .reveiws-submit button:nth-of-type(1){
        color: #f90;
    }
    .reveiws-container .reveiws-submit button:nth-of-type(2){
        background:  #f90;
        color: #fff;
    }
    .reveiws-container .reveiws-submit button:nth-of-type(2):hover{
        background:  #ffb454;
        border: 1px solid  #ffb454;
    }
    .bus-active{
        display: inline-block;
        position: relative;
    }
    .bus-active a:hover{
        text-decoration: none;
    }
    .bus-downB{
        position: absolute;
        bottom: -1px;
        right: 0;
        width: 100%;
        height: 1px;
        background: #ccc;

    }
    .bus-down-active{
        background: #fff;
    }
    #additional>.reveiews-additional{
        display: none;
    }
    #additional>.reveiews-additional:nth-of-type(1){
        display: block;
    }
    .zx-container .zx-container{
        margin-top: 80px;
        /* width: 90%; */
        /* padding: 0 50px; */
    }
    .zx-container a:hover{
        text-decoration: none;
    }
    .zx-container .zx-score{
        color: #453635;
        margin-right: 20px;
        text-transform: uppercase;
        font-size: 16px;
        line-height: 1.375;
        font-weight: bold;

    }
    .zx-container .zx-sort{
        font-size: 17px;
        display: inline-block;
        color: #fff;
        background: #ffb454;
        padding: 4px 6px 2px;
        border-radius: 3px;
        line-height: 1;
        margin-right: 7px;
        position: relative;
    }
    .zx-container .zx-rating span{
        font-size: 20px;
    }
    .zx-container .zx-sort:after{
        height: 0;
        width: 0;
        content: "";
        border: 5px solid #ffb454;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        display: block;
        position: absolute;
        right: -10px;
        top: 7px;
    }
    .zx-container .font-italic{
        font-weight: 400;
        font-size: 16px;
        color: #877874;
        vertical-align: middle;
        font-family: 'LatoRegular' !important;
        margin-left: 18px;
    }
    .zx-container .con {
        position:relative;
        display:inline-block;
        height:100px;
        width:100px;
    }

    .zx-container .percent-circle {
        position:absolute;
        height:100%;
        background:#ffb454;
        overflow: hidden;
    }

    .zx-container .percent-circle-right {
        right:0;
        width:50px;
        border-radius: 0 50px 50px 0/0 50px 50px 0;
    }

    .zx-container .percent-circle-right .right-content{
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        transform-origin:left center;
        transform: rotate(0deg);
        border-radius: 0 50px 50px 0/0 50px 50px 0;
        background:#bbb;
    }

    .zx-container .percent-circle-left {
        width:50px;
        border-radius: 50px 0 0 50px/50px 0 0 50px;
    }

    .zx-container .percent-circle-left .left-content {
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        transform-origin:right center;
        transform: rotate(0deg);
        border-radius: 50px 0 0 50px/50px 0 0 50px;
        background:#bbb;
    }

    .zx-container .text-circle {
        position: absolute;
        display:flex;
        align-items: center;
        justify-content: center;
        height:80%;
        width:80%;
        left:10%;
        top:10%;
        border-radius:100%;
        background:#fff;
        font-size: 37px;
    }
    .zx-container .zx-box_tt{
        height: 100px;
        /*margin-top:30px;*/
    }
    .zx-container .z_box{
        display:block;
        height: 100%;
        float: left;
        margin-right: 40px;
    }
    .zx-container .zx-bfb{
        line-height: 100px;
        margin:0;
        font-size: 30px;
    }
    .zx-container .zx-would{
        display: inline;
        line-height: 100px;
        font-size: 16px;
        font-weight: 700;
    }
    .zx-container .zx-box_title{
        width: 100%;
        height: 45px;
        background: #ece9e5;
        border-top: 1px solid #d8d1ca;
        margin-top: 30px;
        padding:0px;

    }
    .zx-container .zx-box_le{
        float: left;
        width: 272px;
        height: 100%;
        background: #fff;
        border:1px solid #ccc;
        position: relative;
    }
    .zx-container .zx-box_ri{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .zx-container .zx-box-right{
        width: 50px;
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
        border-left: 1px solid #ccc;
    }
    .zx-container .zx-box_le_text{
        line-height: 50px;
        margin-left: 20px;
    }
    .zx-container .zx-box-right .caret{
        position: absolute;
        top: 50%;
        margin-top: -2px;
        vertical-align: middle;
        right: 17px!important;
        border-width: 7px;
        margin-top: -3px;
        color: #877874;
    }
    .zx-container .zx-div{
        margin-top: 30px;
    }
    .zx-container .zx-div ul{
        padding: 0;
        border-bottom: 1px solid #ccc;
        margin-bottom: 40px;
    }
    .zx-container .zx-div ul li{
        margin-bottom: 28px;
        height: auto !important;

    }
    .zx-container .zx-div ul li:last-child{
        margin-bottom: 0px;
    }
    .zx-container .zx-color{
        font-style: italic;
        font-size: 16px;
        margin-left: 13px;
    }
    .zx-container .zx-color a{
        color: #877874;
    }
    .zx-container .zc-h4{
        font-size: 25px;
    }
    .zx-container .zc-by,.zx-p{
        font-size: 17px;
        color: #877874;
        margin-bottom: 15px;
    }
    .zx-container .zx-was{
        margin-right: 18px;
    }
    .zx-container .acs_fieldset{
        display: inline-block;
        margin-bottom: 20px;
        font-size: 18px;
        font-weight: 700;
        cursor: pointer;
        color: #ffb454;
    }
    .zx-container .acs_fieldset>span{
        margin-right: 15px;
    }
    .zx-container .acs_fieldset p{
        display: inline-block;
    }
    .zx-container .acs_fieldset .fa{
        font-size: 23px;
    }
    .rsr-span i{
        color:rgb(51, 51, 51);
    }
    .zx-container .zx-box_ri a,.rsr-span{
        color: #ffb454;
        /* line-height: 45px; */
        color: #ffb454;
        width: 50px;
        height: 44px;
        /*background: red;*/
        text-align: center;
        /* padding: 30px; */
        box-sizing: border-box;
    }
    .zx-container .zx-box_ri i{
        height: 20px;
        width: 20px;
        margin-top: 12px;
        border: 4px solid;
        box-sizing: border-box;
        display: inline-block;
        border-radius: 2px;
        border-right-width: 0;
        border-bottom-width: 0;
        cursor: pointer;
    }
    .zx-container .arrow-left___1BoUt{
        transform: rotate(-45deg);
    }
    .zx-container .arrow-right___10RxA{
        transform: rotate(135deg);
    }
    .zx-container .page-count{
        color: #877874;
        font-weight: bold;
        font-size: 16px;
    }
    #tab-label-additional-title{
        cursor: pointer;
    }
    .zx-container .zx_bodU{
        font-size: 20px;
        line-height: 44px;
        color: #877874;
    }
    .zx-container .rsr-pagination__inner___28Ue3{
        position: relative;
    }
    .zx-container .rsr-pagination__inner___28Ue3>span{
        margin-right: 60px;
    }
    .reviews-Tz{
        cursor: pointer;
    }
    .circle {
        width: 100px;
        height: 100px;
        position: absolute;
        border-radius: 50%;
        background: #ffb454;
    }
    .pie_left, .pie_right {
        width:100px;
        height:100px;
        position: absolute;
        top: 0;left: 0;
    }
    .right_circle, .left_circle {
        width:100px;
        height:100px;
        background:#ccc;
        border-radius: 50%;
        position: absolute;
        top: 0;
        left: 0;
    }
    .pie_right, .right_circle{
        clip:rect(0,auto,auto,50px);
    }
    .pie_left, .left_circle{
        clip:rect(0,50px,auto,0);
    }
    .mask {
        width: 85px;
        height: 85px;
        border-radius: 50%;
        position: relative;
        left: 8px;
        top: 8px;
        background: #FFF;
        text-align: center;
        line-height: 150px;
        font-size: 20px;
        font-weight: bold;
        color: #ffb454;
    }
    .fa_circle{
        position: absolute;
        top: 31%;
        right: 0px;
        left: 0px;
        bottom: 0px;
        font-size: 31px !important;
        font-weight: bold;
        margin: auto;
        display: block;
    }


    .cleanfloat::after{display: block; clear: both; content:""; visibility: hidden; height: 0;}
    *{margin:0; padding:0;}

    /*字体路径按照你的路径去修改*/
    /*@font-face {*/
    /*font-family: 'AlluraRegular';*/
    /*src: url('fonts/fontawesome-webfont.eot'),*/
    /*url('http://www.fontsaddict.com/fontface/websymbols-regular.otf') format('embedded-opentype');*/
    /*}*/
    .starFive span {display: block;float: left;font-size: 25px; font-family: 'AlluraRegular';
        text-align: center;color: #888;width: 27px;height: 33px;line-height: 33px;
        margin-right: 5px;position: relative;overflow: hidden;white-space: pre;
    }
    .starFive span:before {position: absolute;
        left: 0;top: 0;display: block;width: 50%;
        content: attr(data-content);overflow: hidden;color: #F63;
    }
    .sF1 span:before{width:39%;}
    .starFive .org_star {color: #F63;}
    .starFive b {font-weight: normal; line-height: 40px;
        font-size: 25px;color: #888;margin-left: 10px;
    }

    /*end*/


    .font-black{
        margin-bottom: 10px;
        color: #453635;
        font-family: 'LatoRegular';
        font-weight: 700 !important;
        box-shadow: 0 0 black;
        font-size: 18px;
    }
    .no-reviews___31TJc p{
        font-size: 16px;
        margin-bottom: 10px;
        color: #877874;
    }
    .btn-secondary{
        padding: 13px 18px;
        font-size: 16px;
        line-height: 22px;
        border-radius: 0;
        color: #ffb454;
        background-color: transparent;
        border:2px solid #f90;
        text-transform: Uppercase;
        transition: all .3s;
    }
    .btn-Write{
        margin: 13px 0px;
    }

    .btn-secondary:hover{
        background-color:  #ffb454;
        border-color: #ffb454;
        color: #fff;
    }
    .ok_reviews{
        width: 100%;
        color: #fff;
        font-size: 17px;
        background: #f90;
        padding: 5px 10px;
        border-radius: 5px;
        margin-bottom: 20px;
        display: none;
    }
    @media screen and (min-width:1240px) {
        .Write_a_Review{
            float: right;
        }
    }

    @media screen and (max-width:1239px) {
        .Write_a_Review{
            margin-top: 20px;
            margin-bottom: 20px;
        }
    }

    @media screen and (max-width: 1200px) {
        .ok_reviews span{
            display: block;
        }
    }

    @media screen and (max-width:1045px) and (min-width:992px){
        .zx-container .zx-would{
            line-height: 0px;
        }
    }

    @media screen and (min-width: 768px) {
        .reveiws-container .reveiws-submit button{
            width: 220px;
        }
    }

    @media screen and (max-width:550px) {
        .product_to{
            display: block;
        }
    }
    @media screen and (max-width:992px) {
        .reveiws-wjx{
            margin-bottom: 20px;
        }
        .reviews-conent{
            margin-top: 30px;
        }
    }
    @media screen and (max-width: 768px) {
        .reveiws-container .reveiws-galsses1{
            margin-bottom: 10px;
        }
        .reveiws-container .reviews-product{
            margin-bottom: 20px;
        }
        .reveiws-container .reveiws-submit button{
            width: 100%;
            margin-bottom: 30px;
        }
        .close-fluid {
            right: 27px !important;
            top: 10px !important;
        }
    }
    @media screen and (max-width:640px) {
        .reveiws-container .reveiws-frame h6,
        .reveiws-container .reveiws-h3 h3{
            font-size: 20px !important;
        }
        .reveiws-container .reveiws-frame p{
            font-size: 16px !important;
        }
        .zx-container .zx-would{
            line-height: 58px !important;
        }
    }

    @media screen and (max-width:565px) {
        .zx-container .font-italic{
            display: block !important;
            margin-top: 20px;
        }
        .zx-container .acs_fieldset{
            margin-top: 20px;
        }
        .zx-container .zx-box_le {
            width: 240px !important;
        }

        .zx-container .zx-box_le_text{
            margin-left: 8px !important;
            font-size: 13px !important;
        }
        .zx-container .zx-box_le {
            width: 225px !important;
        }
    }


    @media screen and (min-width: 501px) {
        .mobel_Write {
            display: none;
        }
        .pc_review{
            display: block;
        }

    }
    @media screen and (max-width: 500px) {
        .mobel_Write {
            width: 100%;
            display: block;
            margin-bottom: 20px;
        }
        .pc_review{
            display: none;
        }
        .zx-container .zx-box_tt{
            margin-top: 20px;
        }
        .zx-container .zx-box_title{
            margin-top: 57px;
        }


        .zc-h4{
            font-size: 20px !important;
        }
        .zc-by,.zx-color,.zx-container .zx-rating span{
            font-size: 15px !important;
        }
        .zx-container .zx-div ul li{
            margin-bottom: 13px !important;
        }
        .zx-container .zx-div{
            margin-top: 22px !important;
        }
        .zx-container .zx-div ul{
            margin-bottom: 17px !important;
        }
        .zx-container .zc-by, .zx-p{
            margin-bottom: 0px !important;
        }
        .zx-container .acs_fieldset .fa{
            font-size: 20px !important;
        }
        .rec0{
            font-size: 15px !important;
        }
        .zx-container .acs_fieldset{
            margin-bottom: 0px !important;
        }
        .reveiws-container .reveiws-frame h6, .reveiws-container .reveiws-h3 h3{
            font-size: 16px !important;
        }
        .reveiws-container .reveiws-frame p{
            font-size: 15px !important;
        }
        .reveiws-container .reveiws-frame h6{
            padding-top: 4px !important;
        }
        .reviews-conent{
            margin-top: 19px !important;
        }
        .reveiws-container .reveiws-galsses,.reveiws-container .reveiws-nickname p{
            font-size: 16px !important;
        }
        .reveiws-container .reveiws-show{
            margin-top: 13px !important;
        }
        .reveiws-container .reveiws-yN{
            margin-top: 8px !important;
        }
        .reviews-conent{
            padding-bottom: 0px !important;
        }
        .reveiws-nickname{
            margin-top: 3px !important;
        }


        .circle {
            width:70px!important;
            height: 70px!important;
        }
        .pie_left, .pie_right {
            width: 70px !important;
            height: 70px !important;
        }
        .right_circle, .left_circle {
            width:70px!important;
            height: 70px !important;
        }
        .pie_right, .right_circle{
            clip:rect(0,auto,auto,35px)!important;
        }
        .pie_left, .left_circle{
            clip:rect(0,35px,auto,0) !important;
        }
        .mask {
            width: 55px!important;
            height: 55px!important;
            left: 8px!important;
            top: 7px!important;
        }
        .fa_circle {
            top: 27% !important;
        }
        .btn-Write{
            margin: 0px !important;
            margin-bottom: 20px !important;
        }
        .reveiws-container{
            padding: 27px !important;
            padding-top: 45px !important;
        }
        .close-fluid{
            right: 21px !important;
            top: 1px !important;
            font-size: 42px !important;
        }
        .zx-box_tt{
            height: 70px !important;
        }
        .zx-container .z_box{
            margin-right: 0 !important;
        }
        .zx-container .zx-bfb{
            line-height: 70px !important;
        }
    }

    @media screen and (max-width:480px) {
        .zx-container .zx-box_ri a {
            margin-left: 26px !important;
        }
        .zx-container .rsr-pagination__inner___28Ue3>span {
            margin-right: 0px !important;
        }
        .zx-container .rsr-pagination__inner___28Ue3{
            width: 87px !important;
        }
    }

    @media screen and (max-width:400px) {
        .zx-container .zx-box_le {
            width: 205px !important;
        }
        .zx-container .zx-box_le_text{
            margin-left: 5px !important;
            font-size: 12px;
        }
        .zx-container .zx-box_le{
            width: 198px !important;
        }
        .zx-container .zx-5sE{
            display: block;
            margin-top: 10px;
        }
    }

    @media screen and (max-width:350px) {
        .zx-container .zx-5sE{
            display: block;
            margin-top:20px;
        }
        .zx-container .zx-box_ri a {
            margin-left: 26px !important;
        }
        .zx-container .rsr-pagination__inner___28Ue3>span {
            margin-right: 0px !important;
        }
        .zx-container .rsr-pagination__inner___28Ue3{
            width: 87px !important;
        }
        .zx-container .zc-h4{
            font-size: 18px !important;
        }
        .zx-container .z_box{
            margin-right: 26px !important;
        }
        .zx-container .zx-box_le{
            width: 100% !important;
        }
        .zx-container .rsr-pagination__inner___28Ue3>span{
            margin-right: 45px !important;
        }
        .zx-container .rsr-pagination__inner___28Ue3 {
            width: 100% !important;
        }
        .zx-container .zx-row{
            margin-top: 52px !important;
        }
    }




{
        font-size: 18px !important;
    }
    .zx-container .z_box{
        margin-right: 26px !important;
    }
    .zx-container .zx-box_le{
        width: 100% !important;
    }
    .zx-container .rsr-pagination__inner___28Ue3>span{
        margin-right: 45px !important;
    }
    .zx-container .rsr-pagination__inner___28Ue3 {
        width: 100% !important;
    }
    .zx-container .zx-row{
        margin-top: 52px !important;
    }
}




