
.information_class{
    padding: 30px 40px 0px 0px;
}
.rx_parents_class,.editRx_class{
    padding: 20px;
}
#layerDemo-editrx select,#layerDemo-prism-edit_Rx select, .editRx_class .layui-input,.PrescriptionNickname{
    background: #fff;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 13px;
    height: 38px;
    line-height: 1.4;
    padding: 4.5px 9px 4px;
    vertical-align: baseline;
    width: 100%;
    box-sizing: border-box;
}
.editRx_class .layui-input,.PrescriptionNickname{
    width: 30%;
    margin-left: 10px;

}
.editRx_class #btn{
    margin-bottom: 20px;
    cursor: pointer;
    border-color: #f90;
    color: #f90;
    font-size: 16px;
}
.add_Customers{
    text-align: center;
    padding: 20px 0px;
}
.add_Customers p{
    color: #f90;
    text-decoration: underline;
    cursor: pointer;
    font-weight: bold;
}
#help_html tr:hover{
    background: #eee!important;
}
.pd_class{
    float: right;
}
.pd_class_select p{
    padding: 6px 10px;
    border-radius: 4px;
    color: #f90;
    border: 1px solid #f90;
    background: #fff;
    display: inline-block;
    margin-left: 5px;
    cursor: pointer;
}
.pd_class_select p:hover{
    background: #f90;
    color: #fff;
}
.pd_class_active{
    background: #f90 !important;
    color: #fff !important;
}
.editRx_class select{
    cursor: pointer;
}
.Email_bt{
    font-size: 20px;
    color: red;
    font-weight: bold;
}
.view_help_img,#displayImg,.prescription_img_edit,#portrait{
    width:100px;
    height:100px;
    cursor: crosshair;
}
.field-box-class{
    margin-left: 40px;
}
.subject_email{
    height: 40px;
    margin-bottom: 20px;
    margin-top: 10px;
    width: 95%;
    border-radius: 4px;
    border-color: #999;
    padding: 15px;
}
.Content_email{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 95%;
    border-radius: 4px;
    border-color: #999;
    padding: 15px;
    height: 172px;
    line-height: 28px;
}
.email_a{
    text-decoration: underline;
    color: #f90;
    margin-bottom: 10px;
    display: inline-block;
}
.modal-content-email{
    padding: 20px;
}
.email_bold{
    font-weight: 400;
    color: #ffb454;
}
.btn_add_file{
    padding: 10px;
    color: #ffb454;
    background: #fff;
    border: 1px solid #ffb454;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
    float: left;
    margin-bottom: 20px;

}
.help_ipt .btn_add_file{
    margin-left: 100px;
    margin-right: 40px;
}
.btn_add_file:hover{
    background:#ffb454;
    color: #fff !important;
}
body{
    padding: 20px;
}
.Filter_class_parent{
    display: block;
    margin: 10px auto;
}
.Filter_class{
    font-weight: bold !important;
    margin-top: 23px;
    color: #000;
}
.Filter_parent_class{
    display: flex;
    padding: 10px;
}
.Filter_parent_child{
    margin-right: 30px;
}
.Filter_parent_child label{
    display: inline-block;
    font-size: 16px;
    color: #f90;
    font-weight: 500;
}
.Filter_parent_child_div{
    display: inline-block;
}
.Filter_parent_child_div input,.Filter_parent_child_div select{
    width: 200px;
    display: block;
    height: 30px;
    border-radius: 4px;
    outline: none;
    border: 1px solid #999;
    margin-left: 10px;
    padding-left: 10px;
}
.Filter_parent_child_div select{
    height: 34px !important;
    cursor: pointer;
}
.Confirm_filter,.Clear_All_filter{
    padding: 6px 10px;
    border-radius: 2px;
    border: 1px solid #f90;
    background: #fff;
    color: #f90;
    margin-bottom: 10px;
    cursor: pointer;
}
.Confirm_filter:hover,.Clear_All_filter:hover{
    background: #f90;
    color: #fff;
}
.tip_img{
    color: #e4bf8f;
    font-size: 13px;
    margin-top: 5px;
}


.box-1{
    height: 200px;
    background-color: #09BB07;
    position: relative;
}
.box-1 .search{
    height: 40px;
    width: 80%;
    border-radius: 20px;
    border: none;
    background-color: #fff;
    position: absolute;
    left: 10%;
    bottom: -20px;
    box-shadow: 0 0 5px #999;
    z-index: 5;
    /*transition:all 0.5s ease-in-out	0s;*/
    top: auto;
    padding: 0 10px;
    box-sizing: border-box;
    outline:none;
}
.box-1 .search.fixed{
    height: 30px;
    width: 70%;
    border-radius: 15px;
    border: none;
    background-color: #eee;
    position: fixed;
    left: 20%;
    top: 5px;
    box-shadow: none;
    bottom: auto;
}
.box-top{
    background-color: rgba(255,255,255,0);
    z-index: 1;
    /*transition:all 0.5s ease-in-out	0s;*/
}
.box-top.active{
    background-color: rgba(255,255,255,1);
    height: 200px;
    position: fixed;
    width: 96%;
    left: 0;
    top: 0;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,.1);
    padding: 0px 30px;
}
.Prescriptions_h1{
    text-align: center;
    font-size: 20px;
    margin-top: 15px;
}
.layui-btn-xs-add{
    background:#e0a3a3;
}
.Prism_title{
    border-bottom: 3px solid #ffb454;
    width: 210px;
    font-weight: bold;
    font-size: 18px;
}
.btn_add_file{

}
thead th{
    color: #000;
    font-weight: bold;
}
.parents_ys{
    width: 450px;
    float: right;
    height: 38px;
    line-height: 38px;
    background: #eee;
    text-align: center;
    border-radius: 2px;
}
.ys_text{
    color: #f90;
    margin-left: 5px;
    margin-right: 20px;
    font-weight: bold;
}
.help_ipt_center{
    text-align: center;
}
.layui-btn-xs-add{
    background-color: #000 !important;
}
.num_user{
    background-color: #009688 !important;
}
.add_to_cart{
    background: #3c3cc7 !important;
}
.layui-table-sort-asc{
    border-bottom-color: #b2b2b2 !important;
}
.layui-table-sort-asc_active{
    border-bottom-color: #f90 !important;
    border-top-color: #f90 !important;
}
.box-top{
    padding: 0px 20px;
}
.layui-btn-xs-add,.layui-btn-xs-view,.layui-btn-xs-editRx,.btn_send_email,.layui-btn-xs-rx,.More_click{
    margin-left: 0px !important;
    margin-right: 5px !important;
    margin-bottom: 10px !important;
}
#myCheck + label{
    background-color: white;
    border-radius: 5px;
    border:1px solid #d3d3d3;
    width:20px;
    height:20px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    line-height: 20px;
    cursor: pointer;
}
#myCheck:checked + label{
    background-color: #eee;
}
#myCheck:checked + label:after{
    content:"\2714";
}

.layui-table-sort .layui-edge{
    border-width: 8px !important;
}
.layui-table-sort{
    height: 27px !important;
}
.email_more{
    text-decoration: underline;
    color: #f90;
    cursor: pointer;
}
.readio_gd input{
    width: 20px;
    height: 20px;
    position: absolute;
    left: -30px;
    top: 6px;
    cursor: pointer;
}
.readio_gd div{
    margin-bottom: 10px;
    line-height: 30px;
    position: relative;
    height: 30px;
}
.readio_gd div{
    cursor: pointer;
}
.gd_parents_box{
    margin-top: 30px;
}
.gd_disabled {
    pointer-events: none;
    cursor: default !important;
    opacity: 0.6;
    background-color: #ccc !important;
    border-color: #ccc !important;
}
.gd_no_checked{
    display: inline-block;
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin: 0;
    float: left;
    background: url(../images/bg.png) no-repeat 0 -26px;
    background-size: 230%;
    margin-top: -2px;
}
.gd_yes_checked{
    background: url(../images/bg.png) no-repeat -27px -26px !important;
    background-size: 230% !important;
}
#multiple_gd span,#multiple_status span{
    color: #000;
}
#multiple_gd,
#multiple_status{
    display: inline-block !important;
}
.ms-choice{
    display: block;
    height: 34px !important;
    line-height: 34px !important;
}