
#historyTitle {
    text-align: center;
    display: none;
    margin-top: 20px;
}
@media screen and (min-width: 769px){
    #historyTitle h2 {
        font-size: 35px;
        padding-bottom: 15px;
    }
}
@media screen and (max-width: 768px){
    #historyTitle h2 {
        font-size: 22px;
    }
}

.container_style_LJ{
    width:100%;
    padding: 20px;
    padding-top: 10px;
}
.border_color_LJ{
    padding: 5px;
    border: 1px solid #ccc;
    position: relative;
    border-radius: 4px;
}
.border_color_LJ img{
    margin-top: 2vw;
    width: 100%;
}
.border_color_LJ:hover .save_Order_LJ{
    opacity: 1;
}
.border_color_LJ:hover .save_box_LJ{
    border-color: #f90;
}
.border_color_LJ:hover .save_box_LJ p{
    color: #f90;
}



.border_color_LJ:hover {
    -webkit-box-shadow: 5px 5px 13px #bbb;
    -moz-box-shadow: 5px 5px 13px #bbb;
    box-shadow: 5px 5px 13px #bbb;
    -webkit-transition: all .3s ease-in 0s;
    -moz-transition: all .3s ease-in 0s;
    -ms-transition: all .3s ease-in 0s;
    -o-transition: all .3s ease-in 0s;
    transition: all .3s ease-in 0s;
}

.row_LJ:before,.row_LJ:after{
    content:"";
    display: table;
    clear:both;
}

.container_style_LJ [class*="col-"]{
    float:left;
    min-height:1px;
    /*padding:12px;*/
    margin:10px;
    font-size:12px;
    text-align: center;
}

@media screen and (min-width: 769px){
    .container_style_LJ .col-sm-1 {
        width:calc(8.333333% - 20px);
    }
    .container_style_LJ  .col-sm-2 {
        width:calc(16.666666% - 20px);
    }
    .container_style_LJ .col-sm-3 {
        width:calc(24.999999% - 20px);
    }
    .container_style_LJ .col-sm-4 {
        width:calc(33.333332% - 20px);
    }
    .container_style_LJ  .col-sm-5 {
        width:calc(41.666665% - 20px);
    }
    .container_style_LJ .col-sm-6 {
        width:calc(50% - 20px);
    }
    .container_style_LJ .col-sm-7{
        width:calc(58.333331% - 20px);
    }
    .container_style_LJ  .col-sm-8 {
        width:calc(66.666664% - 20px);
    }
    .container_style_LJ  .col-sm-9 {
        width:calc(74.999997% - 20px);
    }
    .container_style_LJ  .col-sm-10 {
        width:calc(83.333333% - 20px);
    }
    .container_style_LJ  .col-sm-11{
        width:calc(91.666666% - 20px);
    }
    .container_style_LJ  .col-sm-12 {
        width:calc(100% - 20px);
    }
}

@media screen and (max-width: 768px){
    .container_style_LJ  .col-xs-1 {
        width:calc(8.333333% - 20px);
    }
    .container_style_LJ .col-xs-2 {
        width:calc(16.666666% - 20px);
    }
    .container_style_LJ .col-xs-3 {
        width:calc(24.999999% - 20px);
    }
    .container_style_LJ  .col-xs-4 {
        width:calc(33.333332% - 20px);
    }
    .container_style_LJ  .col-xs-5 {
        width:calc(41.666665% - 20px);
    }
    .container_style_LJ  .col-xs-6 {
        width:calc(50% - 20px);
    }
    .container_style_LJ .col-xs-7{
        width:calc(58.333331% - 20px);
    }
    .container_style_LJ  .col-xs-8 {
        width:calc(66.666664% - 20px);
    }
    .container_style_LJ  .col-xs-9 {
        width:calc(74.999997% - 20px);
    }
    .container_style_LJ .col-xs-10 {
        width:calc(83.333333% - 20px);
    }
    .container_style_LJ .col-xs-11{
        width:calc(91.666666% - 20px);
    }
    .container_style_LJ  .col-xs-12 {
        width:calc(100% - 20px);;
    }
}

.name_class_LJ{
    font-size: 16px;
    color: #000;
}
.price_class_LJ{
    font-size: 18px;
    font-weight: bold;
    color: #000;
}



.save_box_LJ{
    width: 82px;
    height: 38px;
    position: absolute;
    right: 15px;
    border-radius: 4px;
    top: 14px;
    text-align: center;
    color: #f90;
    line-height: 34px;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid transparent;
    padding-left: 7px;
}
.save_box_LJ p {
    text-align: left;
    color: transparent;
}

.save_Order_LJ {
    width: 65px;
    height: 38px;
    position: absolute;
    right: 15px;
    border: 1px solid #f90;
    border-radius: 4px;
    bottom: 14px;
    text-align: center;
    color: #f90;
    line-height: 34px;
    font-size: 16px;
    cursor: pointer;
    opacity: 0;
}
.save_Order_LJ a{
    color: #f90;
}
.save_Order_LJ:hover{
    background-color: #f90;
}
.save_Order_LJ:hover a{
    color: #fff;
}
.save_box_LJ:hover{
    background: #f90;
}
.save_box_LJ:hover p{
    color: #fff !important;
}

.loading-jz_LJ {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    right: 0px;
    background: rgba(0,0,0,.3);
    z-index: 1000000;
    display: none;
}
.loader-img_LJ img {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
}
.there_class_LJ {
    font-size: 20px;
    color: #000;
    font-weight: bold;
}
.there_class_p_LJ {
    border: 2px solid #f90;
    padding: 10px;
    font-size: 20px;
    color: #f90;
    display: inline-block;
    margin-top:10px;
}

/*  收藏save样式  start  */
.save_box_LJ:hover .plp-heart-empty {
    color: #FFF !important;
}
.border_color:hover .plp-heart-empty {
    color: #f90;
}
.plp-heart-empty {
    color: gray;
    transition: all .2s ease;
    position: absolute;
    top: -1px;
    right: 5px;
    font-size: 20px;
}
.plp-heart-empty:before {
    -webkit-font-smoothing: antialiased;
    font-size: inherit;
    line-height: inherit;
    color: inherit;
    content: '\f83c';
    font-family: 'porto-icons';
    vertical-align: middle;
    display: inline-block;
    font-weight: normal;
    overflow: hidden;
    speak: none;
    text-align: center;
}

.saveAdded:before {
    content: '\f816' !important;
    color: #f00 !important;
    animation: bounce-in 1s;
}
/*  收藏save样式  end  */


/* 图片大小不一样debug处理  start */
@media screen and (min-width: 649px){
    .border_color_LJ{
        height: 100%;
    }
}
@media screen and (min-width: 768px){
    .border_color_LJ{
        height: 23vw;
    }
}
@media screen and (min-width: 1000px){
    .border_color_LJ{
        height: 22vw;
    }
}
@media screen and (min-width: 1200px){
    .border_color_LJ{
        height: 22vw;
    }
}
@media screen and (min-width: 1400px){
    .border_color_LJ{
        height: 21vw;
    }
}
/* 图片大小不一样debug处理  end */
