body {
    font-family: "LatoRegular" !important;
    color: #101010 !important;
}
#pcLJ {
    display: block;
}
#mobileLJ {
    display: none;
}
.errorMessage {
    color: red;
    font-size: 12px;
}
.page-main {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    max-width: 100%;
    box-sizing: border-box;
}
.page-title-wrapper {
    border-bottom: 0 !important;
    text-align: center;
    margin-bottom: 25px;
    margin-top: 20px;
}
.page-title {
    border-bottom: 0;
    font-weight: 600 !important;
    font-size: 24px !important;
    color: #101010 !important;
    line-height: 50px;
}
.login-container {
    display: block;
    border: 1px solid #ececec;
    border-radius: 8px;
    background: #fff;
    border-top: 4px solid #f90;
    padding: 35px 25px 0;
    box-shadow: 0 2px 3px rgba(0,0,0,0.08);
}

.createTitle {
    font-size: 18px;
    margin: 5px 0 15px;
    line-height: 1.2;
    font-weight: 400;
}
.createDesc {
    font-size: 14px;
    margin-bottom: 1.8rem;
}
.warningDesc {
    color: red;
    background: #fae5e5;
    height: 40px;
    line-height: 40px;
    padding-left: 10px;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
}
.checkOutLJ {
    color: red;
    background: #fae5e5;
    height: 40px;
    line-height: 40px;
    padding-left: 10px;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
}
.descClose {
    border: 1px solid #888;
    border-radius: 50%;
    font-size: 24px;
    width: 18px;
    position: absolute;
    right: -6px;
    top: -10px;
    line-height: 18px;
    text-align: center;
    color: #888;
}
.hiddenLJ {
    display: none;
}
.creatButton {
    background: #ffb454;
    border: 1px solid #ffb454;
    cursor: pointer;
    display: inline-block;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 5px 10px;
}
.creatButton:hover {
    background: #F90;
}
.creatButton a {
    height: 28px;
    line-height: 28px;
    font-weight: 400;
    color:#FFF;
    font-size: 14px;
}
.creatButton a:hover,a:active {
    color: #FFF;
    text-decoration: none;
}

.forgotPassword {
    line-height: 40px;
    height: 40px;
    padding: 5px 10px;
    font-size: 14px;
    color: #f90;
}
a.forgotPassword:hover {
    color: #f90;
    text-decoration: underline;
}
a.forgotPassword:visited {
    color: #f90;
    text-decoration: none;
}


.field {
    margin: 0 0 18px;
}
.label {
    font-weight: 400;
    font-size: 16px;
    color: #101010;
    padding: 0;
}
.label:after{
    content: '*';
    color: #e02b27;
    font-size: 12px;
    margin: 0 0 0 5px;
}

.control {
    width: 55%;
    margin-top: 10px;
}
input {
    margin: 0;
    font: inherit;
    color: inherit;
}
input:focus {
    outline: 0 !important;
}
input[type="text"], input[type="password"], input[type="url"], input[type="tel"], input[type="search"], input[type="number"], input[type="datetime"], input[type="email"] {
    background: #fff;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 10px;
    height: 38px;
    line-height: 1.4;
    padding: 10px;
    vertical-align: baseline;
    width: 100%;
    box-sizing: border-box;
}
input[type="checkbox"] {
    -webkit-appearance: none;
    position: relative;
    width: 20px;
    height: 20px;
    margin: 0 5px 0 0;
    background-color: #fff;
    background-image: none;
    border: 1px solid #666;
    vertical-align: bottom;
    outline: 0;
    float: left;
}
input[type="checkbox"]:focus, input[type="checkbox"]:not([disabled]):focus {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
input[type="checkbox"]:checked:after {
    content: '\f82b';
    font-family: 'porto-icons';
    display: inline-block;
    position: absolute;
    top: 2px;
    left: 2px;
    font-size: 14px;
    background: #f90;
    color: #fff;
}
.mage-error {
    border-color: #ed8380 !important;
}
.tip-error {
    color: #f00 !important;
}



.orLeft {
    width:47%;
    height:1px;
    background:#e5e2e2;
    float:left;
    margin-top: 25px;
}
.orCenter {
    width:6%;
    color:#b2b2b2;
    float:left;
    font-size: 12px;
    text-align: center;
    height: 50px;
    line-height: 50px;
}
.orRight {
    width:47%;
    height:1px;
    background:#e5e2e2;
    float:right;
    margin-top: 25px;
}

.thirdLoginAfter:after {
    margin: 25px 0 0;
    content: '* Required Fields';
    display: block;
    letter-spacing: normal;
    word-spacing: normal;
    color: #e02b27;
    font-size: 12px;
}

/*  footer样式修改  start   */
.pg-pull-left {
    float: left !important;
}
.pg-margin-right5 {
    margin-right: 5px !important;
}
.social-icons li {
    display: inline-block;
    vertical-align: middle;
}
.social-icons>li>a {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: #9e9e9e;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    font-size: 16px;
    margin-left: 7px;
    transition: .3s background-color;
}
/*  footer样式修改  end   */

@media screen and (max-width: 990px) {
    .thirdLogin {
        text-align: center;
    }
    #pcLJ {
        display: none;
    }
    #mobileLJ {
        display: block;
    }
}

/*  第三方登录样式 */
.thirdLogin ul {
    padding-left: 0;
}
.thirdLogin ul li {
    margin-right: 10px;
    float: left;
    line-height: normal;
    list-style: none !important;
    padding: 0 !important;
    background: none !important;
    height: 32px;
    margin: 0 10px 3px 0;
    position: relative;
}
.thirdLogin ul li a {
    width: 100% !important;
    vertical-align: top;
}
.thirdLogin ul li span.pslogin-button-auto {
    display: inline-block;
}

.thirdLogin ul li.amazon span.pslogin-button-auto {
    background-color: #ff8e2e;
}
.amazonpay-button-inner-image {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 32px;
    width: 100%;
    opacity: 0;
    filter: alpha(opacity=0);
}
.thirdLogin ul li.facebook span.pslogin-button-auto {
    background-color: #1e4389;
}
.thirdLogin ul li.twitter span.pslogin-button-auto {
    background-color: #28a9e2;
}

.thirdLogin ul li.amazon .pslogin-button-icon {
    background-position: -68px -34px;
}
.thirdLogin ul li.twitter .pslogin-button-icon {
    background-position: -34px 0;
}

.thirdLogin ul li .pslogin-button-icon {
    background: url(/static/version1611977003/frontend/Pg/payne/en_US/Plumrocket_SocialLoginFree/images/social.png);
    display: block;
    float: left;
    width: 32px;
    height: 32px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.thirdLogin .pslogin-button-text {
    display: inline-block;
}
.thirdLogin ul li .pslogin-button-text {
    float: left;
    height: 32px;
    line-height: 32px;
    vertical-align: top;
    padding: 0;
    text-align: center;
    min-width: 144px;
    box-sizing: border-box;
    font-size: 11px;
    color: white;
    background-color: rgba(255,255,255,0.2);
}
.thirdLogin ul li .pslogin-button-text:hover {
    background-color: rgba(255,255,255,0.3);
}

@media screen and (max-width: 640px) {
    .thirdLogin ul li {
        margin: 0 0 3px 0;
        width: 100%;
    }
    .thirdLogin ul li .pslogin-button-icon {
        position: absolute;
        z-index: 1000;
        background-color: inherit;
        top: 0;
        left: 0;
    }
    .thirdLogin ul li .pslogin-button-text {
        width: 100%;
        position: relative;
        z-index: 100;
    }
    .thirdLogin ul li span.pslogin-button-auto {
        width: 100%;
    }
}


/*  注册新用户页面样式  start */
.registerTitle {
    color: #f90;
    text-transform: uppercase;
}
.controlFull {
    width: 95%;
}
.tipText {
    color: #888;
    line-height: 3rem;
}

.tip-error .glyphicon-ok {
    display: none;
}

.tip-success {
    color: #006400;
}

.glyphicon-remove {
    display: inline-block;
}
.glyphicon-remove:before {
    content: "\e014";
}
/*  注册新用户页面样式  end */


/*加载中loading....*/
.loading-mask {
    display: none;
    z-index: 9;
    background: rgba(255, 255, 255, 0.3);
    bottom: 0;
    left: 0;
    margin: auto;
    position: fixed;
    right: 0;
    top: 0;
}
.loading-mask img {
    bottom: 0;
    left: 0;
    margin: auto;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 10;
}

/*  忘记密码    */
.forgotPassword {
    display: none;
    color: #008080;
    background: #E1FFFF;
    height: 40px;
    line-height: 40px;
    padding-left: 10px;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
}
