body {
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    /*letter-spacing: 1px;*/
}
.ljTitleDropdownContent a {
    color: #333;
}
.ljClear {
    clear: both;
}
.ljContainer {
    position: relative;
    margin: 20px;
}

.stock_text {
    position: absolute;
    left: 10px;
    top: 82%;
    font-size: 14px;
}

/*  点赞红心样式 start  */
.favorite {
    color: #999;
    font-size: 20px;
    transition: color .2s ease;
}
.ljSave {
    float: left;
    line-height: 38px;
    font-size: 1.4rem;
    margin-right: 5px;
    visibility: hidden;
}

.ljGlassesSave {
    padding: 0 12px;
    border-radius: 3px;
    cursor: pointer;
    position: absolute;
    top: -10px;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ljSaveContent .plp-heart-empty:before {
    -webkit-font-smoothing: antialiased;
    font-size: inherit;
    line-height: inherit;
    color: inherit;
    content: '\f83c';
    font-family: 'porto-icons';
    vertical-align: middle;
    display: inline-block;
    font-weight: normal;
    overflow: hidden;
    speak: none;
    text-align: center
}

.saveAdded:before {
    content: '\f816' !important;
    color: #f00 !important;
    animation: bounce-in 1s;
}

@keyframes bounce-in {
    0% {
        transform: scale(0);      //开始放大倍数
    }
    50% {
        transform: scale(1.6, 1.6);   //50%时放大倍数：x轴和y轴
    }
    100% {
        transform: scale(1);      //最终放大倍数
    }
}

@media screen and (min-width: 990px) {
    .ljContainer {
        position: relative;
        margin: 20px 35px !important;
    }

    .ljSaveContent {
        border: 1px solid rgba(255, 255, 255, 0);
    }

    .ljListNew:hover {
        border-radius: 10px;
        box-shadow: 5px 5px 15px #AAAAAA;
    }

    .ljListNew:hover .swiper-container .swiper-wrapper .swiper-slide .ljGlassesSave {
        border: 1px solid #f90;
        color: #f90;
        transition: all .2s ease;
    }

    .ljListNew:hover .swiper-container .swiper-wrapper .swiper-slide .ljGlassesSave .ljSave {
        color: #f90;
        transition: all .2s ease;
        visibility: visible;
    }

    .ljGlassesSave:hover {
        background: #f90;
        transition: all .2s ease;
    }

    .ljGlassesSave:hover .ljSave {
        color: #FFF;
        transition: all .2s ease;
        visibility: visible;
    }

    .ljGlassesSave:hover .plp-heart-empty {
        color: #FFF;
        transition: all .2s ease;
    }
}
/*  点赞红心样式 end  */


/*  order 显示样式 start  */
.ljOrder{
    position: absolute;
    bottom: 30px;
    right: 10px;
    z-index: 9;
    font-size: 1.4rem;
    border: 1px solid #f90;
    border-radius: 3px;
    line-height: 36px;
    padding: 0px 12px;
    color: #f90;
    cursor: pointer;
    visibility: hidden;
}
@media screen and (min-width: 990px) {
    /*@media screen and (min-width: 1200px) {*/
    .ljOrder:hover {
        color : #FFF !important;
        background: #f90;
        visibility: visible;
    }
    .ljSelectLiTemp a:hover {
        color : #FFF;
        text-decoration: underline;
    }
    .ljListNew:hover .swiper-container a .ljOrder {
        visibility: visible;
        transition: all .2s ease;
    }
}
/*  order 显示样式 end */






/*  内容 start */

.lj_containerPadding_30 {
    max-width: 1400px;
    margin: 0 auto;
    padding-left:30px;
    padding-right:30px;
}
.lj_containerPaddingMaxwidth {
    padding-left:30px;
    padding-right:30px;
}


.ljGlassesNew {
    width: 60px;
    margin: 10px 10px 0px;
    float: left;
}


.lj_pmen_list {
    margin: 10px auto;
    width: 100%;
    border-radius: 50%;
}
.lj_pmen_list:hover {
    opacity: 1;
    border: 4px solid #ffb454;
    width: 100%;
}
.lj_boldSize {
    width: auto;
    display: inline-block !important;
    display: inline;
    margin-bottom: 10px;
}
.lj_trans_hover {
    width:0%;
    height: 3px;
    background: #ffb454;
    transition:width 0.5s;
    -moz-transition:width 0.5s; /* Firefox 4 */
    -webkit-transition:width 0.5s; /* Safari and Chrome */
    -o-transition:width 0.5s; /* Opera */
}
.lj_trans_center {
    width:50%;
    margin-left:25%;
}
/* 内容 end */

/* 点击颜色按钮更换眼镜款式 start */
.ljSelectLi {
    display: inline-block;
    line-height: 30px;
}
.ljSelectLi h4 {
    font-weight: unset;
}
.ljSelectColor {
    width: 16px;
    height: 16px;
    border-radius: 16px;
    margin: 1.5px;
    box-shadow: 0 1px 2px #888;
    background-size: cover !important;
    display: inline-block;
}
.ljSelectColorList {
    width: 26px;
    height: 26px;
    border: 1px solid #FFF;
    border-radius: 25px;
    margin: 0 5px;
    padding: 3px;
    float: left;
}
.ljSelectColorListCircle {
    border: 1px solid #000;
}
.liTitleAndPrice {
    display: none;
}
/* 点击颜色按钮更换眼镜款式 end */





/*swiper 样式处理*/
.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-pagination-custom {
    display: flex;
    justify-content: center;
    align-items: center;
}
.swiper-pagination-customs {
    width: 16px;
    height: 16px;
    border-radius: 16px;
    margin: 1.5px;

    display: flex;
    justify-content: center;
    align-items: center;
}
.swiper-pagination-customs-active {
    border: 1px solid #1a1a1a;
    width: 20px !important;
    height: 20px !important;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}



.swiper-container .swiper-wrapper .swiper-slide {
    margin-top: 30px;
}



@media screen and (min-width: 1200px) {
    .ljGlassLi {
        padding-top: 20px;
    }
    .swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{
        bottom:24% !important;
    }
}
@media screen and (max-width: 1200px) {
    .ljGlassLi {
        padding-top: 20px;
    }
    .swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{
        bottom: 27% !important;
    }
}
@media screen and (max-width: 989px) {
    .ljGlassLi {
        padding-top: 20px;
    }
    .swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{
        bottom: 20% !important;
    }

}
@media screen and (max-width: 768px) {
    .ljGlassLi {
        padding-top: 20px;
    }
    .swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{
        bottom: 22% !important;
    }
}
@media screen and (max-width: 560px) {
    .ljGlassLi {
        padding-top: 20px;
    }
    .swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{
        bottom: 24% !important;
    }
}
@media screen and (max-width: 320px) {
    .ljGlassLi {
        padding-top: 20px;
    }
    .swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{
        bottom:28% !important;
    }
}
/*swiper 样式处理*/


@media screen and (min-width: 990px) {
    .ljListNew {
        border: 1px solid #ccc;
        border-radius: 10px;
        margin-top: 30px;
        overflow: hidden;
        cursor: pointer;
    }
    .ljListNew .list-unstyled li img {
        width: 100%;
        /*height: 15.625vw;*/
    }
    .ljFontPriceSize {
        font-size: 2.5rem;
        font-weight: 600;
        color: #000;
    }
    .ljFontNameSize {
        font-size: 1.5rem;
        color: #000;
    }
    .ljSearchForH1 {
        border-bottom: 0;
        font-weight: 600 !important;
        font-size: 2rem !important;
        color: #101010 !important;
        line-height: 50px;
        text-align: center;
        margin: 5px auto;
    }
    #ljPageTotalResults {
        font-size:2rem;
    }

    .ljSearchForNodata {
        font-size: 20px;
        margin: 0 auto;
    }
}
@media screen and (max-width: 989px) {
    .ljListNew {
        border-bottom: 1px solid #ccc;
        /*margin-top: 30px;*/
        overflow: hidden;
        cursor: pointer;
    }
    .ljListNew .list-unstyled li img {
        width: 100%;
        height: 100%;
    }
    .ljFontPriceSize {
        font-size: 1.9rem;
        color: #000;
    }
    .ljFontNameSize {
        font-size: 1.4rem;
        color: #000;
    }
    .ljShadowBg {
        padding: unset !important;
    }
    .ljSearchForH1 {
        border-bottom: 0;
        font-weight: 600 !important;
        font-size: 24px !important;
        color: #101010 !important;
        line-height: 50px;
        text-align: center;
    }
    #ljPageTotalResults {
        font-size: 2rem;
    }

    .ljSearchForNodata {
        font-size: 20px;
        margin: 0 auto;
    }
}
@media screen and (max-width: 769px) {
    .ljSearchForH1 {
        border-bottom: 0;
        font-weight: normal !important;
        font-size: 20px !important;
        color: #101010 !important;
        line-height: 50px;
        text-align: center;
    }
    #ljPageTotalResults {
        font-size: 1.6rem;
    }

    .ljSearchForNodata {
        font-size: 16px;
        margin: 0 auto;
    }
}


/*引导条*/
.breadcrumbs{
    width: 100%;
    display: inline-block;
    background: #171717;
    margin: 0px;
}
.breadcrumbs .items {
    width: 100%;
    color: inherit;
    margin: 0 auto;
    max-width: 100%;
}
.breadcrumbs .items>li {
    display: unset;
    vertical-align: unset;
}

.breadcrumbs .items li {
    float: left;
    padding-right: 6px;
    margin: 0px;
}
.breadcrumbs .items li a{
    color: white;
    font-weight: 500;
    display: block;
    float: left;
    font-size: 14px;
    text-align: left;
}
.breadcrumbs .items li span{
    color: white;
    font-weight: 500;
    display: block;
    float: left;
    font-size: 14px;
    text-align: left;
    padding: 12px 0;
}
.breadcrumbs  .header_icon {
    font-weight: 900;
    margin: -1px 9px;
    color: #fff;
    line-height: 46px;
}
/*引导条*/

/* 新上日期的眼镜显示new图标 */
.ljNewDate {
    position: absolute;
    top: -5px;
    left: 10px;
}
.ljNewDate img {

}

/* 分页样式 */
.m-pagination {
    list-style: none;
    margin-top: 26px;
    color: #000 !important;
    display: flex;
    align-items: center;
    justify-content: center;
}
.m-pagination li {
    list-style: none;
    margin: 5px;
    border: 1px solid #ccc;
    cursor: pointer;
    color: #f90 !important;
    line-height: 28px;
}
.m-pagination li a {
    text-decoration: none;
    color: #f90 !important;
    padding: 0px 8px;
}
.m-pagination li.active {
    background: #f90 !important;
}
.m-pagination li.active a {
    color: #FFF !important;
}
.m-pagination .disabled {
    display: none;
}
/* 分页样式 */

/*  swiper轮播 样式修改  */
.ljSelectColorList {
    display: none;
}
.swiper-pagination-bullet {
    width: unset;
    height: unset;
    margin: auto 10px;
    display: unset;
    float: left;
    background: #FFF;
    opacity: unset;
}
.swiper-pagination-bullet-active {
    border: 1px solid #1a1a1a !important;
    width: 24px !important;
    height: 24px !important;
}
.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
    position: absolute;
    /*bottom: 32%;*/
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pager li {
    display: inline;
}
.swiperPaginationList {
    width: 16px;
    height: 16px;
    display: inherit;
    border-radius: 16px;
}
.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px !important;
    height: 24px !important;
    text-align: center;
    line-height: 26px;
    border: 1px solid #fff;
    opacity: 1;
}
.ljListNew .swiper-container .list-unstyled {
    width: 100% !important;
}
/*  swiper轮播 样式修改  */


/* 购物车数字显示位置错误 bug修复  */
@media screen and (max-width: 998px) {
    .concentrate header .header-right .header-cart-number {
        left: -39px !important;
    }
}
/* 购物车数字显示位置错误 bug修复  */

/** 过滤条动态显示 start **/
.shadow2 {
    width: 0px;
    height: 100%;
    background: #000;
    opacity: .6;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
}
/** 过滤条动态显示 end **/

/*  加载中处理 start  */
.shadow {
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .6;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1010 !important;
    display: none;
}
.ljShadowShow{
    display: block;
}
.loading-placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
/*  加载中处理 end  */


/***  底部导航错位处理  ***/
@media screen and (max-width: 998px) {
    .footer-bottom .comodo-logo {
        clear: both;
    }
    .footer-bottom address {
        float: unset;
    }
}
/***  底部导航错位处理  ***/




/*****  filter过滤 start  ******/
.ljTitleDropdownContent > .list-unstyled li {
    margin: 10px 0px;
    margin-right: 10px;
    font-size: 14px;
}
.ljTitleDropdownContent > .list-unstyled li a {
    display: flex;
    align-items: center;
    text-decoration: none;
}
#ljFilterNav .ljTitleDropdownContent > .list-unstyled li:hover a {
    color:#f90 !important;
}

.ljTitleDropdownContent .ljCheckBox {
    display: inline-block;
    width: 20px;
    height: 20px;
    font-weight: 700;
    border: 1px solid #262626;
    vertical-align: middle;
    text-align: center;
    color: #fcfcfc;
    margin-right: 8px;
}

.ljCheckBoxActive {
    background: #f90;
    border-color: #f90 !important;
}

.ljCheckBoxImg {
    display: inline-block;
    width: 64px;
    height: 25px;
    background: url(https://static.payneglasses.com/media/wysiwyg/module/checkout/frame-shape.png) no-repeat;
    background-size: 64px;
    margin-right: 8px;
}

.ljCheckColorBox {
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: 2px;
    overflow: hidden;
    box-shadow: 3px 3px 3px #777;
}

.ljCheckColorBoxDiv {
    width: 30px;
    height: 30px;
    border: 1px solid #FFFFFF;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
    float: left;
    position: relative;
}

.ljCheckColorBoxActive {
    border: 1px solid #000;
}

.ljSelectedColor {
    color: #f90;
}

@media screen and (max-width: 989px) {
    #ljFilterNav {
        display: none;
        height: 0px;
    }
    #ljFilterNav_m {
        position: fixed;
        bottom: 0px;
        width: 100%;
        padding: 2%;
        background: rgba(255,255,255,0.8);
        z-index: 3;
        border-top: 1px solid #ccc;
        display: flex;
        align-items: center;
    }
    #ljFilter_m {
        width: 100px;
    }
    #ljFilter_m::after {
        content: '\f807';
        font-size: 24px;
        font-family: 'porto-icons';
        vertical-align: middle;
        transition: transform .3s ease-out;
    }
    #ljFilter_m_content {
        width: 0px;
        height: 100%;
        position: fixed;
        left: 0;
        bottom: 0;
        z-index: 1001;
        background: #FFF;
        font-size: 16px;
        overflow: scroll;
    }
    #ljFilerTitle_m {
        height: 56px;
        background: #f0f0f0;
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        width: 80%;
        left: -80%;
        z-index: 4;
    }
    #ljCloseFilter {
        font-size: 30px;
        position: absolute;
        right: 0px;
        width: 50px;
        text-align: center;
    }
    #ljFilterContent_m {
        margin-top: 56px;
    }

    #filterDone {
        width: 30%;
        border: 1px solid #000000;
        text-align: center;
        line-height: 30px;
        border-radius: 5px;
        position: fixed;
        bottom: 10px;
        right: 10px;
    }

    .ljFilterTitle {
        padding: 5px 0px;
        padding-left: 10px;
        border-bottom: 1px solid #dddddd;
    }
    .ljDropdownTitle::after {
        font-family: 'porto-icons';
        content: '\f813';
        font-size: 22px;
        vertical-align: middle;
        transition: transform .3s ease-out;
        padding-right: 18px;
        float:right;
    }
    .ljDropdownTitle {
        height: 40px;
        line-height: 40px;
        width: 100%;
        display: inline-block;
    }
    .ljDropdownTitle2::after {
        content: '\f810';
    }
    .ljDropdownTitleActive {
        color: #f90 !important;
    }

    .ljTitleDropdownContent {
        display: none;
        /*position: relative;*/
        /*top: 10px;*/
    }

    /*** sort mobile by start ****/
    #sortBy {
        display: none;
    }
    .ljSortByContent {
        display: none;
    }

    .ljsortByTitle2 {
        position: absolute;
        right: 2%;
        bottom: 15px;
        letter-spacing: 0px;
    }
    .ljIcon {
        font-weight: 600;
    }
    .ljIcon::after {
        content: '\21C5';
        font-size: 10px;
        font-family: 'porto-icons';
        vertical-align: middle;
        transition: transform .3s ease-out;
        padding-left: 4px;
    }
    .ljSortByContent2 {
        display: none;
        z-index: 1004;
        background: #FAFAFA;
        border-radius: 3px;
        overflow: hidden;
        text-align: center;
        position: fixed;
        bottom: 45px;
        right: 10px;
        border: 1px solid #ccc;
    }
    .ljSortByContent2 span{
        width:0;
        height:0;
        font-size:0;
        overflow:hidden;
        position:fixed;
    }
    .ljSortByContent2 span.bot{
        border-width: 10px;
        border-style: solid dashed dashed;
        border-color: #ccc transparent transparent;
        /* left: 80px; */
        bottom: 26px;
        z-index: 11;
    }
    .ljSortByContent2 span.top{
        border-width: 12px;
        border-style: solid dashed dashed;
        border-color: #000 transparent transparent;
        /*left: 78px;*/
        bottom: -21px;
        display: none;
    }

    .ljSortByContent2 ul {
        padding: 10px 0px;
    }
    .ljSortByContent2 ul li {
        margin-bottom: 0px;
        padding: 3px 10px;
        line-height: 20px;
        text-align: left;
    }
    .ljSortByContent2 a {
        color: #333333;
        text-decoration: none;
    }
    /*** sort mobile by end ****/
}

@media screen and (max-width: 1048px) {
    .ljsortByTitle {
        display: none;
    }
}
/*@media screen and (min-width: 1160px) {*/
/*    .ljDropdownTitle {*/
/*        font-size: 18px !important;*/
/*    }*/
/*    .ljTitleDropdownContent > .list-unstyled li {*/
/*        font-size: 16px !important;*/
/*    }*/
/*    #sortBy {*/
/*        font-size: 16px !important;*/
/*    }*/
/*    .ljsortByTitle {*/
/*        width: 80px !important;*/
/*    }*/
/*    #ljsortResult {*/
/*        width: 156px !important;*/
/*    }*/
/*}*/
@media screen and (min-width: 989px) {
    /*** sort by start ****/
    #sortBy2 {
        display: none;
    }
    .ljSortByContent2 {
        display: none;
    }
    #sortBy {
        position: absolute;
        right: 20px;
        display: flex;
        align-items: center;
        font-size: 14px;
    }
    #ljsortResult {
        border: 1px solid #cccccc;
        width: 140px;
        padding: 0 5px;
        border-radius: 5px;
        overflow: hidden;
        line-height: 28px;
    }

    .sort-open,.sort-close {
        font-size: 20px;
        font-family: 'porto-icons';
        vertical-align: middle;
        transition: transform .3s ease-out;
        padding-left: 4px;
        display: inline-block;
        float:right;
    }
    .sort-open::after {
        content: '\f813';
    }
    .sort-close::after {
        content: '\f810';
    }
    .ljIcon {
        cursor: pointer;
    }
    .ljsortByTitle {
        width: 60px;
    }
    .ljSortByContent2 {
        display: none;
    }
    .ljSortByContent {
        display: none;
        position: absolute;
        z-index: 1002;
        background: #FFFFFF;
        border: 1px solid #dddddd;
        width: 180px;
        left: 70px;
        top: 36px;
        overflow: hidden;
        border-radius: 5px;
        box-shadow: 0 6px 12px rgba(0,0,0,.175);
    }
    .ljSortActive {
        display: block;
    }
    .ljSortByContent ul li {
        margin-bottom: 0px;
        padding: 0px 8px;
    }
    .ljSortByContent a {
        color: #333333;
        text-decoration: none;
    }
    .ljSortByContent li:hover {
        background: #f90;
    }
    .ljSortByContent li:hover a {
        color: #FFFFFF !important;
    }
    /*** sort by end ****/

    #ljFilterNav_m {
        display: none;
    }
    #ljFilter_m_content {
        display: none;
    }

    #ljFilterNav {
        display: flex;
        width: 100%;
        /*height: 56px;*/
        align-items: center;
        border-top: 1px solid #cccccc;
        border-bottom: 1px solid #cccccc;
        background: #fcfcfc;
        position: relative;
        /*top: 198px;*/
        letter-spacing: 0px;
        z-index: 9;
    }
    .ljFilterNavFixed {
        position: fixed !important;
        top: 0px;
        z-index: 1000 !important;
    }

    #ljFilterNav .ljFilterTitle {
        display: inline-block;
    }

    .ljDropdownTitle {
        padding: 12px 5px;
        font-size: 16px;
        display: inline-block;
        line-height: 40px;
        cursor: pointer;
    }

    #ljFilterNav .ljFilterTitle .ljDropdownTitle::after {
        content: '\f813';
        font-size: 22px;
        font-family: 'porto-icons';
        font-style: normal;
        vertical-align: middle;
        transition: transform .3s ease-out;
        padding: 10px 5px;
    }

    .ljDropdownTitleActive {
        display: inline-block;
        border-left: 1px solid #cccccc;
        border-right: 1px solid #cccccc;
        border-bottom: #fcfcfc;
        z-index: 1;
        background: #fcfcfc;
    }

    .ljTitleDropdownContent {
        border: 1px solid #cccccc;
        /*border-top: 0px;*/
        padding: 10px;
        position: absolute;
        top: 65px;
        display: none;
        background: #fcfcfc;
        min-width: 140px;
        z-index: 2;
        font-size: 16px;
    }

    .ljTitleDropdownContent > .list-unstyled {
        margin: unset !important;
        /*float: left;*/
    }
    .ljcolorTextPosition {
        display: none;
        position: absolute;
        top: -32px;
        left: 0px;
        padding: 3px;
        border: 1px solid #ababab;
        border-radius: 5px;
        width: max-content;
        background: #FFF;
    }
}
/*****  filter过滤 end  ******/


/*****  调试 start  ******/
.ljImageAStyle {
    display: inline-block;
    z-index: 10;
}
.ljPriceSpan {
    text-decoration:line-through;
    color:#aaa;
    margin-right:10px;
}
/*****  调试 end  ******/
