body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
    font-size: 1rem !important;
    font-weight: 400;
    line-height: 1.5;
    color: #343a40;
    text-align: left;
    background-color: #fff;
}

ul, li {
    list-style: none;
}

.padding-y h5{
    margin-bottom: 0.7rem;
    font-weight: bold;
    line-height: 1.3;
}
ol, .product-detail ul, dl {
    margin-top: 0;
    margin-bottom: 1rem;
}

html, body {
    position: relative;
    height: 100%;
}

html {
    font-size: 16px !important;
}

h5, .h5 {
    font-size: 1.25rem;
}

.mb-2, .my-2 {
    margin-bottom: 0.5rem !important;
}

.mb-3, .my-3 {
    margin-bottom: 1rem !important;
}

.mb-4, .my-4 {
    margin-bottom: 1.5rem !important;
}

.mt-4, .my-4 {
    margin-top: 1.5rem !important;
}

.mt-4, .my-4 {
    margin-top: 1.5rem !important;
}

.h1, .h3, .h5, .h6 {
    margin-bottom: 0.7rem !important;
    font-weight: bold !important;
    line-height: 1.3 !important;
}

b, strong {
    font-weight: 700;
}

.row{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    margin-right: -10px;
    margin-left: -10px;
}
.row_class{
    flex-wrap: wrap;
}

.swiper-container {
    width:90%;
    margin: 0 auto 0;
    /*height: 100%;*/
    /*padding: 0 40px;*/
}


.swiper-container ul, .swiper-container li {
    margin: 0;
    padding: 0;
}

.swiper-slide {
    /*background-size: cover;*/
    /*background-position: center;*/
}

.swiper-slide img {
    width: 100%;
    margin: 0 auto;
    display: block;
}

.swiper-button-next {
    color: #fff;
    position: absolute;
    right: 2px;
    font-size: 23px;
    top: 50%;
    font-weight: 600;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    margin-top: -28px;
    background: rgba(0,0,0,.2);
    /*border: 1px solid #eaeaea;*/
    /*box-shadow: 0 2px 3px rgba(206,212,218,0.2);*/
}
.swiper-button-prev {
    color: #fff;
    position: absolute;
    left: 2px;
    font-size: 23px;
    top: 50%;
    font-weight: 600;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    margin-top: -28px;
    background: rgba(0,0,0,.2);
    /*border: 1px solid #eaeaea;*/
    /*box-shadow: 0 2px 3px rgba(206,212,218,0.2);*/
}
.swiper-button-prev:focus,.swiper-button-next:focus{
    outline: none;
}
#What_included{
    display: none;
}
@media (max-width:768px){
    .swiper-button-prev,.swiper-button-next {
        color: #f90;
    }
    .mobel_includes{
        display: none;
    }
    #What_included{
        display: block;
        margin-bottom: 17px !important;
    }
    .simple_name{
        font-size: 20px;
        text-align: center;
    }
    .pc_Adjustments,.positionRotation_img_pc,.close_tryon_pc,.set_pd_pc{
        display: none;
    }
    .mobel_Adjustments,.positionRotation_img_mobel,.close_tryon_mobel,.set_pd_mobel{
        display: block;
    }
    .tryon_box_fex{
        padding: 0px 3% !important;
    }
    .close_tryon{
        margin-right: 0px !important;
    }
    .current_tryon_img{
        bottom: 40% !important;
    }
    .Adjustments_img{
        display: none;
    }
    .container1 {
        max-width: 98%
    }
}
@media (min-width:769px){
    .close_tryon_pc,.set_pd_pc{
        display: block;
    }
    .close_tryon_mobel,.set_pd_mobel{
        display: none;
    }
    .pc_Adjustments,.positionRotation_img_pc{
        display: block;
    }
    .mobel_Adjustments,.positionRotation_img_mobel{
        display: none;
    }
    .container1 {
        max-width: 90%
    }
}

@media (max-width: 620px){
    .product_name{
        display: inline-block;
        width:100%;
    }
    .product_name .simple_name{
        display: inline-block;
        width:100%;
        overflow: hidden;
        text-overflow:ellipsis;
        white-space: nowrap;
    }
}
@media (max-width: 550px){
    .swiper-button-prev,.swiper-button-next {
        width: 35px;
        height: 35px;
        color: #f90;
    }
}


.swiper-button-next:hover,.swiper-button-prev:hover{
    color: #f90;
    border: 1px solid #ced4da;
}
.swiper-button-next:after, .swiper-button-prev:after {
    font-family: swiper-icons;
    font-size: 20px;
    /* font-family: "iconfont" !important; */
}

.gallery-thumbs li.swiper-slide-thumb-active{
    border: 1px solid #f90;
}

.gallery-thumbs li img {
    width: 100%;
    border: 1px solid #ccc;
    cursor: pointer;
}

.gallery-thumbs {
    box-sizing: border-box;
    padding: 10px 0;
    text-align: center;
}

.gallery-thumbs .swiper-wrapper {
    margin: 0 auto;
    overflow: hidden;
    display: inline-block;
}

.gallery-thumbs .swiper-slide {
    width: 16% !important;
    height: 100%;
    opacity: 0.4;
    display: inline-block;

}

.gallery-thumbs .swiper-slide-thumb-active {
    opacity: 1;
}

.color-lg .btn-color img {
    width: 100%;
}

.border-top{
    border-top:1px solid #ccc;
}
#paddingTop {
    padding-top:10px;
    padding-bottom: 40px;
}
.title-control {
    font-size: 13px;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: bold;
}
.link-color{
    color: #FF9900;
}
.link-color:hover {
    color: #b36b00 !important;
}
.pdp-color {
    overflow: hidden;
}

.btn-color-parent{
    display: inline-block;
    width: 24%;
    height: auto;
    margin-right: 8px;
    float: left;
    background: none;
    cursor: pointer;
    position: static;
    border-radius: 0;
}
.btn-color-parent-p{
    text-align: center;
    font-size: 14px;
    width: 100%;
    margin-left: 7px;
}
.pdp-color .btn-color {
    width: 100%;
    height: auto;
    border: 1px solid #ddd;
    margin-right: 5px;
    float: left;
    background: none;
    cursor: pointer;
    position: static;
    border-radius:4px;
    padding: 3px;
    margin-bottom: 7px;
}
.pdp-color .btn-color:nth-of-type(1){
    margin-left: 7px;
}
.pdp-color .btn-color  img{
    width: 100%;
}
.pdp-color .btn-color.active{
    display: block;
    position: relative;
    border: 1px solid #f90;
}
.pdp-color .active::before {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    display: table;
    border: 8px solid #f90;
    border-top-color: transparent;
    border-left-color: transparent;
}
.pdp-color .btn-color.active::after {
    content: '\f82b';
    position: absolute;
    right: 0px;
    bottom: -3px;
    display: table;
    color: #fff;
    font-size: 10px;
    font-family: 'porto-icons';
}
a {
    text-decoration: none;
    background-color: transparent;
}
/*a:hover {*/
/*color: #b36b00 !important;*/
/*}*/
.js-check.active {
    background: #F7F7F7;
    font-weight: bold;
    text-decoration: underline;

}
.js-check {
    border: 1px solid #E0E0E0;
    padding-left: 40px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-right: 20px;
    margin-right: 5px;
    cursor:pointer;
    font-weight: normal;
    border-radius: 4px;
    padding-left: 5px;
}
.js-check:hover{
    background: #F7F7F7;
    font-weight: bold;
    text-decoration: underline;
}
.custom-control {
    position: relative;
    display: block;
    min-height: 1.5rem;
    padding-left: 1.9rem;
}
label {
    display: inline-block;
    margin-bottom: 0.5rem;
}
/*top-right-input*/

input[type="radio"], input[type="checkbox"] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
}
button, input {
    overflow: visible;
}
input, button, select, optgroup, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
var {
    font-style: normal;
}
.container {
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: auto;
    margin-left: auto;
}

.info-detail  .mb-2{
    overflow: hidden;
}
.info-detail .sku{
    float:right;
}
.price {
    font-weight: 600;
    color: #212529;
}
.btn-light {
    background-color: #fff;
}
.btn-light i {
    color: #969696; }

.price {
    font-weight: 600;
    color: #212529;
}
.row-sm {
    margin-right: -7px;
    margin-left: -7px;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.row-sm > [class^="col"] {
    padding-left: 7px;
    padding-right: 7px;
    border-radius: 4px;
}
.col {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}

.btn-block {
    display: block;
    width: 100%;
}
.btn-primary {
    color: #fff !important;
    background-color: #FF9900 !important;
    border-color: #FF9900 !important;
    border-radius: 4px !important;
}
.btn-primary-s{
    color: #FF9900 !important;
    background-color: #fff !important;
    border-color: #FF9900 !important;
}
.btn-primary:hover,.btn-primary-s:hover {
    color: #fff !important;
    background-color: #d98200 !important;
    border-color: #cc7a00 !important;
}
.btn-light {
    color: #212529;
    background-color: #fff;
    border-color: #f90;
    border-radius: 4px;
}
.border-top {
    border-top: 1px solid #eaeaea !important;
}
/*bottom-left*/
.nav-tabs{
    margin-bottom:1.25rem;
}
.nav-tabs .btn{
    padding:0;
}
.nav-tabs h5{
    padding: 0;
    margin: 0 !important;
}
.nav-tabs a{
    padding: 0.55rem 1rem;
    display: block;
    color: #FF9900;
    border-color: #FF9900;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.5;
    text-decoration: none;
}
.nav-tabs .active a{
    color:#fff;
}
.nav-tabs a:hover{
    color: #fff;
}
.card .row-sm > [class^="col"] {
    width: 50%;
}
.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #343a40;
    background-color: transparent;
}
table {
    border-collapse: collapse;
}
.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.05);
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 1rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}
p:last-child {
    margin-bottom: 0;
}

/*bottom-left-review*/
.card-title {
    font-size: 1.4rem;
}
.card-body label{
    font-weight: normal;
}
.item-comment {
    margin-bottom: 20px;
}
.icontext {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    vertical-align: middle;
}

.align-items-start {
    -webkit-box-align: start !important;
    -ms-flex-align: start !important;
    align-items: flex-start !important;
}
.icontext .icon {
    position: relative;
    margin-right: 15px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
}
.box img {
    max-width: 100%;
}
.avatar-md {
    width: 60px;
    height: 60px;
}
.avatar-xs, .avatar-sm, .avatar-md, .avatar-lg {
    display: inline-block;
    text-align: center;
    border-radius: 100%;
    border: 1px solid #ddd;
    -o-object-fit: cover;
    object-fit: cover;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
}
.icontext .text {
    width: 100%;
}
.mb-1, .my-1 {
    margin-bottom: 0.25rem !important;
}
h6, .h6 {
    font-size: 1rem;
}
.rating-stars {
    display: inline-block;
    vertical-align: middle;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    white-space: nowrap;
    clear: both;
}
ol, ul, dl {
    margin-top: 0;
    margin-bottom: 1rem;
}
.icontext .text {
    width: 100%;
}
.mt-3, .my-3 {
    margin-top: 2rem !important;
}
p:last-child {
    margin-bottom: 0;
}
/*bottom-right*/

.box {
    padding: 20px;
    border: 1px solid #eaeaea;
}
.bg {
    background-color: #f9f9f9;
}
p {
    margin-top: 0;
    margin-bottom: 1rem;
}
.title-control {
    font-size: 13px;
    text-transform: uppercase;
    margin-top: 29px;
    margin-bottom: 10px;
    font-weight: bold;
}
.list-unstyled {
    padding-left: 0;
    list-style: none;
    line-height: 1.6;
}
[class*="list-"] li:after {
    visibility: hidden;
    display: block;
    content: "";
    overflow: hidden;
    height: 0;
    clear: both;
}
*, *::before, *::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.list-check {
    padding-left: 0;
    list-style: none;
}
article:after, .form-group:after {
    display: block;
    clear: both;
    content: "";
}
.list-check {
    padding-left: 0;
    list-style: none;
}

.list-check > li::before {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    font-size: 12px;
    color: #FE9A00;
    position: absolute;
    top: 10px;
    left: 10px;
    content: "\f00c";
}
[class*="list-"] li:after {
    visibility: hidden;
    display: block;
    content: "";
    overflow: hidden;
    height: 0;
    clear: both;
}
article:after, .form-group:after {
    display: block;
    clear: both;
    content: "";
}

/*ui.css*/
.color-lg {
    margin-top: 15px;
    margin-bottom: 30px;
}
.nav-color {
    line-height: 1;
}
.btn-icon {
    width: calc(1.5em + 1.1rem + 2px);
    text-align: center;
    padding-left: 0;
    padding-right: 0;
}
.btn-icon:before{
    color: #fff !important;
}
.rounded-circle {
    border-radius: 30px !important;
    width: 46px;
    height: 28px;
    padding: 2px;
    margin-right: 4px;
}

@media (max-width: 768px){
    #layui-layer1{
        width: 90% !important;
    }
    #php_val{
        margin: 10px auto !important;
    }
}

@media (min-width: 768px){
    #save_x:hover {
        background-color: #f90;
        border-color: #f90;
        color: #fff;
    }
}
@media (min-width: 1200px){
    .padd-top{
        padding-top: 55px;
    }
}
@media (max-width:552px) {
    .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
        padding: 1rem 15px;
    }
    /*.pdp-parameters .container {*/
    /*margin:0;*/
    /*padding:0;*/
    /*}*/
    .pdp-parameters  h5 {
        padding-right: 15px;
        padding-left: 15px;
    }
    .pdp-parameters .row {
        margin:0;
    }
    .pdp-parameters  .col-xs-12 {
        padding:0;
    }
    .detils_img img{
        width: 71%;
    }
}

.select_Color,.price_class{
    color: #f90;

}
.OUT_OF_STOCK{
    display: block;
}
.price_class{
    display: inline;
    font-size: 28px;
}
.ele_sku{
    font-weight: bold;
    margin-right: 10px;
}

.profile_class{
    padding: 20px;
    font-weight: normal !important;
}
.profile_class .nicknames{
    border-radius: 4px;
    border: 1px solid #ccc;
    width: 200px;
    height: 35px;
    padding-left: 10px;
    font-size: 1rem;
    outline: none;
    font-weight: normal;
    margin-right: 10px;
    margin-bottom: 10px;
}
.profile_class a{
    color: #f90;
    margin:0px 10px;
}
.profile_class div{
    display: inline-block;
}

.profile_class .dispTitle{
    margin-right: 10px;
}
.layui-layer-btn0{
    background: #f90 !important;
    color: #fff !important;
    /*width: 100px;*/
    /*height: 40px !important;*/
    text-align: center;
    padding: 5px !important;
    /*line-height: 40px !important;*/
    border-radius: 4px !important;
    border-color: #f90 !important;
    font-weight: bold !important;
    height: auto !important;
    font-size: 14px !important;
}
.layui-layer-btn1,.layui-layer-btn2{
    background: #fff !important;
    color: #f90 !important;
    /*width: 100px;*/
    /*height: 40px !important;*/
    text-align: center;
    padding: 5px !important;
    font-size: 14px !important;
    height: auto !important;
    /*line-height: 40px !important;*/
    border-radius: 4px !important;
    border-color: #f90 !important;
    font-weight: bold !important;
}

.loading-jz{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    right: 0px;
    background: rgba(0,0,0,.3);
    z-index: 1000000;
    display: none;
}
.loader-img img{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
}
.klgErr{
    margin: 0 0 9px;
    padding: 12px 18px 12px 22.5px;
    display: block;
    font-size: 13px;
    padding-left: 45px;
    position: relative;
    background: #fae5e5;
    color: #e02b27;
    display: none;
}
.klgErr:before{
    -webkit-font-smoothing: antialiased;
    font-size: 24px;
    line-height: 24px;
    color: #b30000;
    content: '\f847';
    font-family: 'porto-icons';
    margin: -12px 0 0;
    vertical-align: middle;
    display: inline-block;
    font-weight: normal;
    overflow: hidden;
    speak: none;
    left: 0;
    top: 22px;
    width: 45px;
    position: absolute;
    text-align: center;
}

#ts_ele{
    font-size: 16px;
    /*position: absolute;*/
    display: none;
    width: 100%;
    /*top: 0px;*/
}
.ts_ele{
    margin: 0 0 9px;
    padding: 12px 18px 12px 22.5px;
    display: block;
    font-size: 13px;
    padding-left: 45px;
    position: relative;
    background: #f90;
    color: #fff;
}
.ts_ele:before{
    -webkit-font-smoothing: antialiased;
    color: #fff;
    font-size: 24px;
    line-height: 24px;
    content: '\f842';
    font-family: 'porto-icons';
    margin: -12px 0 0;
    vertical-align: middle;
    display: inline-block;
    font-weight: normal;
    overflow: hidden;
    speak: none;
    left: 0;
    top: 26px;
    width: 45px;
    position: absolute;
    text-align: center;
}
.error{
    margin: 0 0 9px;
    padding: 12px 18px 12px 22.5px;
    display: block;
    font-size: 13px;
    padding-left: 45px;
    position: relative;
    background: #fae5e5;
    color: #e02b27;
}
.error:before{
    -webkit-font-smoothing: antialiased;
    font-size: 24px;
    line-height: 24px;
    color: #b30000;
    content: '\f847';
    font-family: 'porto-icons';
    margin: -12px 0 0;
    vertical-align: middle;
    display: inline-block;
    font-weight: normal;
    overflow: hidden;
    speak: none;
    left: 0;
    top: 22px;
    width: 45px;
    position: absolute;
    text-align: center;
}
.success {
    margin: 0 0 9px;
    padding: 12px 18px 12px 22.5px;
    display: block;
    font-size: 13px;
    background: #e5efe5;
    color: #006400;
    padding-left: 45px;
    position: relative;
}
.success:before{
    -webkit-font-smoothing: antialiased;
    font-size: 24px;
    line-height: 24px;
    color: #006400;
    content: '\f846';
    font-family: 'porto-icons';
    margin: -12px 0 0;
    vertical-align: middle;
    display: inline-block;
    font-weight: normal;
    overflow: hidden;
    speak: none;
    left: 0;
    top: 22px;
    width: 45px;
    position: absolute;
    text-align: center;
}


/*header临时改变样式*/
.concentrate{
    min-height:0px !important;
}

.float_right li{
    float: right;
    width: 50%;
    padding: 1rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
    position: relative;
    padding-left: 80px;
    background: #fff;
}

.float_right li img{
    display: inline-block;
    width: 70px;
    position: absolute;
    left: 5px;
}
.float_right li:nth-of-type(1),.float_right li:nth-of-type(2),.float_right li:nth-of-type(5),.float_right li:nth-of-type(6),.float_right li:nth-of-type(9),.float_right li:nth-of-type(10),
.float_right li:nth-of-type(13)
{
    background-color: rgba(0, 0, 0, 0.05);
}

@media (max-width:552px) {
    .float_right li:nth-of-type(1),.float_right li:nth-of-type(3),.float_right li:nth-of-type(5),.float_right li:nth-of-type(7),.float_right li:nth-of-type(9),.float_right li:nth-of-type(11)
    {
        background-color: rgba(0, 0, 0, 0.05) !important;
    }
    .float_right li:nth-of-type(2),.float_right li:nth-of-type(4),.float_right li:nth-of-type(6),.float_right li:nth-of-type(8),.float_right li:nth-of-type(10),.float_right li:nth-of-type(12)
    {
        background-color: #fff !important;
    }
    .float_right li{
        width: 100%;
        padding: 1rem 2rem;
        padding-left: 85px;
    }
    .float_right li strong{
        float: right;
    }
    .details_class{
        padding: 0px !important;
    }
}
#parameters{
    /*display: inline-block !important;*/
}
.fa-star:before {
    content: "\f005";
}
#check:after {
    content: "\f005";
    color: #ffb454;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 0%;
}
.zx-sort {
    font-size: 17px;
    display: inline-block;
    color: #fff;
    background: #ffb454;
    padding: 4px 6px 2px;
    border-radius: 3px;
    line-height: 1;
    margin-right: 7px;
    position: relative;
}
.zx-sort:after {
    height: 0;
    width: 0;
    content: "";
    border: 5px solid #ffb454;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    display: block;
    position: absolute;
    right: -10px;
    top: 7px;
}
.fa-star{
    position: relative;
    color: #d8d1ca;
}
.del_price{
    color: #ccc;
    font-size: 24px;
    margin-right: 5px;
}

.box_btn{
    padding: 5px;

}
.box_li_btn{
    margin-right: 10px;
}
.box_li_btn_bott{
    border-bottom: none !important;
}
.tab-content .tab-pane{
    display: none;
}
.tab-pane-show{
    display: block !important;

}
.RETIRED{
    background-color: #ccc !important;
    border-color: #ccc !important;
    pointer-events: none;
    cursor: default;
    opacity: 0.6;
}
.simple_name{
    font-size: 30px;
    text-align: center;
}

.breadcrumbs{
    width: 100%;
    display: inline-block;
    background: #171717;
    z-index: 999;
}
.breadcrumbs .items {
    width: 100%;
    display: inline-block;
    color: inherit;
    padding: 0px 15px;
    margin: 0 auto;
    max-width: 100%;
    line-height: 36px;
}
.breadcrumbs .items li {
    float: left;
    padding-right: 6px;
}
.breadcrumbs .items li a{
    color: white;
    font-weight: 500;
    display: block;
    float: left;
    font-size: 14px;
    text-align: left;
}
.breadcrumbs  .header_icon {
    font-weight: 900;
    margin: -1px 9px;
    color: #fff;
}
.icon-arrow-right-copy:before {
    content: "\e602";
}
.save_after_one{
    color: red !important;
}
.save_after_two{
    color: #969696 !important;
}
#tip_save{
    position: absolute;
    top:-43px;
    left: 2px;
    border: 1px solid #0cc485;
    border-radius: 5px;
    padding: 5px;
    background: #e5efe5;
    color: #006400;
    display: none;
}
#tags a{
    margin-right:5px;
    text-decoration: underline;
    font-weight: bold;
}
#tags a:hover{
    color: #f90;
}


/*tryon*/

.Currently_pd{
    text-align: center;
    margin-top: 10px;
}
.curren_Pd_val{
    color: #f90;
    font-weight:bold;
}
.tryon_class{
    /*position: relative;*/
    /*margin-top: 100px;*/
}

.tryon_class canvas,.select_tryon{
    margin: 0 auto;
    display: block;
    width:100%;
    height: 100%;
}
.tryon_class canvas{
    width: 100% !important;
    height: 100% !important;
}
.select_tryon{
    width: 640px;
    height: 480px;
    padding-top: 150px;
}
.select_tryon>p{
    margin-bottom: 40px;
    text-align: center;
}
.try_without{
    background: #f90;
    color: #fff;
}
#pd_select{
    outline: none;
}
.next,.try_without{
    /*width: 90%;*/
    /* padding: 20px; */
    display: block;
    margin: 20px auto;
    text-align: center;
    height: 42px;
    line-height: 42px;
    border-radius: 4px;
    cursor: pointer;
}
.pd_class{
    text-align: center;
    margin-bottom: 5px;
}
.next{
    background: #fff;
    color: #f90;
    border:1px solid #f90;
}
.next_jx{
    background: #ccc;
    border-color: #ccc;
    color: #fff;
    cursor: not-allowed;
    pointer-events:none;

}
.tryon-list-jx{
    display: none;

}
.next:hover{
    background: #f90;
    color: #fff;
}
.try_without:hover{
    background:#ffb454;
}
.d_pd,.s_pd{
    margin:15px auto;
}
.select_tryon select{
    text-align: center;
    display: block;
    margin: 0px auto;
    height: 50px;
    cursor: pointer;
    border:1px solid #ccc;
    width: 90%;
}
.pd_qh,.tryon_pd_qh{
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
    cursor: pointer;
}
.tryon_pd_qh{
    color: #fff9ec;
    margin-bottom: 20px;
}
.pd_qh:hover,.tryon_pd_qh:hover{
    color: #f90;
}
.s_pd select{
    text-align: center;
    display: block;
    height: 50px;
    cursor: pointer;
    border: 1px solid #ccc;
    width: 100%;
}
.s_pd div{
    width: 45%;
}
@media (max-width: 640px){
    /*.tryon_class canvas,.select_tryon{*/
    /*width: 75%;*/
    /*}*/
    .select_tryon{
        height: 80%;
    }

}

.smak{
    /* width: 80%; */
    height: 100%;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    margin: auto;
    background: rgba(82,82,82,82);
    display: none;
    z-index: 3333333333333333;
}
.smak img{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}
.select_pd,.photograph{
    position: absolute;
    height: 100%;
    background:rgba(0,0,0,.3);
    z-index:77;
    right:0px;
    padding:10px;
}
.photograph{
    width: 28%;
    top: 0px;
    text-align: center;
    padding-top: 150px;
    color: #fff;
}
.image_Recorder{
    font-size: 14px;
    margin-bottom: 20px;
}
.photograph_readius{
    width: 60px;
    height: 60px;
    background: #ffb454;
    border-radius: 50%;
    position: relative;
    margin: 0 auto;
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
    cursor: pointer;
}
.photograph_readius:hover{
    background: #f90;
}
.photograph_readius>img{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}
.djs_readius{
    width: 150px;
    height: 150px;
    background: rgba(0,0,0,.6);
    position: relative;
    border-radius: 50%;
    margin: 0 auto;
    text-align: center;
    line-height: 150px;
    font-size: 30px;
    font-weight: bold;
}
.clickOn_the{
    font-size: 13px;
    margin-bottom: 7px;
    text-align: left;
    margin-left: 50px;
}
.frist_clickOn_the{
    margin-top: 20px;
}
.select_pd{
    width: 50%;
    top:40px;
    display: none;
}
.select_pd select {
    width: 100%;
    height: 40px;
    background-color: #fff;
}
#tryon-content{
    height: 100%;
}
.pd_xz_class{
    color: #fff;
    font-weight: bold;
}
/*#pd_xz_class{*/
/*margin-right: 10px;*/
/*background: #f90;*/
/*color: #fff;*/
/*}*/
.pd_xz_top{
    margin-bottom: 10px;
}
.pd_xz_bottom{
    margin-top: 10px;
}

.tryon_close,.pd_cd{
    display: block;
    background: #fff;
    color: #f90;
    border-radius: 4px;
    border: 1px solid #f90;
    /* padding: 9px; */
    float: left;
    padding: 0 10px;
    height: 30px;
    line-height: 30px;
    outline: none;
}
.pd_cd{
    display: none;
}
.tryon_close:hover,.pd_cd:hover{
    background: #f90;
    color: #fff;
}
.tryon_pd{
    /*width: 104px;*/
    display: inline-block;
    background: #fff;
    color: #f90;
    border-radius: 4px;
    border: 1px solid #f90;
    padding: 10px;
}
#modal-tryon{
    /*width: 800px;*/
    /*height: 656px;*/
    /*border-radius: 7px;*/
    width: 100%;
    height: 100%;
}
.tryon-parent{
    width: 114px;
}
@media (max-width:768px) {
    .select_tryon>p{
        margin-bottom: 10px;
    }
    .select_tryon{
        padding: 200px 20px 0px 20px;
        width: 100%;
        height: auto;
    }
    .modal-title{
        font-size: 14px;
    }
    .simple_name{
        font-size: 20px;
    }
    .close_tryon, .set_Ipd{
        font-size: 16px;
    }
    .menu_list{
        background: rgba(0,0,0,.4) !important;
        color: #fff;
    }
    .position_img,.Rotation_img{
        height:5%;
    }
    .menu_list>li{
        padding: 15px !important;
    }
    .photograph{
        width: 50% !important;
    }
    .clickOn_the{
        margin-left: 0px !important;
    }
}
.tryon_claose_pd{
    position: absolute;
    right: 13px;
    top: 11px;
}
@media (max-width:550px) {
    #tryon-header{
        height: 50px;
    }
    /*.tryon_class canvas{*/
    /*height: 40% !important;*/
    /*}*/
    .tryon-parent{
        width: 24%
    }
    .layui-layer-btn0,.layui-layer-btn1,.layui-layer-btn2{
        width: 100% !important;
    }
    .profile_class{
        font-size: 16px;
    }

}
/*tryon*/


.clipon_class,.tryon_class{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.5);
    z-index: 55555;
    display: none;
}
/*.tryon_class{*/
/*display: block !important;*/
/*}*/
.Preparing{
    color: #fff;
    position: absolute;
    top: -120px;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    display: block;
    width: 350px;
    height: 30px;
    text-align: center;
}
.suang_pd_tryon{
    display: flex;
    justify-content: space-between;
}
.suang_pd_tryon>div{
    width: 43%;
}
.suang_pd_tryon>div>p{
    text-align: center;
    color: #fff;
}
.suang_pd_tryon select{
    width: 100%;
}
.clipon_class  #modal-dialog1,
#modal-tryon{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    overflow: hidden;
    /*padding-bottom: 200px;*/
}
.clipon_class  .modal-header,
.tryon_class  .modal-header {
    width: 99.8%;
    height: 50px;
    background: #fff;
    border-radius: 4px;
    z-index: 555;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    margin-left: 1px;
}
.clipon_class  .modal-content{
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-top: none;
    box-shadow:none;
}
.tryon_class  .modal-content{
    position: relative;
    overflow-y:auto !important;
    width: 100%;
    overflow-y: scroll;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-top: none;
    box-shadow:none;
    padding-bottom: 20px;
}

.s_pd{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 15px auto;
}
.clipon_class  .modal-clip {
    padding: 5px;
    border-bottom: 1px solid #d8d8d8;
    width: 100%;
    margin: auto;
}
.clipon_class  .modal-clip img {
    width: 100%;
}
.clipon_class  .modal-cart, .clipon_class  .modal-clip-num, .clipon_class  .modal-clip-sku, .clipon_class  .modal-clip-price {
    padding: 0px!important;
    padding-right: 5px !important;
}
.clipon_class  .modal-clip-sku {
    font-size: 1.5rem;
    color: #666;
}


.clipon_class .modal-footer{
    padding: 15px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
    position: absolute;
    bottom: 0px;
    width: 100%;
    background: #fff;
    padding-right: 40px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

.clipon_class .btn-close,
.tryon_class .btn-close{
    border-radius: 4px;
    border: 1px solid #f90;
    color: #f90;
}
#info-detail-tryon{
    margin: 20px;
    float: left;
    position: relative;
    left: 50%;
}
#info-detail-tryon nav{
    height: 100%;
    width: 100%;
    position: relative;
    left: -50%;
}
#info-detail-tryon nav img{
    width: 100%;
}
#pdp-color_tryon{
    overflow: inherit !important;
}
/*.tryon-parent{*/
/*width: 14%;*/
/*}*/
.clipon_class .btn-warning{
    border-radius: 4px;
}
.clipon_class .modal-clip-sku,.clipon_class .modal-clip-price{
    font-size: 18px;
}
.clipon_class .modal-clip-price{
    color: #f90;
}
.clipon_class .modal-clip-content{
    margin-top: 42px;
}
.clipon_class .modal-cart{
    margin-top: -10px;
}
.clipon_class #modal-dialog1{
    width: 993px;
}
@media (max-width: 992px){
    .clipon_class .modal-clip-content{
        margin-top: 22px;
    }
    .clipon_class .modal-clip-price{
        margin-bottom: 18px;
    }
    .clipon_class #modal-dialog1{
        width: 90%;
    }
}
.Color_Details_bt{
    font-weight: bold;
}
@media (max-width: 1024px){
    .description_mobel,#mobel_ditles,.padding-reviews{
        padding: 0 15px;
    }
    .padding-reviews{
        margin-top: 37px;
    }
}
.Color_Details{
    margin-top: 0px;
    margin-bottom: 5px;
}
@media (max-width: 1201px){
    .detils_img img{
        margin:2rem auto !important;
    }
    .frame_color{
        margin-top: -6px !important;
    }
    .Lenstype{
        margin-top: 14px !important;
        margin-bottom: 8px !important;
    }
    .Color_Details{
        margin-top: -13px !important;
        margin-bottom: 6px !important;
    }
    #includes_class{
        margin-top: -14px !important;
    }
    .price_mobel{
        margin-top: -12px !important;
    }
    #box_fix{
        margin-top: 25px !important;
    }
    .share_data_class{
        margin-top: 23px !important;
    }
    #paddingTop {
        padding-bottom: 21px !important;
    }
    .description_mobel{
        padding-bottom: 19px !important;
    }
    .reviews_class_wdl{
        margin-top: 25px !important;
    }
    #container_box{
        /*padding: 0px !important;*/
    }
    .Reviews_mobel{
        margin-top: -20px;
    }
}
@media (max-width: 992px){
    .clipon_class .modal-clip-content{
        margin-top: 0px;
        margin-bottom: 20px;
    }
}
#clip_ons_click{
    color: #f90;
    text-decoration: underline;
    padding-left: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    font-weight: bold;
}
.box_li_btn{
    box-shadow: none !important;
    padding: 0px 10px !important;

}
.box_li_btn p{
    font-weight: normal !important;
}
.social-icons li{
    float: left;
}
.social-icons li a{
    border: 2px solid #9e9e9e;
    text-decoration: none;
    border-radius: 50%;
    padding: 6px;
    height: 30px;
    width: 30px;
    display: block;
    position: relative;
}
.porto-icon-facebook:before, .porto-icon-twitter:before, .porto-icon-instagram:before, .porto-icon-pinterest:before {
    font-size: 18px;
    color: #ccc;
}
.social-icons li a em {
    position: absolute;
    left: 2px;
    top: 5px;
}
.hide{
    display: none;
}
.relate_class{
    margin-left: 5px;
    margin-bottom: 15px;
    margin-top: -17px;
    text-decoration: underline;
}
.relate_class a{
    color: #ffb454;
}
.relate_class a:hover{
    color: #f90;
}


/*singn Up*/
#php_val {
    display: inline-block;
    width: 97%;
    padding: 2px 30px;
    color: #000;
    border: 1px solid #ccc !important;
    margin-top: 10px;
    height: 40px;
    margin-left: 20px;
}
:root {
    --star-size: 20px;
    --star-color: #ccc;
    --star-background: #ffb454;
}
.Stars {
    --percent: calc(var(--rating) / 5 * 100%);
    display: inline-block;
    font-size: var(--star-size);
    font-family: Times;
    line-height: 1;
}
.Stars::before {
    content: '⭐️⭐️⭐️⭐️⭐️';
    letter-spacing: 0px;
    background: linear-gradient(90deg, #ffb454 var(--percent), var(--star-color) var(--percent));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 13px;
}
.norx_class{
    font-size: 15px;
    margin-bottom: 10px;
    font-style: italic;
}
.box_fix_class{
    position: fixed;
    bottom: 0px;
    width: 100%;
    padding: 20px;
    background: #fff;
    z-index: 4569;
    left: 0;
    box-shadow: 1px 2px 9px #555;
}
.box_fix_class_pc{
    position: fixed;
    bottom: 0px;
    width: 16%;
    padding: 20px;
    background: #fff;
    z-index: 4569;
    right: 0px;
    box-shadow: 1px 2px 9px #555;
}
#botop {
    width: 43px;
    height: 40px;
    position: fixed;
    background: #404040;
    z-index: 999;
    color: #ccc;
    text-align: center;
    right: 20px;
    line-height: 35px;
    bottom: 0;
    border-radius: 3px 3px 0 0;
    display: none;
    text-decoration: none;
}
.padd_bgc{
    background: #F7F7F7;
    padding: 20px;
    border-radius: 4px;
}
.padd_bgc li{
    width: 49%;
    float: left;
    height: 49%;
    position: relative;
    background-color: #fff;
    margin-bottom: 1rem;
    border-radius: 4px;
}
.padd_bgc li:nth-of-type(odd){
    margin-right: 1rem;
}
.padd_bgc li img{
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
}
@media (max-width: 1272px){
    .padd_bgc li:nth-of-type(odd){
        margin-right: 0.9rem !important;
    }
    .padd_bgc li{
        margin-bottom: 0.9rem !important;
    }
}
.bt_class{
    color: #aaaaaa;
    font-weight: bold;
    text-transform:uppercase;
    padding-left: 0px;
}
.tryon_class_ts{
    margin: 20px;
}
.succes_review{
    color: #f90;
    font-weight: bold;
}
.frame_color{
    margin-top: 4px;
}
.price_sku{
    /*background: #F7F7F7;*/
    padding: 10px;
    /*border-radius: 4px;*/
    height: 70px;
    /*width:48%;*/
}
#price_text{
    line-height: 57px;
    /*width:51%;*/
    /*text-align: center;*/
}
.list-check li{
    background: #F7F7F7;
    padding: 5px;
    padding-left: 30px;
    border-radius: 4px;
}
.description,.details_class,.reviews_bgc{
    padding: 20px;
    background: #F7F7F7;
    border-radius: 4px;
}
.ydl_reviews{
    background: #fff;
    padding: 10px;
    border-radius: 4px;
}
.detils_img{
    position: relative;
}
.detils_img img{
    display: block;
    margin:5rem auto;
}
.padding-top{
    padding-top: 0px !important;
}
.bot_px{
    margin-bottom: 10px;
}
.dest_name{
    padding-top: 20px;
    padding-bottom: 0px !important;
}
.right_class{
    text-align: right;
    margin-right: 6px;
}
.link_class{
    float: right;
    margin-top: 4px;
}
.reviews_class_wdl{
    /*background: #F7F7F7;*/
    padding: 10px;
    border-radius: 4px;
    padding-left: 0px;
}
.reviews_class{
    /*display: flex;*/
    /*justify-content: space-between;*/
    /*background: #F7F7F7;*/
    padding: 10px;
    border-radius: 4px;
    padding-left: 0px;
}
.reviews_class h6{
    margin: 0 !important;
}
.reviews_class_wdl h6,.reviews_class_wdl div, .reviews_class_wdl p{
    margin-top:0px !important;
    margin-bottom: 5px !important;
}
#includes_class{
    margin-top: 0px;
}
#tryon-container{
    width: 80% !important;
    margin: 0 auto;
    background: red;
}

.review_show_more{
    background: #f90;
    /* padding: 10px; */
    text-align: center;
    height: 40px;
    line-height: 40px;
    width: 20%;
    margin: 0 auto;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
}
.review_show_more:hover{
    background-color: #ffb454;
}
.smak_review{
    width: 100%;
    height: 100%;
    background: #fff;
    position: absolute;
    z-index: 555;
    top: 0px;
    right: 0px;
}
.smak_review img{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
}
.mobel_product{
    padding-right: 0px;
    padding-left: 0px;
}
.from_class{
    height: 10px;
    line-height: 10px;
}
.from_class_a,.from_class{
    color: #ffb454;
    font-weight: bold;
}
.from_class_a:hover,.from_class:hover{
    color: #ffb454;
}
.tryon_box_fex{
    width: 100%;
    height: 40px;
    position: fixed;
    background: rgba(0,0,0,.3);
    padding: 0px 10%;
    display: none;
    z-index: 55555555555;
}
.close_tryon_mobel{
    margin-top: 7px;
}
.menu_class{
    width: 65px;
    height: 71px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    background: #ffb454;
    padding: 20px;
    padding-top: 30px;
    position: absolute;
    top: -16px;
    z-index: 5;
    box-shadow: 2px 3px 2px rgba(0, 0, 0, .55);
    transition: all 0.5s;
    cursor: pointer;
}
.menu_class_add{
    top: -2px !important;
    background: #f90 !important;
}
.menu_class span{
    width: 100%;
    display: block;
    height: 3px;
    background: #fff;
    border-radius: 18px;
    margin-bottom: 5px;
}
.menu_list{
    width: 300px;
    position: absolute;
    left: 0px;
    border-radius: 2px;
    top: 40px;
    background: #fff;
    box-shadow: rgba(0,0,0,.2) 0 3px 1px -2px, rgba(0,0,0,.14) 0 2px 2px 0, rgba(0,0,0,.12) 0 1px 5px 0;
    padding-top: 40px;
    transition: all 0.6s;
}
.menu_list>li{
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    padding: 20px;
    border-top:1px solid #ccc;
    cursor: pointer;
}
.menu_list>li:hover{
    background: rgba(0,0,0,.04);
}
.menu_list>li .glyphicon-menu-down{
    float: right;
    transition: all .5s;
}
.pd_slide>li:nth-of-type(1){
    border-bottom: 1px solid #ccc;
}
.pd_slide>li{
    padding: 10px 0px;
}
.pd_slide,.pd_slide1{
    margin-top: 15px;
}
.wrap{
    width:300px;
    height: 30px;
    margin:100px auto;
    overflow: hidden;
}
.close_tryon,.set_Ipd{
    float: right;
    font-size: 20px;
    font-weight: bold;
    color: #ffb454;
    text-transform: uppercase;
    line-height: 40px;
    cursor: pointer;
    margin-right: 20px;
}
.close_tryon:hover,.set_Ipd:hover{
    color: #f90;
}
.tryon_box_fex_bottom{
    width: 100%;
    height: 10%;
    position: fixed;
    bottom: 0px;
    background: rgba(255,255,2555,.3);
    padding: 10px;
    padding-top: 0px;
    opacity: 0;
}
.tryon_box_fex_bottom img{
    width: 100%;
    /*height: 100%;*/
}
#tryon-father{
    height: auto;
    margin: 0 auto;
    position: relative;
}
.tryon_box_fex_bottom .swiper-container{
    height: auto;
    margin-top: -8px;
}
@media (max-width:768px){
    .tryon_box_fex_bottom .swiper-container{
        width: 90%;
    }
    #tryon-father{
        width: 100%;
    }
}

#btn2,#btn3{
    left: 5px;
    top: 1px;
}

@media (max-width:700px){
    #fp_tryon_one,#fp_tryon{
        display: none;
    }
    .pd_slide_Dioptry_show ul,.pd_slide_Thickness_show ul{
        margin-top: 20px;
    }
    #btn2,#btn3{
        left: 8px;
        top: 2px;
    }
}

.tryon_box_fex_bottom .swiper-slide{
    border-radius: 5px;
    overflow: hidden;
    /*padding: 15px;*/
    background: rgb(255, 255, 255);
    cursor: pointer;
}
.tryon_no_class{
    opacity: 0.7;
    cursor: help;
}
.tryon_checked{
    border: 10px solid #f90;
    box-sizing: border-box;
}
.scroll{
    width: 100%;
    height: 5px;
    background: #ccc;
    position: relative;
    margin-top: 31px;
}
.bar{
    width: 10px;
    height: 20px;
    background: #ffb454;
    position: absolute;
    top: -7px;
    left: 0;
    cursor: pointer;
}
.scroll .mask{
    position: absolute;
    left: 0;
    top: 0;
    background: #ffb454;
    width: 0;
    height: 5px;
}
.pd_slide .lanren{
    width: 100%;
    height: 5px;
    position: relative;
    margin: 0px;
    margin-top: 31px;
}
.scale_panel{
    color: #999;
    line-height: 18px;
    width: 100%;
}
.scale{
    width: 100%;
    height: 3px;
    background: #fff;
}
.scale>span {
    background-color: #ffb454;
    width: 10px;
    height: 20px;
    position: absolute;
    left: -2px;
    top: -10px;
    cursor: pointer;
}
.display_fiex_scroll{
    display: flex;
    justify-content: space-between;
}
#title{
    /*position: absolute;*/
    /*top: -6rem;*/
    /*left: 23rem;*/
}
.Adjustments_img{
    /*width: 40px;*/
    margin-right: 10px;
}
.position_img,.Rotation_img{
    width: 60px;
    margin-right: 10px;
}
.icon_glasses1{
    margin-left: 100px;
}
.icon_glasses{
    float: left;
    margin-right: 20px;
    cursor: pointer;
}
.img_size{
    margin-top: 8px;
}
.GetThisPair{
    background: #F7F7F7;
    border-radius: 4px;
    font-size: 16px;
    padding: 5px;
    color: #f90;
    /* text-align: center; */
    padding-left: 20px;
}
.img_class_tryon{
    position: fixed;
    top:0;
}
.close_pd_select,.close_photograph{
    position: absolute;
    z-index: 33;
    right: 20px;
    top: 10px;
    font-size: 20px;
    cursor: pointer;
}
.close_photograph{
    color: #fff;
}
.close_pd_select{
    color: #f90;
}
.Maximum_users{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.Maximum_users div{
    width: 30%;
    background: #fff;
    text-align: center;
    border:1px solid #ffb454;
    color: #ffb454;
    border-radius: 4px;
    line-height: 30px;
    height: 30px;
}
.Maximum_users_frist{
    background: #f90 !important;
    color: #fff !important;
}
.tryon_box_fp{
    display: flex;
    justify-content: space-between;
}
.cssload-container {
    width: 100%;
    height: 49px;
    text-align: center;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
}

.cssload-speeding-wheel {
    width: 49px;
    height: 49px;
    margin: 0 auto;
    border: 5px solid rgba(253,125,0,0.97);
    border-radius: 50%;
    border-left-color: transparent;
    border-right-color: transparent;
    animation: cssload-spin 400ms infinite linear;
    -o-animation: cssload-spin 400ms infinite linear;
    -ms-animation: cssload-spin 400ms infinite linear;
    -webkit-animation: cssload-spin 400ms infinite linear;
    -moz-animation: cssload-spin 400ms infinite linear;
}



@keyframes cssload-spin {
    100%{ transform: rotate(360deg); transform: rotate(360deg); }
}

@-o-keyframes cssload-spin {
    100%{ -o-transform: rotate(360deg); transform: rotate(360deg); }
}

@-ms-keyframes cssload-spin {
    100%{ -ms-transform: rotate(360deg); transform: rotate(360deg); }
}

@-webkit-keyframes cssload-spin {
    100%{ -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}

@-moz-keyframes cssload-spin {
    100%{ -moz-transform: rotate(360deg); transform: rotate(360deg); }
}

.current_tryon_img{
    position: fixed;
    right: 0px;
    bottom: 50%;
    width: 150px;
    border: 3px solid #f90;
    padding: 3px;
    border-radius: 4px;
    background: #fff;
}
.current_tryon_img img{
    width: 100%;
}
#reflective{
    margin-left: 20px;
    font-size: 15px;
    font-weight: normal;
    margin-top: -2px;
}
#formCheck{
    padding: 0px;
    cursor: pointer;
}
.pd_slide2,#formCheck,.pd_slide3{
    margin-top: 20px;
}
.pd_slide2 li>div{
    width: 34px;
    height: 34px;
    border-radius: 50%;
    border: 1px solid transparent;
    position: relative;
    background: #fff;
}
.Mirror_class{
    border: 1px solid #f90 !important;
}
.pd_slide2 li,.pd_slide3 li{
    display: flex;
    justify-content: space-evenly;
}

.pd_slide2 li>div>div{
    width: 26px;
    height: 26px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
}
.pd_slide2 li>div:hover{
    border: 1px solid #f90 !important;
}
.pd_slide2 li>div:nth-of-type(1) div{
    background:#2c302f;
}
.pd_slide2 li>div:nth-of-type(2) div{
    background:#6f5243;
}
.pd_slide2 li>div:nth-of-type(3) div{
    background:#485246;
}
.pd_slide2 li>div:nth-of-type(4) div{
    background-image: url("../images/null_Mirror.png");
}
.mirror_mobel{
    width: 100%;
}
.mirror_mobel>li{
    position: relative;
    padding: 10px;
    width: 100%;
}

.box_class_pd{
    width: 20%;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
}
.box_class_pd li{
    background: #ffb454;
    padding: 10px 20px;
    border-radius: 4px;
    color: #fff;
    text-align: center;
    cursor: pointer;
}
.box_class_pd li:nth-of-type(2){
    background: #fff;
    border: 1px solid #ffb454;
    color:#ffb454;
}
.box_class_pd li:hover{
    background: #f90;
    color: #fff;
    border: 1px solid #f90;
}
/*.pd_slide2 li,.pd_slide3 {*/
/*display: flex;*/
/*justify-content: space-evenly;*/
/*}*/
.btn-color-parent-opctiy{
    visibility:hidden;
}
.btn-color-parent-p-left{
    text-align: left;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 15px;
    font-weight: bold;
}
#Color_Details{
    font-weight: bold;
}
.hover_undu:hover{
    text-decoration: underline;
}

.lensType_left {
    display: inline;
    float: left;
}
.ljlensGuideText {
    text-transform: none;
    color:#ffb454;
    font-size: 14px;
    text-decoration: underline;
    font-weight: lighter;
}
.ljlensGuideText:hover {
    color:#f90;
    text-decoration: underline;
}
.LensGuide{
    position: fixed;
    top:0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0,0,0,.4);
    z-index: 9999999999;
}
.LensGuide_box{
    width: 1200px;
    background: #FFFFFF;
    border-radius: 8px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    overflow-y: scroll;
    padding: 60px;
}
.LensGuide_box ul>h2{
    color: #000000;
    font-family: Lato;
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 20px;
}
.LensGuide_box ul{
    margin-bottom: 30px;
}
.LensGuide_box ul>p{
    color: #000000;
    font-family: Lato;
    font-size: 14px;
    font-weight: normal;
}
.LensGuide_box ul>p{
    margin-bottom: 20px;
}
.LensGuide_box ul a{
    font-family: Lato;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    color: #FF9900;
}
.LensGuide_box ul a:hover{
    color: #ffb454;
    text-decoration: underline;
}
.LensGuide_box_close{
    right: 0px;
    top: 30px;
    cursor: pointer;
    color: #8E8E8E;
    font-size: 18px;
    position: fixed;
    height: 20px;
    width: 1200px;
    top: 25px;
    right: 0px;
    left: 0px;
    /* bottom: 0px; */
    margin: auto;
}
.LensGuide_box_close:before {
    content: "\e014";
    position: absolute;
    right: 20px;
    top: 10px;
}
.LensGuide_box_close:hover{
    color: #ff9900;
}
@media (max-width: 1201px){
    .LensGuide_box,.LensGuide_box_close{
        width: 90%;
    }
}
@media (max-width: 768px){
    .LensGuide_box{
        width: 95%;
        padding: 20px;
    }
    .LensGuide_box_close{
        width: 95%;
    }
    .LensGuide_box ul>h2{
        font-size: 18px;
        margin-bottom: 10px;
    }
    .LensGuide_box ul a{
        font-size: 14px;
    }
    .mobel_lin{
        margin-bottom: 0px !important;
    }
}
@media (max-width: 546px){
    .LensGuide_box img{
        width: 100%;
    }
    .LensGuide_box_close{
        top: 51px;
        right: -27px;
    }

}
/*推荐 Start*/
.recommend>h2{
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
    color: #000;
    margin-bottom: 25px;
}
#recommend_3{
    width: 98%;
    margin-bottom: 40px;
}
#recommend_2{
    width: 70%;
}
#recommend_1{
    width:600px;
}
/*recommend_2*/
@media (max-width: 1200px) {
    #recommend_2{
        width: 98%;
    }
}
/*recommend_1*/
@media (max-width: 700px) {
    #recommend_1{
        width: 98%;
    }
}
.recommend_swiperSlide{
    padding: 0px 20px;
    cursor: pointer;
    position: relative;
}
.recommend_swiperSlide p{
    text-align: center;
    color: #000;
    font-size: 20px;
}
.recommend_swiperSlide li{
    text-align: center;
    font-weight: bold;
}
.recommend_swiperSlide li del{
    color: #ccc;
    margin-right: 10px;
}
.recommend_swiperSlide li span{
    color: #ffb454;
}
.recommend_swiperSlide img{
    transform: scale(.9);
    transition: all ease .5s;
}
.recommend_swiperSlide:hover img{
    transform: scale(1);
}
.recommend_swiperSlide button:hover{
    background: #f90;
    color: #fff;
}
.xyuandian{
    width: 100%;
    height: 30px;
    text-align: center;
    margin-top: -10px;
}
.xyuandian>span{
    width: 23px;
    height: 23px;
    border: 1px solid transparent;
    border-radius: 50%;
    position: relative;
    display: inline-block;
    margin-right: 10px;
    /* padding-top: 3px; */
    padding-right: 0px;
    transition: all .3s ease;
    cursor: pointer;
}
.xyuandian>span:nth-of-type(1){
    border-color: #000;
}
.xyuandian>span:hover{
    border-color: #000;
}
.xyuandian>span>span{
    display: inline-block;
    width: 15px;
    height: 15px;
    background: blue;
    border-radius: 50%;
    box-shadow: 0 1px 2px #888;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
}
@media (max-width: 1300px) {
    .xyuandian{
        margin-top: 10px;
    }
}
@media (max-width: 1025px) {
    #recommend_3,#recommend_2,#recommend_1{
        margin-top: 35px;
    }
}
@media (max-width: 800px) {
    .xyuandian{
        margin-top: -2px;
    }
    .recommend>h2{
        font-size: 18px;
    }
}
/*推荐 End*/
.profleLogin{
    margin-top: 10px;
}
.dispTitle{
    margin-bottom: 10px;
}
.size_title_pdp{
    font-size: 18px;
    font-weight: bold;
}

/* 分享 facebook */
.share_f{
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    line-height: 37px;
    cursor: pointer;
}
.share_f_noclick{
    color: #ccc;
    cursor: not-allowed;
}
.faceImgBox{
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,.8);
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: auto;
    display: none;
    z-index: 100000000;
}
.closeFace{
    color: #f90;
    position: absolute;
    top: 0;
    right: 1%;
    cursor: pointer;
    font-size: 24px;
    font-weight: bold;
}
.closeFace:hover{
    transform: translate(-1px,-1px);
}
.faceImg{
    display: block;
    margin: 1% auto;
    max-width: 95%;
}
.share_f_i{
    position: absolute;
    bottom: 5%;
    right: 4%;
}
