#footer-2020 div,
#footer-2020 ul,
#footer-2020 li,
#footer-2020 a,
#footer-2020 span,
#footer-2020 strong,
#footer-2020 address {
  margin: 0;
  padding: 0;
  font-size: 14px;
}
#footer-2020 ul,
#footer-2020 li {
  list-style: none;
}
#footer-2020 a {
  text-decoration: none;
}
#footer-2020 a:hover {
  text-decoration: none;
}
body {
  font-family: "LatoRegular";
}
#footer-2020 {
  background: #121214;
  padding-top: 0 !important;
}
#footer-2020 .footer-top {
  padding: 25px 0;
  background-color: #212529 !important;
}
#footer-2020 .footer-top .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
#footer-2020 .footer-top .title {
  color: #fff;
  line-height: 42px;
  margin: 0;
  margin-right: 20px;
  text-align: right;
  font-family: 'Merriweather', 'Times', serif;
  font-size: 22px;
}
#footer-2020 .footer-top .Email_footer{
  height: 42px;
  border-radius: 21px;
  overflow: hidden;
  width: auto;
  min-width: 260px;
  padding: 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
}
#footer-2020 .footer-top .Email_footer .input {
  float: left;
  width: calc(100% - 90px);
}
#footer-2020 .footer-top .Email_footer .actions {
  width: 90px;
  height: 42px;
  float: left;
}
#footer-2020 .footer-top .Email_footer .action {
  width: 90px;
  height: 42px;
  line-height: 42px;
  float: left;
  border-radius: 0;
  border: none;
  color: white;
  background: #FF9900;
  padding: 0;
}
#footer-2020 .footer-top .Email_footer .action span{
  line-height: inherit;
  display: inherit;
  font-size:16px;
}
#footer-2020 .footer-top #footer_newsletter {
  height: 42px;
  line-height: 42px;
  min-width: 260px;
  padding: 0 18px;
  background-color: #dcdcdc !important;
  border-radius: 0;
  border: 0;
  width: 100%;
  float: left;
  outline: 0;
}
#footer-2020 .footer-top #footer_newsletter label.error{
  width:0px;
  height:0px;
  overflow:hidden;
}
#footer-2020 .footer-top .icons {
  /*text-align: right;*/
}
.social-icons li{
  width: auto !important;
  margin-left: 20px;
}
.social-icons {
  display: contents !important;
  width: auto !important;
}
/*#footer-2020 .footer-top .icons a {*/
/*width: 42px;*/
/*height: 42px;*/
/*display: inline-block;*/
/*border-radius: 21px;*/
/*overflow: hidden;*/
/*}*/
/*#footer-2020 .footer-top .facebook-link {*/
/*background: url(../img/footer_1.png) no-repeat center;*/
/*}*/
/*#footer-2020 .footer-top .twitter-link {*/
/*background: url(../img/footer_2.png) no-repeat center;*/
/*}*/
/*#footer-2020 .footer-top .instagram-link {*/
/*background: url(../img/footer_3.png) no-repeat center;*/
/*}*/
/*#footer-2020 .footer-top .pinterest-link {*/
/*background: url(../img/footer_4.png) no-repeat center;*/
/*}*/
#footer-2020 .footer-middle {
  padding: 0;
  max-width: 100%;
  margin-top: 20px;
  width: 100%;
  float: none;
}
#footer-2020 .footer-middle .row {
  margin: 0;
  padding: 0;
}
#footer-2020 .footer-middle .list-item {
  background-color: #121214;
}
#footer-2020 .footer-middle .list-item ul {
  margin-top: 0;
}
#footer-2020 .footer-middle .block-title {
  background: #121214;
  height: 50px;
  line-height: 50px;
}
#footer-2020 .footer-middle .block-title strong {
  height: 50px;
  line-height: 20px;
  display: block;
}
#footer-2020 .footer-middle span {
  color: #777;
  font-size: 14px;
  font-weight: 700;
}
#footer-2020 .footer-middle .col-name {
  color: #fff;
  padding: 15px 0 ;
  font-size: 16px;
  height: 31px;
}
#footer-2020 .footer-middle .iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: orange;
}
#footer-2020 .footer-middle .iconfont:before {
  content: "\e6aa";
}
#footer-2020 .footer-middle li {
  padding: 5px 0;
  line-height: normal;
  line-height: inherit;
  font-size: 14px;
  margin: 0;
}
#footer-2020 .footer-middle li a {
  line-height: normal;
  font-size: 14px;
}
#footer-2020 .footer-middle .list-item .list-con > li > a {
  color: #fff;
  font-size: 14px !important;
  min-width: 100%;
  padding: 0;
}
#footer-2020 .footer-middle strong {
  font-size: 16px;
  color: white;
  font-weight: 500;
  float: none;
  font-family: "LatoRegular";
}
#footer-2020 .footer-middle .list-con {
  padding: 0 25px 15px 25px;
}
#footer-2020 .footer-middle a {
  color: #fff;
}
#footer-2020 .footer-middle .col-xs-12,
#footer-2020 .footer-middle .col-md-6,
#footer-2020 .footer-middle .col-max-6,
#footer-2020 .footer-middle .col-max-4,
#footer-2020 .footer-middle .col-lg-6,
#footer-2020 .footer-middle .col-max-8 {
  padding: 0;
}
#footer-2020 .footer-bottom {
  padding: 20px 0;
  background: inherit;
  line-height: inherit;
  min-height: inherit;
  /* 底部-电话 */
  /* 底部-版权 */
}
#footer-2020 .footer-bottom .custom-block {
  width: 100%;
  padding: 0;
  padding-bottom: 60px;
  margin: 0 auto;
  background: #121214;
}
#footer-2020 .footer-bottom .custom-block ul {
  overflow: hidden;
}
#footer-2020 .footer-bottom .custom-block li {
  float: left;
}
#footer-2020 .footer-bottom .contact-us {
  display: inline-block;
  padding-top: 20px;
  padding-left: 20px;
}
#footer-2020 .footer-bottom .contact-us li {
  line-height: 30px;
  margin-right: 20px;
}
#footer-2020 .footer-bottom .contact-us li span,
#footer-2020 .footer-bottom .contact-us li a {
  color: #9e9e9e;
}
#footer-2020 .footer-bottom .contact-us .porto-icon-mail:before,
#footer-2020 .footer-bottom .contact-us .porto-icon-phone:before,
#footer-2020 .footer-bottom .contact-us .porto-icon-mobile:before,
#footer-2020 .footer-bottom .contact-us .porto-icon-chat:before {
  font-size: 20px;
  top: 5px;
  position: static;
  top: inherit;
  left: inherit;
}
#footer-2020 .footer-bottom .contact-us .porto-icon-mail:before {
  content: '\f829';
}
#footer-2020 .footer-bottom .contact-us .porto-icon-phone:before {
  content: '\f824';
}
#footer-2020 .footer-bottom .contact-us .porto-icon-mobile:before {
  content: '\f84b';
}
#footer-2020 .footer-bottom .contact-us .porto-icon-chat:before {
  content: '\f860';
}
#footer-2020 .footer-bottom .ourPhone {
  margin-top: 20px;
  padding: 0 20px !important;
}
#footer-2020 .footer-bottom .ourPhone strong {
  padding-bottom: 20px;
  color: #999;
  font-size: 13px;
  padding: 0;
}
#footer-2020 .footer-bottom .ourPhone img {
  height: 24px;
  display: inline-block;
}
#footer-2020 .footer-bottom .ourPhone div {
  padding: 0;
  color: #999;
}
#footer-2020 .footer-bottom .ourPhone a {
  color: #FF9900;
}
#footer-2020 .social-icons li a em {
  left: 1px;
  top: 5px;
}
@media screen and (max-width: 1293px){
  .container {
    width: 100%;
  }
}
@media (max-width: 992px) {
  #footer-2020 .footer-top {
    padding: 25px;
    background-color: #212529 !important;
  }
  /*#footer-2020 .container.footer-bottom {*/
    /*width: 980px;*/
  /*}*/
  #footer-2020 .list-con {
    display: none;
    padding: 0 25px;
  }
  #footer-2020 .footer-top .icons {
    text-align: center;
  }
  #footer-2020 .footer-middle {
    border-bottom: none !important;
    margin-top: 0;
    /**关闭图标**/
    /*向下箭头*/
  }
  #footer-2020 .footer-middle .row {
    border-bottom: 1px solid #666;
    padding-bottom: 0;
  }
  #footer-2020 .footer-middle .block-title {
    border-top: 1px solid #666;
    padding-left: 25px;
    margin-bottom: 0;
    font-size: 16px;
  }
  #footer-2020 .footer-middle .pc-none {
    display: block;
    height: 50px;
  }
  #footer-2020 .footer-middle .pc-block {
    display: none;
  }
  #footer-2020 .footer-middle .icon {
    width: 14px;
    height: 14px;
    background: url(https://static.payneglasses.com/assets2/resource/pdp-summary/images/close.png) no-repeat center;
    margin-top: 17px;
    margin-right: 25px;
    background-color: none;
    float: right;
  }
  #footer-2020 .footer-middle .collapsed .icon {
    background: url(https://static.payneglasses.com/assets2/resource/pdp-summary/images/Vector.png) no-repeat center;
  }
  #footer-2020 .footer-bottom .custom-block li {
    float: none;
    width: 100%;
  }
  #footer-2020 .footer-bottom {
    padding: 0;
  }
}
@media (max-width: 992px) {
  #footer-2020 .footer-top .title {
    text-align: center;
    margin-bottom: 10px;
    margin-right: 0;
  }
  #footer-2020 .footer-top .form {
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 30px;
  }
  #footer-2020 .custom-block {
    padding: 0 25px;
  }
  #footer-2020 .footer-bottom .paystyle img {
    display: block;
  }
  #footer-2020 .footer-middle .block-title strong {
    line-height: 50px;
    display: inline;
  }
}
@media (min-width: 1100px) {
  #footer-2020 .container {
    margin: 0 auto;
  }
}
@media (min-width: 992px) {
  #footer-2020 .footer-middle .icon,
  #footer-2020 .pc-none {
    display: none;
  }
  #footer-2020 .pc-block {
    display: block;
  }
  #footer-2020 .navbar {
    border: none;
  }
  #footer-2020 .block-title {
    padding-left: 25px;
  }
  #footer-2020 .footer-bottom {
    border-top: 1px solid #444;
    padding-top: 20px;
    margin-top: 30px;
  }
  #footer-2020 .paystyle {
    text-align: right;
  }
}
@media (min-width: 1650px) {
  #footer-2020 .container {
    width: 1630px;
  }
  #footer-2020 .col-max-1,
  #footer-2020 .col-max-10,
  #footer-2020 .col-max-11,
  #footer-2020 .col-max-12,
  #footer-2020 .col-max-2,
  #footer-2020 .col-max-3,
  #footer-2020 .col-max-4,
  #footer-2020 .col-max-5,
  #footer-2020 .col-max-6,
  #footer-2020 .col-max-7,
  #footer-2020 .col-max-8,
  #footer-2020 .col-max-9 {
    float: left;
  }
  #footer-2020 .col-max-12 {
    width: 100%;
  }
  #footer-2020 .col-max-11 {
    width: 91.66666667%;
  }
  #footer-2020 .col-max-10 {
    width: 83.33333333%;
  }
  #footer-2020 .col-max-9 {
    width: 75%;
  }
  #footer-2020 .col-max-8 {
    width: 66.66666667%;
  }
  #footer-2020 .col-max-7 {
    width: 58.33333333%;
  }
  #footer-2020 .col-max-6 {
    width: 50%;
  }
  #footer-2020 .col-max-5 {
    width: 41.66666667%;
  }
  #footer-2020 .col-max-4 {
    width: 33.33333333%;
  }
  #footer-2020 .col-max-3 {
    width: 25%;
  }
  #footer-2020 .col-max-2 {
    width: 16.66666667%;
  }
  #footer-2020 .col-max-1 {
    width: 8.33333333%;
  }
}


/*订阅*/
#footer-2020 .assigned .success {
  margin: 0 0 9px;
  padding: 12px 18px 12px 22.5px;
  display: block;
  font-size: 13px;
  background: #e5efe5;
  color: #006400;
  padding-left: 45px;
  position: relative;
}
#footer-2020 .assigned .error {
  margin: 0 0 9px;
  padding: 12px 18px 12px 22.5px;
  display: block;
  font-size: 13px;
  padding-left: 45px;
  position: relative;
  background: #fae5e5;
  color: #e02b27;
}
#footer-2020 input::-webkit-input-placeholder{
  color: #666;
}
#footer-2020 .assigned .success>*:first-child:before {
  -webkit-font-smoothing: antialiased;
  font-size: 24px;
  line-height: 24px;
  color: #006400;
  content: '\f846';
  font-family: 'porto-icons';
  margin: -12px 0 0;
  vertical-align: middle;
  display: inline-block;
  font-weight: normal;
  overflow: hidden;
  speak: none;
  left: 0;
  top: 22px;
  width: 45px;
  position: absolute;
  text-align: center;
}
#footer-2020 .assigned .error>*:first-child:before {
  -webkit-font-smoothing: antialiased;
  font-size: 24px;
  line-height: 24px;
  color: #b30000;
  content: '\f847';
  font-family: 'porto-icons';
  margin: -12px 0 0;
  vertical-align: middle;
  display: inline-block;
  font-weight: normal;
  overflow: hidden;
  speak: none;
  left: 0;
  top: 22px;
  width: 45px;
  position: absolute;
  text-align: center;
}
#footer-2020 .bjt_img{
  width: 342px;
  height:24px;
  background: url(https://static.payneglasses.com/assets2/resource/pdp-summary/images/payments.png) no-repeat center;
}

@media (max-width: 768px) {
  #footer-2020 .bjt_img{
    margin-bottom: 20px;
    margin-top: 23px;
  }
  #footer-2020 .col-md-8 {
    width: 66.6666666667%;
  }
  #footer-2020 .col-md-4 {
    width: 33.3333333333%;
  }
  .social-icons li{
    display:inline-block;
    float: none !important;
  }
}
@media (max-width: 592px){
  #footer-2020 .col-xs-12 {
    width: 100%;
  }
  #footer-2020 .social-icons li {
    float: none !important;
    display: inline-block;
  }
}
#footer-2020 input::-ms-clear,input::-ms-reveal{
  display:none
}
#footer-2020 .social-icons>li>a{
  background-color: transparent !important;
  border: 2px solid #ccc !important;
  margin-left:10px;
}
#footer-2020 .social-icons li:nth-child(1) a:hover{
  background-color: #3c599b !important;
  color: #fff;
}
#footer-2020 .social-icons li:nth-child(2) a:hover {
  background-color: #1ca8e3 !important;
  color: #fff;
}
#footer-2020 .social-icons li:nth-child(3) a:hover {
  background-color: #c867e0 !important;
  color: #fff;
}
#footer-2020 .social-icons li:nth-child(4) a:hover {
  background-color: #e40404 !important;
  color: #fff;
}