/* ==== BASE STYLES ====*/
/* ==================== GLOBAL STYLES ======================= */
@import url("./family.css");
html {
  font-size: 16px; }

/* ========================
INCLUDE STYLES AND COMPONENTS
===================== */
/* ================== HELPERS  =================== */
a:hover {
  text-decoration: none; }

.img-wrap {
  text-align: center;
  display: block; }
.img-wrap img {
  max-width: 100%; }

.icon-wrap {
  text-align: center;
  display: inline-block; }

.price-wrap {
  letter-spacing: -0.7px; }

.list-group a:not(.active) {
  color: initial; }
.list-group a:not(.active):hover {
  color: #545454;
  background-color: #f9f9f9; }

.content-body {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 2rem 2.3rem; }

/* =================  DEFINED VARIABLES =================== */
.icon-xs, .icon-sm, .icon-md, .icon-lg {
  display: inline-block;
  text-align: center;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0; }

.icon-xs {
  width: 41px;
  height: 41px;
  line-height: 41px !important;
  font-size: 18px; }

.icon-sm {
  width: 48px;
  height: 48px;
  line-height: 48px !important;
  font-size: 20px; }

.icon-md {
  width: 60px;
  height: 60px;
  line-height: 60px !important;
  font-size: 28px; }

.icon-lg {
  width: 96px;
  height: 96px;
  line-height: 96px !important;
  font-size: 42px; }

.avatar-xs, .avatar-sm, .avatar-md, .avatar-lg {
  display: inline-block;
  text-align: center;
  border-radius: 100%;
  border: 1px solid #ddd;
  -o-object-fit: cover;
  object-fit: cover;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0; }

.avatar-xs {
  width: 36px;
  height: 36px; }

.avatar-sm {
  width: 48px;
  height: 48px; }

.avatar-md {
  width: 60px;
  height: 60px; }

.avatar-lg {
  width: 96px;
  height: 96px; }

.img-xs, .img-sm, .img-md, .img-lg {
  -o-object-fit: cover;
  object-fit: cover;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0; }

.img-xs {
  width: 70px;
  height: 40px; }

.img-sm {
  width: 120px;
  height: 80px; }

.img-md {
  width: 200px;
  height: 130px; }

.img-lg {
  width: 350px;
  height: 220px; }

.center-xy {
  top: 50%;
  left: 50%;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.center-y {
  top: 50%;
  position: absolute;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%); }

.center-x {
  left: 50%;
  position: absolute;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%); }

.vh-100 {
  height: 100vh; }

.overflow-h {
  overflow: hidden; }

.flip-h {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1); }

.opacity {
  opacity: .5; }

[class*="hover-"] {
  -webkit-transition: .5s;
  transition: .5s; }

.hover-bg:hover {
  background: #FF9900;
  /* For browsers that do not support gradients */
  /* For Safari 5.1 to 6.0 */
  /* For Opera 11.1 to 12.0 */
  /* For Firefox 3.6 to 15 */
  background: -webkit-gradient(linear, left top, right bottom, from(#FF9900), to(#FF9900));
  background: linear-gradient(to bottom right, #FF9900, #FF9900);
  /* Standard syntax */
  -webkit-transition: .5s;
  transition: .5s; }

.hover-zoom:hover {
  -webkit-transition: .5s;
  transition: .5s;
  -webkit-transform: scaleX(1);
  transform: scaleX(1); }

/* ============== spacing ============== */
.padding-y {
  padding-top: 40px;
  padding-bottom: 40px; }

.padding-top {
  padding-top: 40px; }

.padding-bottom {
  padding-bottom: 40px; }

.padding-y-lg {
  padding-top: 80px;
  padding-bottom: 80px; }

.padding-top-lg {
  padding-top: 80px; }

.padding-bottom-lg {
  padding-bottom: 80px; }

.padding-y-sm {
  padding-top: 20px;
  padding-bottom: 20px; }

.padding-top-sm {
  padding-top: 20px; }

.padding-bottom-sm {
  padding-bottom: 20px; }

.relative {
  position: relative; }

.absolute {
  position: absolute; }

var {
  font-style: normal; }

figure {
  margin-bottom: 0; }

.form-noborder input, .form-noborder select, .form-noborder .btn {
  border: 0; }
.form-noborder select.form-control-lg:not([size]):not([multiple]) {
  height: 2.875rem; }

/* all clearfix */
article:after,
.form-group:after {
  display: block;
  clear: both;
  content: ""; }

/* -------------------- small grid gutter --------------------- */
.row-sm {
  margin-right: -7px;
  margin-left: -7px;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.row-sm > [class^="col"] {
  padding-left: 7px;
  padding-right: 7px; }

.bg {
  background-color: #f9f9f9; }

.bg-white {
  background-color: #fff; }

.bg-orange {
  background-color: #FF9900; }

.bg-green {
  background-color: #00b517; }

.bg-blue {
  background-color: #3167eb; }

.bg-red {
  background-color: #fa3434; }

.bg-gradient-blue {
  background: rgba(33, 37, 41, 0.4);
  /* For browsers that do not support gradients */
  /* For Safari 5.1 to 6.0 */
  /* For Opera 11.1 to 12.0 */
  /* For Firefox 3.6 to 15 */
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(49, 103, 235, 0.9)), to(rgba(33, 37, 41, 0.4)));
  background: linear-gradient(to bottom right, rgba(49, 103, 235, 0.9), rgba(33, 37, 41, 0.4));
  /* Standard syntax */
  -webkit-transition: .5s;
  transition: .5s; }

.bg-gradient-green {
  background: rgba(33, 37, 41, 0.4);
  /* For browsers that do not support gradients */
  /* For Safari 5.1 to 6.0 */
  /* For Opera 11.1 to 12.0 */
  /* For Firefox 3.6 to 15 */
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(0, 181, 23, 0.9)), to(rgba(33, 37, 41, 0.4)));
  background: linear-gradient(to bottom right, rgba(0, 181, 23, 0.9), rgba(33, 37, 41, 0.4));
  /* Standard syntax */
  -webkit-transition: .5s;
  transition: .5s; }

.bg-gradient-orange {
  background: rgba(33, 37, 41, 0.4);
  /* For browsers that do not support gradients */
  /* For Safari 5.1 to 6.0 */
  /* For Opera 11.1 to 12.0 */
  /* For Firefox 3.6 to 15 */
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 153, 0, 0.9)), to(rgba(33, 37, 41, 0.4)));
  background: linear-gradient(to bottom right, rgba(255, 153, 0, 0.9), rgba(33, 37, 41, 0.4));
  /* Standard syntax */
  -webkit-transition: .5s;
  transition: .5s; }

.bg-gradient-red {
  background: rgba(33, 37, 41, 0.4);
  /* For browsers that do not support gradients */
  /* For Safari 5.1 to 6.0 */
  /* For Opera 11.1 to 12.0 */
  /* For Firefox 3.6 to 15 */
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(250, 52, 52, 0.9)), to(rgba(33, 37, 41, 0.4)));
  background: linear-gradient(to bottom right, rgba(250, 52, 52, 0.9), rgba(33, 37, 41, 0.4));
  /* Standard syntax */
  -webkit-transition: .5s;
  transition: .5s; }

.bg-gradient-pink {
  background: rgba(33, 37, 41, 0.4);
  /* For browsers that do not support gradients */
  /* For Safari 5.1 to 6.0 */
  /* For Opera 11.1 to 12.0 */
  /* For Firefox 3.6 to 15 */
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(232, 62, 140, 0.9)), to(rgba(33, 37, 41, 0.4)));
  background: linear-gradient(to bottom right, rgba(232, 62, 140, 0.9), rgba(33, 37, 41, 0.4));
  /* Standard syntax */
  -webkit-transition: .5s;
  transition: .5s; }

.bg-pattern {
  background-size: cover, auto;
  background-repeat: no-repeat, repeat;
  background-position: 0px 0px, 50% 50%; }

.bg-img {
  overflow: hidden;
  background-color: #ddd;
  background-position: 0px 0px, 50% 50%;
  background-size: auto  cover; }

.overlay-gradient {
  position: relative; }
.overlay-gradient:before {
  position: absolute;
  content: "";
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: .6;
  -webkit-transition: .5s;
  transition: .5s;
  background: aqua;
  /* For browsers that do not support gradients */
  /* For Safari 5.1 to 6.0 */
  /* For Opera 11.1 to 12.0 */
  /* For Firefox 3.6 to 15 */
  background: -webkit-gradient(linear, left top, right bottom, from(#3167eb), to(aqua));
  background: linear-gradient(to bottom right, #3167eb, aqua);
  /* Standard syntax */ }
.overlay-gradient:hover:before {
  opacity: .9; }

/* --------------------- titles ---------------------- */
.section-heading {
  margin-bottom: 30px;
  margin-top: 7px; }
.section-heading .nav-tabs {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.section-title {
  color: #212529;
  font-family: 'Merriweather', 'Times', serif;
  font-size: 28px; }

.title-control {
  font-size: 13px;
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: bold; }

.title-text {
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: bold;
  color: #212529; }

.title-page {
  color: #212529; }

.b {
  font-weight: 600; }

.white {
  color: #fff; }

.dark {
  color: #212529; }

.black {
  color: #000; }

p:last-child {
  margin-bottom: 0; }

/* ==================  title helpers ================ */
.rtl {
  direction: rtl; }

.ltr {
  direction: ltr; }

/* ================== SECTIONS =================== */
/*.header-mobile {*/
/*display: none;*/
/*background-color: #212529;*/
/*padding: 5px;*/
/*-webkit-box-pack: justify;*/
/*-ms-flex-pack: justify;*/
/*justify-content: space-between;*/
/*-webkit-box-align: center;*/
/*-ms-flex-align: center;*/
/*align-items: center; }*/
/*.header-mobile .btn {*/
/*color: #fff;*/
/*font-size: 20px;*/
/*padding-left: 12px;*/
/*padding-right: 12px; }*/

/*.mobile-search {*/
/*display: none; }*/

.navbar-main .nav-link {
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .5px; }

.logo {
  margin-right: 7px;
  max-height: 42px;
  display: inline-block; }

.searchform {
  position: relative; }
.searchform .form-control {
  border: 0;
  background-color: #3C3C3C; }
.searchform .btn-search {
  position: absolute;
  right: 0;
  border-radius: 20px;
  color: #999; }
.searchform ::-webkit-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #999;
  opacity: 1;
  /* Firefox */ }
.searchform :-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #999;
  opacity: 1;
  /* Firefox */ }
.searchform ::-ms-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #999;
  opacity: 1;
  /* Firefox */ }
.searchform ::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #999;
  opacity: 1;
  /* Firefox */ }
.searchform :-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #999; }
.searchform ::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #999; }
.searchform .form-control:focus {
  /*background-color: #fff;*/
}

.widget-header {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  vertical-align: middle;
  position: relative;
  margin-left: 15px; }
.widget-header .dropdown-toggle {
  color: rgba(255, 255, 255, 0.6); }
.widget-header .text-widget {
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .5px;
  color: rgba(255, 255, 255, 0.6); }
.widget-header .text-widget:hover {
  color: #fff; }
.widget-header i {
  color: #fff; }
.widget-header .icon {
  background-color: #3C3C3C;
  position: relative;
  margin-right: 7px;
  -ms-flex-negative: 0;
  flex-shrink: 0; }
.widget-header .notify {
  position: absolute;
  top: -3px;
  right: -10px; }
.widget-header:hover {
  color: #fff; }
.widget-header:hover i {
  color: #fff; }
.widget-header:hover .icon {
  background-color: #5a5a5a; }

/* ============ desktop view ============ */
@media all and (min-width: 992px) {
  .navbar .nav-item .dropdown-menu {
    display: block;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: .3s;
    transition: .3s;
    margin-top: 0; }

  .navbar .nav-item:hover .nav-link {
    color: #fff; }

  .navbar .dropdown-menu.fade-down {
    top: 80%;
    -webkit-transform: rotateX(-75deg);
    transform: rotateX(-75deg);
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%; }

  .navbar .dropdown-menu.fade-up {
    top: 180%; }

  .navbar .nav-item:hover .dropdown-menu {
    -webkit-transition: .3s;
    transition: .3s;
    opacity: 1;
    visibility: visible;
    top: 100%;
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg); } }
/* ============ desktop view .end// ============ */
.form-subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
.form-subscribe .label-wrap {
  margin-right: 20px; }
.form-subscribe .title {
  margin-bottom: 0;
  line-height: 1.2;
  font-family: 'Merriweather', 'Times', serif;
  font-size: 22px; }
.form-subscribe p {
  color: #969696; }
.form-subscribe input {
  border-radius: 20px 0 0 20px;
  background-color: #ddd; }
.form-subscribe .btn {
  border-radius: 0 20px  20px 0; }

/* ================ SECTION-FOOTER ==================  */
.section-footer {
  background-color: #1C1C1C; }
.section-footer ul {
  margin-bottom: 20px; }
.section-footer ul a {
  color: #ced4da; }
.section-footer ul a:hover {
  color: #FF9900; }
.section-footer .border-top {
  border-color: #494949; }
.section-footer .logo-footer {
  height: 40px; }

.footer-main .title {
  font-weight: 600;
  margin-bottom: 7px; }

.footer-bottom {
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid #444; }

.footer-copyright {
  padding-top: 20px;
  padding-bottom: 20px; }

.offcanvas-active {
  overflow: hidden; }

.screen-overlay {
  width: 0%;
  height: 100%;
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  background-color: rgba(20, 20, 20, 0.8);
  -webkit-transition: opacity .2s linear, visibility .1s, width 1s ease-in;
  transition: opacity .2s linear, visibility .1s, width 1s ease-in; }

.screen-overlay.show {
  -webkit-transition: opacity .5s ease, width 0s;
  transition: opacity .5s ease, width 0s;
  opacity: 1;
  width: 100%;
  visibility: visible; }

.offcanvas {
  width: 80%;
  max-width: 400px;
  visibility: hidden;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition: all .2s;
  transition: all .2s;
  border-radius: 0;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 1200;
  background-color: #fff;
  overflow-y: scroll;
  overflow-x: hidden; }

.offcanvas.offcanvas-right {
  right: 0;
  left: auto;
  -webkit-transform: translateX(100%);
  transform: translateX(100%); }

.offcanvas.show {
  visibility: visible;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s; }

.offcanvas .btn-close {
  position: absolute;
  right: 15px;
  top: 15px; }

/* ================== COMPONENTS =================== */
/* ================ OWL SLIDER BANNER ================ */
.slider-items-owl .owl-nav .owl-prev, .slider-items-owl .owl-nav .owl-next {
  display: inline-block;
  background-color: #fff;
  color: #C1C1C1;
  width: 56px;
  height: 56px;
  line-height: 56px;
  border: 1px solid #eaeaea;
  -webkit-box-shadow: 0 2px 3px rgba(206, 212, 218, 0.2);
  box-shadow: 0 2px 3px rgba(206, 212, 218, 0.2);
  text-align: center;
  position: absolute;
  border-radius: 40px;
  z-index: 9; }
.slider-items-owl .owl-nav .owl-prev {
  left: -70px; }
.slider-items-owl .owl-nav .owl-next {
  right: -70px; }
.slider-items-owl .owl-nav button:hover {
  color: #FF9900;
  border: 1px solid #ced4da; }

.btn-facebook {
  background-color: #405D9D;
  color: #fff; }
.btn-facebook:hover {
  color: #fff; }

.btn-instagram {
  background-color: #E52D27;
  color: #fff; }
.btn-instagram:hover {
  color: #fff; }

.btn-youtube {
  background-color: #C8046C;
  color: #fff; }
.btn-youtube:hover {
  color: #fff; }

.btn-twitter {
  background-color: #42AEEC;
  color: #fff; }
.btn-twitter:hover {
  color: #fff; }

.btn-google {
  background-color: #ff7575;
  color: #fff; }
.btn-google:hover {
  color: #fff; }

.btn-icon {
  width: calc(1.5em + 1.1rem + 2px);
  text-align: center;
  padding-left: 0;
  padding-right: 0; }
.btn-icon i {
  line-height: 1; }

.btn-light {
  background-color: #fff;
  border-color: #eaeaea; }
.btn-light i {
  color: #969696; }
.btn-light:hover {
  background-color: #fff;
  border-color: #9e9e9e; }

.btn .text + i {
  margin-left: 10px; }
.btn i + .text {
  margin-left: 10px; }

.item-blog p {
  margin-bottom: 0; }
.item-blog .meta {
  margin-bottom: 10px;
  color: #969696; }
.item-blog .meta span {
  margin-right: 10px; }
.item-blog .meta .date {
  margin-right: 7px; }
.item-blog .img-wrap {
  height: 200px;
  overflow: hidden; }
.item-blog .info-wrap {
  padding-top: 15px; }
.item-blog img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover; }
.item-blog .title {
  font-size: 18px;
  font-weight: 500;
  color: #343a40; }

.itemside {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%; }
.itemside .aside {
  position: relative;
  -ms-flex-negative: 0;
  flex-shrink: 0; }
.itemside .info {
  padding-left: 15px;
  padding-right: 7px; }
.itemside p {
  margin-bottom: 0; }
.itemside .title {
  display: block;
  margin-bottom: 5px;
  color: #212529; }
.itemside a.title:hover {
  color: #FF9900; }

a.itemside {
  color: initial; }

.items-bordered-wrap .itemside:not(:last-child) {
  border-bottom: 1px solid #eaeaea;
  padding-bottom: 10px;
  margin-bottom: 10px; }

.itemlist {
  padding: 20px;
  border-bottom: 1px solid #eee; }

.list-inline {
  margin-bottom: 0; }

.list-inline-item {
  vertical-align: middle; }

/* --------- description list --------*/
dl[class="row"] {
  margin-bottom: 0; }

[class*="dlist-"] {
  margin-bottom: 5px; }
[class*="dlist-"] dd {
  margin-bottom: 0; }

.dlist-inline dt, .dlist-inline dd {
  display: inline-block; }

.dlist-align {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
.dlist-align dt {
  width: 120px;
  word-wrap: break-word;
  font-weight: normal; }
.dlist-align dd {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1; }

/* -------------------- list.row--------------------- */
ul.row, ul.row-sm {
  list-style: none;
  padding: 0; }

/* ================= lists ================= */
[class*="list-"] li:after {
  visibility: hidden;
  display: block;
  content: "";
  overflow: hidden;
  height: 0;
  clear: both; }

.list-icon {
  list-style: none;
  padding-left: 0; }
.list-icon li {
  margin-bottom: 7px;
  position: relative;
  padding-left: 30px; }
.list-icon .icon {
  width: 22px;
  margin-right: 15px;
  vertical-align: middle;
  text-align: center;
  color: #545454;
  position: absolute;
  top: 3px;
  left: 0; }
.list-icon span {
  vertical-align: middle; }

.list-bullet {
  list-style: none;
  padding-left: 0; }

.list-bullet li {
  margin-bottom: 5px;
  position: relative;
  padding-left: 15px; }

.list-bullet li::before {
  content: " ";
  position: absolute;
  top: 8px;
  left: 0;
  width: 7px;
  border-radius: 100%;
  height: 7px;
  background: #ced4da; }

.list-check {
  padding-left: 0;
  list-style: none; }
.list-check > li {
  position: relative;
  padding-left: 24px;
  margin-bottom: 7px; }
.list-check > li::before {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  font-size: 12px;
  color: #00b517;
  position: absolute;
  top: 2px;
  left: 0;
  content: "\f00c"; }

.list-normal {
  list-style: none;
  padding-left: 0; }
.list-normal li {
  padding-left: 1em;
  margin-bottom: 7px; }
.list-normal li:before {
  content: "\2022";
  color: #FF9900;
  display: inline-block;
  width: 1em;
  margin-left: -1em; }

.cols-two {
  -webkit-column-count: 2;
  column-count: 2; }

.cols-three {
  -webkit-column-count: 3;
  column-count: 3; }

.cols-four {
  -webkit-column-count: 4;
  column-count: 4; }

/* IF CARD IS LINKED */
a[class*='card'] {
  color: initial; }
a[class*='card']:hover .title {
  color: #FF9900; }

/* GRID STYLE PRODUCT ITEM */
.card-product {
  margin-bottom: 20px;
  margin-right: 1px;
  margin-left: 1px; }
.card-product a.title {
  color: #212529;
  display: block; }
.card-product a.title:hover {
  color: #FF9900; }
.card-product .img-wrap {
  height: 220px; }
.card-product .img-wrap img {
  height: 100%;
  max-width: 100%;
  width: auto;
  display: inline-block;
  -o-object-fit: cover;
  object-fit: cover; }
.card-product .nav-color {
  text-align: center; }
.card-product p {
  margin-bottom: 0; }
.card-product .info-wrap {
  overflow: hidden;
  padding: 18px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
.card-product .info-wrap .text {
  max-width: 200px; }
.card-product .info-wrap .action {
  text-align: right;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1; }
.card-product .info-wrap .title {
  margin-bottom: 0;
  font-weight: normal;
  color: #969696; }
.card-product .bottom-wrap {
  padding: 18px;
  border-top: 1px solid #eaeaea; }
.card-product .topbar {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10;
  left: 0;
  text-align: initial;
  padding: 10px 15px; }
.card-product .topbar a {
  color: #ccc; }
.card-product .topbar a:hover {
  color: #FF9900; }
.card-product:hover {
  -webkit-box-shadow: 0 4px 10px rgba(153, 153, 153, 0.2);
  box-shadow: 0 4px 10px rgba(153, 153, 153, 0.2);
  -webkit-transition: .3s;
  transition: .3s; }

.card-sm .img-wrap {
  height: 160px; }

.card-lg .img-wrap {
  height: 280px; }

.card-banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  overflow: hidden;
  background-color: #fff;
  background-size: cover;
  background-position: center center; }
.card-banner .card-body {
  background-size: cover;
  position: relative;
  z-index: 10; }
.card-banner .title {
  font-family: 'Merriweather', 'Times', serif;
  font-size: 28px; }
.card-banner .caption {
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 10;
  padding: 45px;
  color: #fff;
  width: 100%; }
.card-banner .caption.bottom {
  bottom: 0;
  left: 0;
  position: absolute;
  width: 100%; }
.card-banner .caption.top {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%; }
.card-banner .caption.left {
  top: 0;
  left: 0;
  bottom: 0;
  position: absolute; }
.card-banner .text-bottom {
  position: absolute;
  left: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  padding: 7px 20px;
  padding-top: 30px;
  border-radius: 0 0 0.37rem 0.37rem;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.8)));
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
  color: #fff; }
.card-banner .img-bg {
  position: absolute;
  right: 0;
  bottom: 0;
  mix-blend-mode: multiply;
  max-width: 100%; }

.card .img-wrap {
  overflow: hidden; }

.nav-color {
  line-height: 1; }
.nav-color .btn-color {
  width: 18px;
  height: 18px;
  border-radius: 100%;
  display: inline-block;
  background-color: #ccc;
  margin: 0 4px;
  position: relative; }
.nav-color .btn-color:hover {
  -webkit-transform: scale(1.14);
  transform: scale(1.14);
  -webkit-transition: .2s;
  transition: .2s; }
.nav-color .btn-color.active:after {
  content: " ";
  width: 26px;
  height: 26px;
  position: absolute;
  top: -4px;
  left: -4px;
  border: 3px solid #969696;
  border-radius: 100%; }

.item-comment {
  margin-bottom: 20px; }

.color-lg {
  margin-top: 15px;
  margin-bottom: 30px; }
.color-lg .btn-color {
  width: 24px;
  height: 24px;
  border-radius: 100%;
  display: inline-block; }
.color-lg .btn-color.active:after {
  content: " ";
  width: 32px;
  height: 32px;
  position: absolute;
  top: -4px;
  left: -4px;
  border: 3px solid #969696;
  border-radius: 100%; }

.js-check {
  /*border: 1px solid #E0E0E0;*/
  padding-left: 40px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-right: 20px;
  margin-right: 5px; }
.js-check.active {
  background: #F7F7F7; }

.card-check {
  position: relative;
  padding-left: 20px;
  padding-top: 18px;
  padding-bottom: 18px;
  line-height: 1.3;
  border-width: 3px; }
.card-check:hover {
  -webkit-box-shadow: inset 0 0 10px #ddd;
  box-shadow: inset 0 0 10px #ddd; }
.card-check .title {
  margin-left: 25px; }
.card-check input {
  position: absolute;
  top: 20px;
  left: 20px; }
.card-check .img-thumb {
  height: 100px;
  float: right;
  mix-blend-mode: multiply; }

.icontext {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  vertical-align: middle; }
.icontext p {
  margin-bottom: 0; }
.icontext .text {
  width: 100%; }
.icontext .icon {
  position: relative;
  margin-right: 15px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0; }
.icontext .title {
  display: block;
  margin-bottom: 0; }

.tag {
  display: inline-block;
  padding: 3px 7px;
  background: #f2f2f2;
  border: 1px solid #eee;
  border-radius: 3px;
  margin-top: 4px;
  margin-right: 2px;
  font-size: 85%; }

.item-logo {
  margin-bottom: 20px;
  text-align: center; }
.item-logo img {
  max-height: 65px; }

.notify {
  position: absolute;
  top: -4px;
  right: -10px;
  display: inline-block;
  padding: .25em .6em;
  font-size: 12px;
  line-height: 1;
  text-align: center;
  border-radius: 3rem;
  color: #fff;
  background-color: #fa3434; }

.price {
  font-weight: 600;
  color: #212529; }

.price-old {
  color: #969696;
  margin-left: 3px;
  font-size: 85%; }

.icon-control {
  margin-top: 5px;
  float: right;
  font-size: 80%; }

.card-header .title {
  margin-bottom: 0;
  line-height: 1.5; }

.filter-group {
  border-bottom: 1px solid #eaeaea; }
.filter-group .card-header {
  border-bottom: 0; }
.filter-group:last-child {
  border-bottom: 0; }

/* ====================== block ==================== */
.box {
  padding: 20px;
  border: 1px solid #eaeaea; }
.box img {
  max-width: 100%; }

/* ================= RATINGS ============== */
.label-rating {
  margin-left: 7px;
  display: inline-block;
  vertical-align: middle; }

/* rating-list */
.rating-stars {
  display: inline-block;
  vertical-align: middle;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  white-space: nowrap;
  clear: both; }
.rating-stars i {
  font-size: 14px;
  color: #ccc;
  display: inline; }
.rating-stars li {
  display: block;
  text-overflow: clip;
  white-space: nowrap;
  z-index: 1; }
.rating-stars li.stars-active {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden; }
.rating-stars li.stars-active i {
  color: orange; }

/* ================= TRACKING ============== */
.tracking-wrap {
  position: relative;
  background-color: #ddd;
  height: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 70px;
  margin-top: 15px; }
.tracking-wrap .step {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  width: 25%;
  margin-top: -18px;
  text-align: center;
  position: relative; }
.tracking-wrap .step::before {
  height: 7px;
  position: absolute;
  content: "";
  width: 100%;
  left: 0;
  top: 18px; }
.tracking-wrap .icon {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  position: relative;
  border-radius: 100%;
  background: #ddd; }
.tracking-wrap .text {
  display: block;
  margin-top: 7px;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 500;
  color: #969696; }
.tracking-wrap .step.active .icon {
  background: #FF9900;
  color: #fff; }
.tracking-wrap .step.active .text {
  color: #212529; }
.tracking-wrap .step.active:before {
  background: #FF9900; }

.list-menu a {
  color: #343a40; }
.list-menu i {
  width: 24px;
  color: #969696;
  margin-right: 7px; }
.list-menu .active i {
  color: #fff; }

.form-inline input[type='number'] {
  max-width: 100px; }

.input-spinner {
  width: 140px;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  vertical-align: middle; }
.input-spinner input.form-control {
  text-align: center;
  max-width: 46px;
  -ms-flex-preferred-size: 46px;
  flex-basis: 46px;
  border-color: #eaeaea;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0; }
.input-spinner .btn {
  width: 46px;
  text-align: center; }

.checkbox-btn {
  position: relative; }
.checkbox-btn input {
  position: absolute;
  z-index: -1;
  opacity: 0; }
.checkbox-btn input:checked ~ .btn {
  border-color: #FF9900;
  background-color: #FF9900;
  color: #fff; }

/* ================== PAGES =================== */
/* ================ PAGES HEADER ================== */
.section-pagetop {
  padding: 20px 0;
  background-color: #ffe6c5; }
.section-pagetop a {
  color: #c39049; }
.section-pagetop a:hover {
  color: #212529; }

.title-page {
  font-family: 'Merriweather', 'Times', serif;
  margin-bottom: 0; }

/*.tab-content > .tab-pane {*/
/*display: block;*/
/*!* undo display:none          *!*/
/*height: 0;*/
/*!* height:0 is also invisible *!*/
/*visibility: hidden; }*/

.tab-content > .active {
  height: auto;
  visibility: visible; }

.section-intro {
  position: relative;
  overflow: hidden;
  min-height: 580px; }
.section-intro .img-intro {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  bottom: 0;
  -o-object-fit: cover;
  object-fit: cover; }
.section-intro .container {
  position: relative;
  z-index: 10; }

.intro-banner {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  padding-top: 100px;
  padding-bottom: 100px; }

.intro-wrap {
  margin-top: 40px; }
.intro-wrap .btn {
  border: 0;
  -webkit-box-shadow: 0 1px 2px rgba(33, 37, 41, 0.1);
  box-shadow: 0 1px 2px rgba(33, 37, 41, 0.1);
  padding-left: 20px;
  padding-right: 20px; }
.intro-wrap .btn:hover {
  color: #FF9900; }

.title-intro {
  font-family: 'Merriweather', 'Times', serif;
  font-size: 48px; }

.cat-img-home {
  text-align: center; }
.cat-img-home img {
  width: 240px;
  height: 240px;
  border-radius: 100%;
  border: 4px solid transparent; }
.cat-img-home .title {
  font-size: 18px;
  font-family: 'Merriweather', 'Times', serif; }
.cat-img-home a {
  color: initial; }
.cat-img-home:hover img {
  border: 4px solid #FF9900;
  -webkit-transition: .3s;
  transition: .3s; }

.items-include-wrap img {
  margin-left: 20px;
  margin-right: 20px; }
.items-include-wrap i {
  color: #f1a22c; }

.item-step-home .icon {
  width: 48px;
  margin-bottom: 20px; }

.banner-wide {
  background-color: #FFE9B4;
  padding: 30px;
  background-repeat: no-repeat;
  background-position: left top;
  background-size: auto 100%; }

/* ================== PAGE DETAILS ==================  */
.gallery-wrap .img-big-wrap {
  margin-bottom: 10px;
  border-radius: 0.37rem;
  overflow: hidden;
  background-color: #fff; }
.gallery-wrap .img-big-wrap a {
  text-align: center;
  display: block; }
.gallery-wrap .img-big-wrap img {
  max-height: 450px;
  width: auto;
  display: inline-block;
  cursor: -webkit-zoom-in;
  cursor: zoom-in; }
.gallery-wrap .thumbs-wrap {
  text-align: center; }
.gallery-wrap .thumbs-wrap .item-thumb {
  width: 100px;
  height: 50px;
  border: 1px solid #ddd;
  margin: 3px;
  display: inline-block;
  overflow: hidden; }
.gallery-wrap .thumbs-wrap img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 4px;
  cursor: -webkit-zoom-in;
  cursor: zoom-in; }
.gallery-wrap .thumbs-wrap img:hover {
  -webkit-filter: brightness(1.1);
  filter: brightness(1.1);
  cursor: -webkit-zoom-in;
  cursor: zoom-in; }

.item-option-select {
  margin-bottom: 1rem;
  display: inline-block;
  margin-right: 15px; }
.item-option-select .btn {
  min-width: 80px; }

/* ================ PAGES HEADER ================== */
.nav-filter .nav-link {
  color: #343a40; }
.nav-filter .nav-link:hover {
  color: #FF9900; }
.nav-filter .dropdown-menu {
  min-width: 200px; }

.lens-selection-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
.lens-selection-wrap .card-check {
  margin-right: 0 !important;
  width: calc(50% - 10px); }

.item-shopping-cart {
  margin-bottom: 20px; }
.item-shopping-cart table td, .item-shopping-cart table th {
  vertical-align: middle;
  padding: 0.5rem; }
.item-shopping-cart .table-sum td {
  border-top: none; }

